<div class="toolbar-btn js-btn {{customClass}} {{brightnessClass}}" tabindex="0">
    {{#if iconClass}}
    <div class="toolbar__icons">
        <i class="{{iconPrefixer iconClass}}" aria-hidden="true"></i>
    </div>
    {{/if}}
    <span class="toolbar-btn__text">{{text}}</span>
</div>