<div class="showcase">
    <div class="showcase__content-wrapper">
        <div class="js-content-region"></div>
    </div>
    <div class="showcase__footer">
        <div class="showcase__count">
            <span>{{localize 'CORE.LAYOUT.SHOWCASE.COUNT'}}: {{totalCount}}</span>
        </div>
        <div class="showcase__paging">
            <div class="showcase__arrow-container">
                <div class="js-left-arrow showcase__arrow showcase__arrow_left"></div>
            </div>
            <div class="showcase__arrow-container">
                <div class="js-right-arrow showcase__arrow showcase__arrow_right"></div>
            </div>
        </div>
        <div class="showcase__grouping">
            <div class="showcase__grouping-name">
                <span>{{localize 'CORE.LAYOUT.SHOWCASE.SHOWBY'}}: </span>
            </div>
            <div class="js-grouping-region showcase__grouping-dropdown"></div>
        </div>
    </div>
</div>