<div class="carousel">
    <div class="carousel__content-wrapper">
        <div class="js-left-arrow carousel__arrow carousel__arrow_left"><i class="{{iconPrefixer 'angle-left'}}"></i></div>
        <div class="js-right-arrow carousel__arrow carousel__arrow_right"><i class="{{iconPrefixer 'angle-right'}}"></i></div>
        <div class="js-content-region"></div>
    </div>
    <div class="js-dots-region"></div>
</div>