<div class="js-remove user-avatar-editor__empty">X</div>
<div class="js-initials user-avatar-editor__txt"></div>
<div class="js-tooltip user-avatar-editor__btn"><span class="user-avatar-editor-btn">Change avatar</span></div>