<input class="input input_number js-input" type="text">
<div class="number-btn number-btn_up js-spinner-up js-spinner-button"></div>
<div class="number-btn number-btn_down js-spinner-down js-spinner-button"></div>
