{{#each columns}}
    <div class="grid-header-column {{columnClass}}" title="{{title}}">
    {{#unless alignRight}}<div class="grid-header-column-title">{{title}}</div>{{/unless}}
        <span class="js-help-text-region collection-grid-header__help"></span>
    {{#if alignRight}}<div class="grid-header-column-title">{{title}}</div>{{/if}}
        <div class="grid-header-dragger"></div>
    </div>
{{/each}}