<div class="js-grid-selection-panel-wrp grid-selection-panel-wrp">
    <div class="js-grid-selection-header-view"></div>
    <div class="js-grid-selection-panel-view grid-selection-panel-region"></div>
</div>
<div class="grid-content-wrp">
    <div class="js-grid-header-view grid-header-view"></div>
    <div class="js-grid-content-view grid-content-view"></div>
</div>
<div class="js-nocolumns-view-region"></div>