{{#unless alignRight}} {{displayText}} {{/unless}}
{{#if sortingAsc}} <span class="sort_down"></span>{{/if}}
{{#if sortingDesc}} <span class="sort_up"></span>{{/if}}
{{#if alignRight}} {{displayText}} {{/if}}