{{#unless alignRight}}{{displayText}}&nbsp;{{/unless}}
{{#if sortingAsc}}<span class="sort_down"></span>{{/if}}
{{#if sortingDesc}}<span class="sort_up"></span>{{/if}}
{{#if alignRight}}&nbsp;{{displayText}}{{/if}}