<div class="form-label">
    <div class="js-grid-title form-label__txt"></div>
    <div class="js-help-text-region form-label__info"></div>
    <div class="js-error-text-region form-label__error"></div>
</div>
<div class="toolbar js-grid-tools">
    <div class="js-grid-tools-toolbar-region toolbar__i toolbar__i_left"></div>
    <div class="js-grid-tools-search-region toolbar__i toolbar__i_right"></div>
</div>
<div class="grid-table-wrapper-war">
    <div class="grid-table-wrapper">
        <div class="grid-content-wrp js-grid-content">
            <div class="js-grid-header-view grid-header-view"></div>
            <div class="js-grid-content-view grid-content-view"></div>
        </div>
    </div>
</div>
<div class="js-grid-loading-region"></div>