<div class="js-grid-loading-region"></div>
<div class="grid-toolbar-wrp js-grid-tools">
    <div class="js-grid-tools-search-region grid-toolbar__search"></div>
    <div class="js-grid-tools-toolbar-region grid-toolbar-region"></div>
</div>
<div class="grid-header-wrp js-grid-header">
    <div class="js-grid-selection-header-view grid-selection-cell-all"></div>
    <div class="js-grid-header-view grid-header-view"></div>
</div>
<div class="grid-content-wrp js-grid-content">
    <div class="js-grid-selection-panel-view grid-selection-panel-region"></div>
    <div class="js-grid-content-view grid-content-view"></div>
</div>
<div class="js-nocolumns-view-region"></div>