{{#if draggable}}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
    viewBox="0 0 2 35" xml:space="preserve">
    <circle cx="1" cy="15" r="1"></circle>
    <circle cx="1" cy="18" r="1"></circle>
    <circle cx="1" cy="21" r="1"></circle>
</svg>
{{/if}} {{#if index}}
<span class="js-index cell__index">
    {{index}}
</span>
{{/if}}
<div class="checkbox js-checkbox">
    <svg class="svg-icons-wrp_checked svg-icons svg-icons_checked">
        <use xlink:href="#icon-checked" /> </svg>
</div>