{{#if index}}
<span class="js-index cell__index">
    {{index}}
</span>
{{/if}}
{{#if showCheckbox}}
<div class="checkbox js-checkbox">
    <svg class="svg-icons-wrp_checked svg-icons svg-icons_checked">
        <use xlink:href="#icon-checked" /> </svg>
</div>
{{/if}}