{{#enableSearch}}
<div class="dd-list__filter">
    <div class="list-search list-search_dd">
        <input type="text" class="list-search__input js-input" placeholder="{{localize 'CORE.FORM.EDITORS.DROPDOWN.SEARCH'}}">
    </div>
</div>
{{/enableSearch}}
<div class="js-list-region dropdown-panel-view__list-region"></div>
<div class="js-scrollbar-region dropdown-panel-view__scrollbar-region"></div>