<div class="branch-header">
    <div class="branch-header-name">{{text}}</div>
    <i class="js-eye-btn eye-btn {{iconPrefixer 'eye'}}"></i>
</div>
<div class="js-branch-collection branch-collection"></div>