<div class="js-tree-item branch-header tree-item">
    <i class="js-expand-btn expand-btn {{iconPrefixer expandIconClass}}"></i>
    <span class="branch-header-name js-expand-btn">{{text}}</span>
    <i class="js-eye-btn eye-btn {{iconPrefixer eyeIconClass}}"></i>
</div>
<div class="js-branch-collection branch-collection"></div>