<div class="js-tree-item branch-header tree-item">
    <i class="js-expand-btn expand-btn {{iconPrefixer expandIconClass}}"></i>
    <div class="branch-header-name">{{text}}</div>
    <i class="js-eye-btn eye-btn {{iconPrefixer eyeIconClass}}"></i>
</div>
<div class="js-branch-collection-container branch-collection" {{#if collapsed}} hidden {{/if}}></div>