<div class="js-tree-item branch-header tree-item {{#if collapsed}}collapsed{{/if}}">
    <div class="drag-wrap" draggable="true">⋮</div>
    <div class="checkbox js-checkbox">{{#if isVisible}}<i class="js-check fas fa-check"></i>{{/if}}</div>
    <span class="branch-header-name js-collapse-btn">{{text}}</span>
    <i class="js-collapse-btn collapse-btn {{iconPrefixer collapseIconClass}}"></i>
</div>
<div class="js-branch-collection branch-collection" {{#if collapsed}}style="display: none" {{/if}}></div>
