node_modules/
.project
.idea/
localization/.backup/
demo/public/assets/
reports/
dist/core.js.map
dist/core.css
dist/core.js
dist/core.min.css
dist/core.min.js.map
dist/core.min.js
dist/core.min.css.map
