<div class="js-module-loading-region dev-default-content-view__module-loading-region"></div>
<div class="dev-default-content-view__header">
    <div class="js-back-button dev-default-content-view__header__back-button">
        <svg class="top-nav__backArrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="11px" height="18px" viewBox="0 0 11.004 18" enable-background="new 0 0 11.004 18" xml:space="preserve"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M11.004,16l-7-7l7-7l-2-2L0,9l9.004,9L11.004,16z"/></svg>
        <span class="js-back-button-text"></span>
    </div>
    <div class="js-header-tabs-region dev-default-content-view__header__tabs-region"></div>
    <div class="dev-default-content-view__company-link"><a href="http://comindware.com" class="dev-default-content-view__company-link__a">Comindware</a></div>
    <div class="js-profile-region dev-default-content-view__profile-region"></div>
</div>
<div class="js-module-region dev-default-content-view__module-region"></div>