/* ------------------ Form Editor ------------------ */
.editor {
    font-size: var(--editor-font-size);
    color: var(--editor-text-color);
}

.editor_bubble,
.editor_document {
    line-height: inherit;
    height: auto;
}

.editor_document .btn {
    margin-right: 5px;
}

.editor_code {
    height: inherit;
}

.bubbles__form {
    height: 26px;
}

/*
.editor_code:after{
  display: none;
}

.editor:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--blue-100);
  left: 0;
  bottom: -1px;
  width: 0;
  transition: width .4s;
}
.editor_focused:after {
  width: 100%;
}
.editor_readonly:after,
.editor_disabled:after{
    width: 0;
}

.editor_checkbox:after,
.editor_radiobutton:after {
  width: 0;
} */

.editor_checkbox {
    height: 18px;
    line-height: 18px;
}

.editor_disabled .bubbles,
.editor_disabled .bubbles:hover,
.editor_readonly .bubbles,
.editor_readonly .bubbles:hover {
    border-bottom-color: transparent;
    background: transparent;
}

.cell > .editor {
    height: 25px;
    padding: 0 5px;
}

/* ------------------ Input ------------------ */
.input {
    padding: var(--input-padding);
}

.input:hover {
    border-color: var(--input-hover-color);
}

.tr-search {
    position: relative;
}

.tr-search_compact .tr-search-icon {
    font-size: 15px;
}

.textarea:hover {
    border-color: var(--input-hover-color);
}

.checkbox {
    border-radius: var(--checkbox-radius);
}

.editor_focused .checkbox,
.editor_focused .radiobutton {
    box-shadow: 0 0 5px rgba(47, 152, 248, .5);
}

.checkbox-text {
    line-height: 18px;
}

.editor_radiobutton {
    height: 19px;
    line-height: 19px;
}

.radiobutton {
    transition: box-shadow .5s;
}

/* ------------------ SVG Icons ------------------ */

.svg-icons_remove {
    transform: translate(6px, 5px);
}

.svg-icons_date {
    transform: translate(3px, 2px);
}

.svg-icons_time {
    transform: translate(2px, 1px);
}

.svg-icons_dropdown {
    transform: translate(7px, 6px);
}

.svg-icons_member {
    transform: translate(2px, 1px);
}

.svg-icons_checked {
    transform: scale(1.2) translate(3px, 4px);
}

.editor_checked .svg-icons_checked {
    transform: scale(1.7) translate(2px, 3px);
}

.editor_checked .svg-icons_checked-reference {
    transform: scale(1.7) translate(2px, 3px);
}

.cell svg.svg-grid-icons {
    height: 17px;
    transform: translateY(50%);
}

.svg-icons_multiselect {
    transform: scale(.9) translate(0, 1px);
}

.svg-icons_attach {
    transform: scale(.8) translate(0, -1px);
}

.svg-icons-wrp__empty {
    width: 20px;
    height: 20px;
}

.svg-icons-wrp_add {
    left: 0;
    right: auto;
    top: 50%;
    margin-top: -10px;
}

.bubbles .editor__icons {
    font-size: 14px;
}

.d-svg-icons {
    fill: #8d8888;
}

.d-svg-icons_remove {
    fill: #ca4e30;
}

.d-svg-icons_plus {
    fill: #4d4d4d;
}

.d-svg-icons_checked {
    fill: #0575bd;
}

/* ------------------ Grid/List ------------------ */

.cell .checkbox_cell-selection {
    visibility: hidden;
}

.cell:hover .checkbox_cell-selection {
    visibility: visible;
}

.cell .svg-icons {
    margin-top: 2px;
}

.cell-focused .input,
.cell .input:hover,
.cell .editor_date-time:hover {
    padding-right: 18px;
}

/* .cell .svg-icons.svg-icons_remove-bubble {
  margin-top: 1px;
} */

.cell .svg-icons_checked {
    margin: -1px 0 0 1px;
}

.cell .svg-icons_attach {
    margin: 0;
}

.cell .editor > div {
    height: 100%;
    line-height: initial;
}

/* Date Time */

.editor_date-time:hover {
    border-color: var(--input-hover-color);
}

.editor_date-time {
    padding-right: 16px;
}

.editor_date-time .input {
    padding-right: 0;
}

/* /Date Time/ */

/* Button */
.btn-icon {
    font-size: 14px;
}

.btn:hover .btn__text {
    color: #000000;
}

.btn:active .btn__text {
    color: #000000;
}

/* Tabs */

.layout__tab-layout_move-button {
    @apply --tab-move-btn-theme;
}

.layout__tab-layout_move-button .svg-icons_dropdown {
    width: 35px;
    height: 35px;
    transform: rotate(-90deg) translate(5px, -2px);
}

.layout__tab-layout_move-button.prev-layout_move-button .svg-icons_dropdown {
    transform: rotate(90deg) translate(12px, 19px);
}

.layout__tab-layout_move-button .d-svg-icons {
    fill: red;
}

.toolbar-btn_low,
.toolbar-btn_normal,
.toolbar-btn_major,
.toolbar-btn_critical,
.toolbar-btn_fatal {
    z-index: 2;
}

.toolbar-btn__text {
    display: inline-flex;
    vertical-align: initial;
}

.cell .toolbar-btn {
    height: 22px;
    line-height: 22px;
    padding: 0 15px;
}

.grid-toolbar-region {
    padding-left: 5px;
}

.bubbles:hover {
    border-bottom-color: #b9bcbd;
}

.editor:not(.editor_readonly).bubbles__i:hover,
.editor:not(.editor_disabled).bubbles__i:hover {
    background: #f0f0f0;
}

/* ------------------ Form Label ------------------ */
.form-label__info-button,
.form-label__error-button {
    opacity: 0.8;
}

.form-label__info-button:hover,
.form-label__error-button:hover {
    opacity: 1;
}

.form-label:not(.form-label--empty) + .editor_document,
.form-label:not(.form-label--empty) + .editor_checkbox {
    padding-left: var(--form-input-padding);
}

.disabled .form-label {
    color: var(--grey-800);
}

.form-label_required {
    padding-left: 10px;
    position: relative;
}

.required .form-label__txt,
.form-label_required .form-label__txt {
    padding-right: 7px;
}

.cell.required::before {
    margin: 0 0 0 1px;
}

.cell.error.required::before {
    display: none;
}

.layout__vertical-layout > div,
.layout__vertical-layout-item {
    margin-bottom: 10px;
}

.group-toggle svg {
    transform: translateY(2px);
}

.layout__group-collapsed__button svg {
    transform: rotate(+90deg) translate(1px);
}

.group-title.layout__group-collapsed__button {
    transform: rotate(0);
}

.layout__popup-view-window {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.layout__popup-view-header__btn:hover {
    background: #f7f6f6;
    border-color: #dfe4e8;
}

.layout__popup-view-header__btn:active {
    box-shadow: inset 1px 1px 3px rgba(200, 200, 200, .7);
}

.btn.btn_arrow {
    width: 26px;
    height: 26px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 26px;
    background: #f7f6f6 50% 50% no-repeat;
}

.layout__horizontal-layout-list {
    margin-left: -10px;
    margin-right: -10px;
}

.layout__horizontal-layout-list-item {
    padding-left: 10px;
    padding-right: 10px;
}

.grid-header-column {
    height: 26px;
}

.toolbar,
.toolbar-dataset {
    height: 30px;
    padding: 0 10px;
}

.toolbar-items-wrp,
.toolbar-btn,
.tree-editor-btn {
    height: 24px;
}

.split-button-wrp {
    border: none;
    height: 24px;
}

/*
.toolbar .toolbar-btn, .toolbar-dataset .toolbar-btn {
  line-height: 1.3
}
*/

.dataset-footer {
    height: 27px;
}

.top-nav {
    height: 30px;
    line-height: 29px;
}

.top-nav_icon {
    min-width: 30px;
}

.top-nav_icon > .icon_icon {
    font-size: 16px;
}

.top-nav__i_person {
    width: 40px;
}

.top-nav .composite-user-abr__container,
.top-nav .composite-user-abr__container img,
.bubbles__i .composite-user-abr__container,
.bubbles__i .composite-user-abr__container img {
    height: 19px;
    width: 19px;
    flex-basis: 19px;
    line-height: 19px;
}

/* -------------------- Left Menu Header -------------------- */
.left-menu__logo {
    min-height: 60px;
}

.left-menu-logo.left-menu-logo_comindware {
    height: 40px;
}

.left-menu_small .left-menu-logo.left-menu-logo_comindware {
    height: 30px;
}

.left-menu-view-switcher .toolbar__icons_arrow {
    margin: 0 0 0 4px;
}

.left-menu-view-switcher__container .toolbar-btn {
    font-size: 13px;
    padding: 3px 15px;
}

/* -------------------- Left Menu List -------------------- */
.left-menu-i-group {
    padding-left: 12px;
}

.left-menu-i-group .left-menu__list-l,
.left-menu-i-group .left-menu__item {
    padding-left: 17px;
}

.left-menu-i-group .left-menu-i.action {
    margin: 0 3px 0 0;
    max-width: calc(100% - 18px);
}

.left-menu__list-g .checkbox {
    margin-right: 3px;
}

.left-menu-collapse__wrapper {
    margin-right: 0;
}

.left-menu-i {
    padding: 3px 0 4px;
    height: 25px;
}

.left-menu-i__icon {
    margin-right: 3px;
}

.left-menu-i__icon,
.left-menu-collapse,
.left-menu-switcher__icon {
    font-size: 17px;
}

.left-menu-i.workspace > .left-menu-i__text {
    font-size: 14px;
}

.left-menu-i__text,
.left-menu-switcher__text,
.left-menu-search .tr-search__input {
    font-size: 13px;
}

/* -------------------- Left Menu Footer -------------------- */
.left-menu-switcher {
    height: 26px;
    line-height: 26px;
}

/* -------------------- // -------------------- */
.top-nav_icon > .icon_text {
    font-size: 11px;
    padding: 0 4px;
    min-height: 16px;
    line-height: 15px;
    left: 19px;
    top: 3px;
}
