<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Core UI demo page</title>

		<!-- core UI styles -->
		<link rel="stylesheet" href="/scripts/dist/styles.bundle.css" />

        <!-- Demo page styles -->
		<link rel="stylesheet" href="/styles/demo.css" />
		<link rel="stylesheet" href="/styles/master.css" />
		<link rel="stylesheet" href="/styles/master-new.css" />
		<link rel="stylesheet" href="/scripts/lib/prism/prism.css" />

        {{#if compiled}}
            <script data-main="/scripts/Init.compiled.js" src="/scripts/lib/requirejs/require.js"></script>
        {{else}}
            <script data-main="/scripts/Init.js" src="/scripts/lib/requirejs/require.js"></script>
        {{/if}}
	</head>
	<body>
		<a href="#">Menu</a>
		<div class="js-fading-region fading-container hidden"></div>
		<div class="js-popup-region popup-container hidden"></div>
		<div class="js-content-region"></div>
	</body>
</html>