<div class="nav-profile__user">
    <div class="nav-profile__avatar">
        <div>
            <div class="user-avatar user-avatar_edit" id="avatar-1546">
                <input type="hidden" name="UserpicNewId" value="" id="UserpicNewId">
                <input type="file" name="avatarId" id="input-1547" accept="image/*" class="user-avatar__upload" style="/">
                <div class="user-avatar__img" style="background-image: url(/GetUserpic.ashx?id=account.119&amp;streamId=stream:///af35da3c-3f85-4b2e-94eb-8707e36e1b36)" id="image-1548"></div>
                <a href="javascript:void(0)" id="remove-1549" class="button-delete button-delete_avatar"></a>
                <div class="user-avatar__txt-wrp">
                    <div id="buble" class="user-avatar__txt">Change photo...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-profile__name">Nataliya Artemenko</div>
    <a href="javascript:void(0);">View profile</a>
</div>
<div class="nav-profile__links">
    <div class="js-date-editor-region"></div>
    <a href="javascript:void(0);" class="nav-profile__link">Notifications</a>
    <a href="/#demo/editors/TextEditor/default" class="nav-profile__link">About and Extras</a>
</div>
<div id="signOut" class="nav-profile__logout" title="Logout">Logout</div>