{{#if avatarUrl}}
    <span style="background-image: url({{avatarUrl}});" class="member-icon member-icon_list"></span>
{{else}}
{{#if abbreviation}}
    <span class="member-icon member-icon_list member-icon_abr">{{abbreviation}}</span>
{{/if}}
{{/if}}
<span class="js-name member-text">{{name}}</span>