<div class="document-buttons__list">
    <div class="document-buttons">
        <i class="document-buttons__i {{iconPrefixer icon}}"></i>
        {{#if url}}
        <a class="document-buttons__link js-link" target="_blank" href="{{url}}" rel="noopener" title="{{text}}" download="{{text}}">{{text}}</a>
        {{else}}
        <span>{{text}}</span>
        {{/if}}
        {{#if isInline}}
        {{#if editLink}}
        <a href="{{editLink}}" class="js-document-edit-btn" title="{{localize 'CORE.FORM.EDITORS.DOCUMENT.EDIT'}}">
            <i class="{{iconPrefixer 'pencil'}}"></i></span>
        </a>
        {{/if}}
        {{/if}}
    </div>
    <div class="js-btn-tooltip-region document_tooltip"></div>
</div>
{{#if isInline}}
<div class="document-embedded">
    <object data="{{url}}" class="document-embedded-content" type="{{embeddedType}}"></object>
</div>
{{/if}}
