{{#unless isSingleRevision}}<td>{{version}}</td>{{/unless}}
<td>{{creationDate}}</td>
<td>{{creator}}</td>
{{#unless isSingleRevision}}
<td><a href="{{url}}" target="_blank" class="fr-btn fr-btn_download">
    <span class="fr-btn__icon">
        <svg  viewBox="0 0 20 20" width="20px" height="20px" class="svg-icons svg-icons_download">
            <polygon class="d-svg-icons d-svg-icons_download" points="17,14 17,17 3,17 3,14 1,14 1,19 19,19 19,14 	"/>
	        <polygon class="d-svg-icons d-svg-icons_download" points="14,10 10.8,10 10.8,1 9.3,1 9.3,10 6,10 10,15 	"/>
        </svg>
    </span>
</a></td>
{{/unless}}