<div class="document-item__container">
    {{#if url}}
    <a class="document-item__link js-link" target="_blank" href="{{url}}" rel="noopener" title="{{text}}" download="{{text}}">
        <i class="document-item__i {{iconPrefixer icon}}" title="{{statusTitle}}"></i>
        {{~text~}}
    </a>
    {{else}}
    <span class="document-item__title">
        <i class="document-item__i {{iconPrefixer icon}}" title="{{statusTitle}}"></i>
        {{~text~}}
    </span>
    {{/if}}
    <div class="document-item__tooltip js-btn-tooltip-region"></div>
</div>

{{#if isInline}}
<div class="document-embedded">
    <object data="{{url}}" class="document-embedded-content" type="{{embeddedType}}"></object>
</div>
{{/if}}
