<div class="image-item__container">
    <div class="js-revise-button-region"></div>
    <a class="image-item__link js-link" target="_blank" href="{{url}}" rel="noopener" title="{{text}}" download="{{text}}">
        <div class="image-item__picture">
            {{#if isLoading}}
                <i class="image-item__loading {{iconPrefixer 'spinner pulse'}}"></i>
            {{else}}
                <img class="image-item__img" src="{{url}}" alt=""/>
            {{/if}}

            <div class="image-item__meta">
                <div class="image-item__author">{{creator}}</div>
                <div class="image-item__date">{{creationDate}}</div>
                <div class="image-item__tooltip js-btn-tooltip-region"></div>
            </div>
        </div>
        {{#unless showAsPicture}}<div class="image-item__title">{{text}}</div>{{/unless}}
    </a>
</div>
