{{#if url}}
<a class="task-links__link js-link" target="_blank" href="{{url}}" title="{{text}}">{{text}}</a>
{{else}}
<span>{{text}}</span>
{{/if}}
<span class="js-revise-button-region dev-btn-document-revise" title="{{localize 'MODULES.SHARED.VIEWS.MULTISELECT.SHOWREVISION'}}"></span>
<div class="svg-icons-wrp">
    <div class="js-remove-button svg-icons-wrp__remove" title="{{localize 'MODULES.SHARED.VIEWS.MULTISELECT.REMOVE'}}">
        <svg class="svg-icons svg-icons_remove"><use xlink:href="#icon-remove" /> </svg>
    </div>
</div>
