<div class="nav-profile__user">
	<div class="nav-profile__avatar">
		<div class="user-avatar">
			{{#if UserpicUri}}
				<div class="user-avatar__img" style="background-image: url({{UserpicUri}})">
				</div>
			{{else}}
				<div class="user-avatar__img">
					{{UserAbbreviation}}
				</div>
			{{/if}}
		</div>
	</div>
	<div class="nav-profile__name">{{FullName}}</div>
</div>
<div class="nav-profile__links">
	<a href="{{profileUrl}}" class="nav-profile__link">View profile</a>
</div>
<div class="js-logout nav-profile__logout">Logout</div>