<div class="js-header-region layout__tab-layout__header-region"></div>
<div class="js-panel-container layout__tab-layout__panel-container"></div>
<div class="js-button_move-next layout__tab-layout_move-button">&#10095;</div>
<div class="js-button_move-previous layout__tab-layout_move-button next-layout_move-button">&#10094;</div>
<div class="js-stepper-region"></div>
