<div class="js-loading-region"></div>
<div class="js-header-region layout__tab-layout__header-region"></div>
<div class="js-panel-container layout__tab-layout__panel-container"></div>
<div class="js-button_move-next layout__tab-layout_move-button">
  <svg class="svg-icons svg-icons_dropdown">
    <use xlink:href="#icon-dropdown" />
  </svg>
</div>
<div class="js-button_move-previous layout__tab-layout_move-button prev-layout_move-button">
  <svg class="svg-icons svg-icons_dropdown">
    <use xlink:href="#icon-dropdown" />
  </svg>
</div>
<div class="js-stepper-region"></div>