<div class="js-loading-region"></div>
<div class="js-header-region layout__tab-layout__header-region"></div>
<div class="js-no-tabs-message layout__tab-layout__no-tabs-message" hidden>
  {{localize 'CORE.LAYOUT.TABLAYOUT.NOTABMESSAGE'}}</div>
<div class="js-panel-container layout__tab-layout__panel-container"></div>
<div class="js-stepper-region"></div>