<div class="mselect__h1 js-title-region">
    {{title}}
</div>
<div class="mselect__panel{{#if showToolbar}} mselect__panel_toolbar{{/if}}">
    <h3 class="mselect__header {{#if maxQuantitySelected}} mselect__header_2line{{/if}}">{{itemsToSelectText}}</h3>
    {{#if showToolbar}}<div class="mselect__toolbar js-available-items-toolbar-region "> </div>{{/if}}
    <div class="mselect__search js-available-search-region" title="{{localize 'SUITEGENERAL.FORM.EDITORS.SPLITEDITOR.SEARCH'}}"></div>
    <div class="mselect__items js-available-members-container">
        <div class="mselect-list js-available-items-list-region"></div>
        <div class="l-scrollbar js-available-items-scrollbar-region"></div>
    </div>
</div>
<div class="mselect__button-panel">
    <div class="button-arrow button-arrow_right js-move-right-button"></div>
    <div class="button-arrow button-arrow_all-right js-move-right-all-button"></div>
    {{#if allowRemove}}
    <div class="button-arrow button-arrow_left js-move-left-button"></div>
    <div class="button-arrow button-arrow_all-left js-move-left-all-button"></div>
    {{/if}}
</div>
<div class="mselect__panel mselect__panel_selected{{#if showToolbar}} mselect__panel_toolbar{{/if}}">
    <h3 class="mselect__header{{#if maxQuantitySelected}} mselect__header_2line{{/if}} js">{{selectedItemsText}}{{#if maxQuantitySelected}}<span class="mselect__header-info js-max-quantity-info"></span>{{/if}}</h3>
    {{#if showToolbar}}<div class="mselect__toolbar js-selected-items-toolbar-region"></div>{{/if}}
    <div class="mselect__search js-selected-search-region" title="{{localize 'SUITEGENERAL.FORM.EDITORS.SPLITEDITOR.SEARCH'}}"></div>
    <div class="js-selected-members-container mselect__selected">
        <div class="mselect-list js-selected-items-list-region"></div>
        <div class="l-scrollbar js-selected-items-scrollbar-region"></div>
    </div>
</div>
{{#if confirmEdit}}
<div class="mselect__buttons js-confirm-panel">
    <div class="button-txt js-accept">{{acceptText}}</div>
    <div class="button-txt js-reject">{{rejectText}}</div>
</div>
{{/if}}