.layout__button-view {
    display: inline-block;
    cursor: pointer;
    flex: none;
    align-self: flex-start;
  }
.layout__button-view-text {
    display: inline-block;
    line-height: inherit;
}
