:root {
    --light: 80;
    --threshold: 30;
}

.toolbar-btn,
.split-button-wrp {
    margin-right: 10px;
    background-color: var(--theme-colors__btn);
    border: 1px solid var(--theme-colors__btn);
    color: var(--theme-colors__btn-txt);
}

.toolbar-btn_selected,
.toolbar .toolbar-btn_selected{
    box-shadow: none;
    background-color: var(--theme-colors__btn_fade);
    border: 1px solid var(--theme-colors__btn_fade);
    color: var(--theme-colors__btn-txt);
}

.toolbar-btn:hover,
.split-btn:hover{
    box-shadow: none;
    background-color: var(--theme-colors__btn_strong);
    border: 1px solid var(--theme-colors__btn_strong);
    color: var(--theme-colors__btn-txt);
}
.toolbar-btn:active,
.split-btn:active {
    background-color: var(--theme-colors__btn_fade);
    border: 1px solid var(--theme-colors__btn_fade);
}

.toolbar-btn .checkbox i,
.split-btn .checkbox i {
    color: inherit;
}

.btn-pale{
    background-color: var(--theme-colors__cancel-btn);
    border: 1px solid var(--theme-colors__cancel-btn);
    color: var(--theme-colors__cancel-btn-txt);
}

.btn-pale:hover{
    background-color: var(--theme-colors__cancel-btn_strong);
    border: 1px solid var(--theme-colors__cancel-btn_strong);
    color: var(--theme-colors__cancel-btn-txt);
}
.btn-pale:active{
    background-color: var(--theme-colors__cancel-btn_fade);
    border: 1px solid var(--theme-colors__cancel-btn_fade);
    color: var(--theme-colors__cancel-btn-txt);
}

/* Themes color button */
.toolbar-btn_none, .split-btn_default{
    background-color: var(--theme-colors__severity-none);
    border: 1px solid var(--theme-colors__severity-none);
    color: var(--theme-colors__severity-none-txt);
}

.toolbar-btn_none:hover, .split-btn_default:hover{
    background-color: var(--theme-colors__severity-none_strong);
    border: 1px solid var(--theme-colors__severity-none_strong);
    color: var(--theme-colors__severity-none-txt);
}
.toolbar-btn_none:active, .split-btn_default:active{
    background-color: var(--theme-colors__severity-none_fade);
    border: 1px solid var(--theme-colors__severity-none_fade);
    color: var(--theme-colors__severity-none-txt);
}

.toolbar-btn_low, .split-btn_low{
    background-color: var(--theme-colors__severity-low);
    border: 1px solid var(--theme-colors__severity-low);
    color: var(--theme-colors__severity-low-txt);
}
.toolbar-btn_low.toolbar-btn_selected{

}
.toolbar-btn_low:hover, .split-btn_low:hover{
    background-color: var(--theme-colors__severity-low_strong);
    border: 1px solid var(--theme-colors__severity-low_strong);
    color: var(--theme-colors__severity-low-txt);
}
.toolbar-btn_low:active, .split-btn_low:active{
    background-color: var(--theme-colors__severity-low_fade);
    border: 1px solid var(--theme-colors__severity-low_fade);
    color: var(--theme-colors__severity-low-txt);
}

.toolbar-btn_normal, .split-btn_normal{
    background-color: var(--theme-colors__severity-normal);
    border: 1px solid var(--theme-colors__severity-normal);
    color: var(--theme-colors__severity-normal-txt);
}
.toolbar-btn_normal:hover, .split-btn_normal:hover{
    background-color: var(--theme-colors__severity-normal_strong);
    border: 1px solid var(--theme-colors__severity-normal_strong);
    color: var(--theme-colors__severity-normal-txt);
}
.toolbar-btn_normal:active, .split-btn_normal:active{
    background-color: var(--theme-colors__severity-normal_fade);
    border: 1px solid var(--theme-colors__severity-normal_fade);
    color: var(--theme-colors__severity-normal-txt);
}

.toolbar-btn_major, .split-btn_major{
    background-color: var(--theme-colors__severity-major);
    border: 1px solid var(--theme-colors__severity-major);
    color: var(--theme-colors__severity-major-txt);
}
.toolbar-btn_major.toolbar-btn_selected{
}
.toolbar-btn_major:hover, .split-btn_major:hover{
    background-color: var(--theme-colors__severity-major_strong);
    border-color: var(--theme-colors__severity-major_strong);
    color: var(--theme-colors__severity-major-txt);
}
.toolbar-btn_major:active, .split-btn_major:active{
    background-color: var(--theme-colors__severity-major_fade);
    border-color: var(--theme-colors__severity-major_fade);
    color: var(--theme-colors__severity-major-txt);
}

.toolbar-btn_critical, .split-btn_critical{
    background-color: var(--theme-colors__severity-critical);
    border-color: var(--theme-colors__severity-critical);
    color: var(--theme-colors__severity-critical-txt);
}
.toolbar-btn_critical.toolbar-btn_selected{
}
.toolbar-btn_critical:hover, .split-btn_critical:hover{
    background-color: var(--theme-colors__severity-critical_strong);
    border-color: var(--theme-colors__severity-critical_strong);
    color: var(--theme-colors__severity-critical-txt);
}
.toolbar-btn_critical:active, .split-btn_critical:active{
    background-color: var(--theme-colors__severity-critical_fade);
    border-color: var(--theme-colors__severity-critical_fade);
    color: var(--theme-colors__severity-critical-txt);
}


.toolbar-btn_fatal, .split-btn_fatal{
    background-color: var(--theme-colors__severity-fatal);
    border-color: var(--theme-colors__severity-fatal);
    color: var(--theme-colors__severity-fatal-txt);
}
.toolbar-btn_fatal.toolbar-btn_selected{
}
.toolbar-btn_fatal:hover, .split-btn_fatal:hover{
    background-color: var(--theme-colors__severity-fatal_strong);
    border-color: var(--theme-colors__severity-fatal_strong);
    color: var(--theme-colors__severity-fatal-txt);
}
.toolbar-btn_fatal:active, .split-btn_fatal:active{
    background-color: var(--theme-colors__severity-fatal_fade);
    border-color: var(--theme-colors__severity-fatal_fade);
    color: var(--theme-colors__severity-fatal-txt);
}

.split-button-wrp .toolbar-btn.toolbar-btn_splitButton,
.split-button-wrp .toolbar-btn.toolbar-btn_splitButton:hover,
.split-button-wrp .toolbar-btn.toolbar-btn_splitButton:active{
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    max-height: 25px;
}

/* Dropdown menu buttons */
.toolbar-panel_container {
    padding: 0;
}

.toolbar-panel_container .toolbar-btn {
    text-align: left;
}

.toolbar-panel_container .toolbar-btn .toolbar__icons{
    margin: 0 5px 0 -5px;
}

.toolbar-panel_container .toolbar-btn .toolbar__icons + .toolbar-btn__text {
    margin: 0;
}
