:root {
    --light: 80;
    --threshold: 30;
}

.toolbar-container {
    background-color: #e5f4ff;
}

.toolbar-btn,
.split-button-wrp {
    background-color: hsla(203, 95%, 38%, 1);
    border: 1px solid hsla(203, 95%, 38%, 1);
    color: #fff;
}

.toolbar-btn_selected,
.toolbar .toolbar-btn_selected{
    box-shadow: none;
    background-color: hsla(203, 95%, 48%, .9);
    border: 1px solid hsla(203, 95%, 48%, 1);
    color: #fff;
}

.toolbar-btn:hover,
.split-btn:hover {
    box-shadow: none;
    background-color: hsla(203, 95%, 28%, .9);
    border: 1px solid hsla(203, 95%, 28%, 1);
    color: #fff;
}

.toolbar-btn:active,
.split-btn:active {
    background-color: hsla(203, 95%, 48%, .9);
    border: 1px solid hsla(203, 95%, 48%, 1);
}

/* Themes color button */

.toolbar-btn_low,
.split-btn_low {
    background-color: hsla(203, 50%, 56%, 1);
    border: 1px solid hsl(203, 50%, 56%);
}

.toolbar-btn_low.toolbar-btn_selected{
    /* background-color: rgba(36, 93, 209, .2);
    border-color: rgba(36, 93, 209, .4);
    color: #153e93; */
}

.toolbar-btn_low:hover,
.split-btn_low:hover {
    /* box-shadow: none;
    color: #153e93;
    background-color: rgba(36, 93, 209, .2);
    border-color: rgba(36, 93, 209, .2); */
    background-color: hsla(203, 50%, 46%, .9);
    border: hsl(203, 50%, 46%);
}

.toolbar-btn_low:active,
.split-btn_low:active {
    /* border-color: rgba(36, 93, 209, .4); */
    background-color: hsla(203, 50%, 66%, .9);
    border: hsl(203, 50%, 66%);
}

.toolbar-btn_normal,
.split-btn_normal {
    background-color: hsl(126, 92%, 34%);
    border-color: hsl(126, 92%, 34%);
}

.toolbar-btn_normal:hover,
.split-btn_normal:hover {
    background-color: hsla(126, 92%, 24%, .9);
    border: 1px solid hsl(126, 92%, 24%);
}

.toolbar-btn_normal:active,
.split-btn_normal:active {
    background-color: hsla(126, 92%, 44%, .9);
    border: 1px solid hsl(126, 92%, 44%);
}


.toolbar-btn_major,
.split-btn_major {
    background-color: hsla(182, 100%, 32%, 1);
    border: 1px solid hsl(182, 100%, 32%);
}

.toolbar-btn_major.toolbar-btn_selected{
    /* color: #0e838b;
    background-color: rgba(31, 179, 190, .2);
    border-color: rgba(31, 179, 190, .4); */
}

.toolbar-btn_major:hover,
.split-btn_major:hover {
    background-color: hsla(182, 100%, 22%, .9);
    border-color: hsl(182, 100%, 22%);
}

.toolbar-btn_major:active,
.split-btn_major:active {
    background-color: hsla(182, 100%, 42%, .9);
    border-color: hsl(182, 100%, 42%);
}

.toolbar-btn_critical,
.split-btn_critical {
    background-color: hsla(24, 81%, 46%, 1);
    border-color: hsl(24, 81%, 46%);
}

.toolbar-btn_critical.toolbar-btn_selected{
    /* color: #a84b0d;
    background-color: rgba(225, 116, 44, .2);
    border-color: rgba(225, 116, 44, .4); */
}

.toolbar-btn_critical:hover,
.split-btn_critical:hover {
    background-color: hsla(24, 81%, 36%, .9);
    border-color: hsl(24, 81%, 36%);
}

.toolbar-btn_critical:active,
.split-btn_critical:active {
    background-color: hsla(24, 81%, 56%, .9);
    border-color: hsl(24, 81%, 56%);
}

.toolbar-btn_fatal,
.split-btn_fatal {
    background-color: hsla(0, 100%, 38%, 1);
    border-color: hsl(0, 100%, 38%);
}

.toolbar-btn_fatal.toolbar-btn_selected{
    /* color: #a00000;
    background-color: rgba(192, 0, 0, .2);
    border-color: rgba(192, 0, 0, .4); */
}

.toolbar-btn_fatal:hover,
.split-btn_fatal:hover {
    background-color: hsla(0, 100%, 28%, .9);
    border-color: hsl(0, 100%, 28%);
}

.toolbar-btn_fatal:active,
.split-btn_fatal:active {
    background-color: hsla(0, 100%, 48%, .9);
    border-color: hsl(0, 100%, 48%);
}

.split-button-wrp .toolbar-btn.toolbar-btn_splitButton,
.split-button-wrp .toolbar-btn.toolbar-btn_splitButton:hover,
.split-button-wrp .toolbar-btn.toolbar-btn_splitButton:active {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

/* Dropdown menu buttons */

.toolbar-panel_container {
    padding: 0;
}

.toolbar-panel_container .toolbar-btn {
    width: 100%;
    margin: 1px 0 0;
    border-radius: 0;
    padding: 7px 15px;
    text-align: left;
}

.toolbar-panel_container .toolbar-btn:first-child {
    margin: 0;
    border-radius: 4px 4px 0 0;
}

.toolbar-panel_container .toolbar-btn:last-child {
    border-radius: 0 0 4px 4px;
}

.toolbar-panel_container .toolbar-btn:first-child:last-child {
    border-radius: 4px;
}

.toolbar-panel_container .toolbar-btn .toolbar__icons {
    margin: 0 5px 0 -5px;
}

.toolbar-panel_container .toolbar-btn .toolbar__icons + .toolbar-btn__text {
    margin: 0;
}
