
.layout-group {
    position: relative;
}

.layout-group__head {
    display: flex;
}

.group-title{
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-toggle {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
    flex: none;
}

.layout-group__content{

}
