
.layout__group {
    width: 100%;
    min-width: 0;
    margin: 22px -10px;
    padding: 0 25px 16px;
    font-size: 12px;
    color: #000;
    box-sizing: border-box;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}

.layout__group__legend {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: #70787f;
    background: #fff;
    margin: 5px 0 5px -15px;
}


.layout__group-collapsed__button {
    transform: rotate(-90deg);
    margin-top: -3px;
}

.layout__group-toggle {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
}