.layout__horizontal-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: stretch;
    align-items: stretch;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.layout__horizontal-layout > * {
    flex: 1 1 0;
    overflow-x: auto;
    min-width: 0;
}

/*for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .layout__horizontal-layout > * {
        flex: 1 1 auto;
        width: 100%;
    }
    .layout__horizontal-layout > .layout__button {
        width: auto;
    }
 }
 /* End for IE */

@media (max-width: 720px) {
    .layout__horizontal-layout {
        flex-wrap: wrap;
    }

    .layout__horizontal-layout > * {
        flex-basis: 200px;
        min-width: 200px;
        padding-right: 0;
    }

    .layout__horizontal-layout > div:not(:last-child),
    .layout__horizontal-layout-list-item:not(:last-child) {
        margin-bottom: 20px;
        padding-right: 0;
    }
}

.layout__horizontal-layout > .layout__button {
    min-width: auto;
    flex: none;
}

.layout__horizontal-layout > .layout__button:not(:last-child) {
    padding-right: 10px;
}

.layout__horizontal-layout-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.layout__horizontal-layout-list-item {
    flex: 1 1 0;
}

.layout__horizontal-layout-title {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--theme-colors__text);
    margin-bottom: 6px;
}
