.layout__horizontal-layout {
    width: 100%;
    height: 100%;
}

.layout__horizontal-layout-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -10px;
}

.layout__horizontal-layout-list-item {
    flex: 1;
    margin: 0 10px;
}
