.layout__horizontal-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: stretch;
    align-items: stretch;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.layout__horizontal-layout > * {
    flex: 1 1 auto;
    overflow-x: auto;
    min-width: 0;
}

@media (max-width: 720px) {
    .layout__horizontal-layout {
        flex-wrap: wrap;
    }

    .layout__horizontal-layout > * {
        flex-basis: 200px;
        min-width: 200px;
    }
}

.layout__horizontal-layout > .layout__button {
    min-width: auto;
}

.layout__horizontal-layout-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.layout__horizontal-layout-list-item {
    flex: 1 1 0%;
}

.layout__horizontal-layout-title {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #384650;
    margin-bottom: 6px;
}