.layout__horizontal-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: stretch;
    align-items: stretch;
    flex: 1 0 auto;
}

.layout__horizontal-layout > * {
    flex: 1 1 0%;
    overflow-x: auto;
}

.layout__horizontal-layout-list {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.layout__horizontal-layout-list-item {
    flex: 1 1 0%;
}

.layout__horizontal-layout-title {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #384650;
    margin-bottom: 6px;
}