.layout__popup-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 555;
    padding: 20px;
}

.layout__popup-view-window {
    background: #fff;
    max-width: 980px;
    min-width: 700px;
    max-height: 650px;
    min-height: 500px;
    flex: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: hidden;
    border: 1px solid #0575bd;
}

.layout__popup-view-header {
    height: 50px;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #70787f;
    text-align: center;
    position: relative;
}

.layout__popup-view-header-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.layout__popup-view-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 20px;
    height: 100%;
}

.layout__popup-view-button-list {
    padding: 7px;
    background: #f7f6f6;
    border-top: 1px solid #dfe4e8;
    text-align: right;
}

.layout__popup-view-button {
    display: inline-block;
    max-width: 100%;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    white-space: nowrap;
    background: #f7f6f6;
    border: 1px solid #dfe4e8;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 10px;
    font-size: 0;
}

.layout__popup-view-button:hover {
    border-color: #bfc2c4;
    box-shadow: inset 0 2px 3px #fff;
}

.layout__popup-view-button:hover {
    color: #009BFE;
}

.layout__popup-view-button[disabled] {
    cursor: text;
}

.layout__popup-view-button__text {
    display: inline-block;
    max-width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: #636262;
    line-height: inherit;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.layout__popup-view-button:hover .layout__popup-view-button__text {
    color: #000;
}

.layout__popup-view-header__close {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 22px;
    height: 22px;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    border:1px solid transparent;
    border-radius: 2px;
}
.layout__popup-view-header__close:hover {
    background: #f7f6f6;
    border-color: #dfe4e8;
}
.layout__popup-view-header__close:active {
    box-shadow: inset 1px 1px 3px rgba(200,200,200,.7);
}

.layout__popup-view-header__close  svg{
    vertical-align: top;
}