.layout__popup-view, .layout__popup-view_mobile-system-type {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    transform: translateY(-50px);
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.layout__popup-view_mobile {
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    top: 0;
    transform: translateY(-50px);
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.layout__popup-view_mobile > .layout__popup-view-window {
    width: 100%;
    height: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
    border-radius: 0;
}

.cur_aI {
    cursor: auto !important
}

.layout__popup-view-window {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

.layout__popup-view-window_expand {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.layout__popup-view-header {
    position: relative;
    cursor: all-scroll;
}

.layout__popup-view-header-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout__popup-view-content {
    flex: 1 1 auto;
    display: flex;
    overflow-y: auto;
}

.layout__popup-view-button-list {
    text-align: right;
}
.layout__popup-view-button-list > .layout__horizontal-layout  {
    display: flex;
    justify-content: flex-end;
}

.layout__popup-view-button-list .layout__horizontal-layout-list-item {
    flex: 1 1 auto;
}

.layout__popup-view-button {
    display: inline-block;
    max-width: 100%;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    white-space: nowrap;
    background: var(--theme-colors__main_fadest);
    border: var(--border);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 10px;
    font-size: 0;
}

.layout__popup-view-button:hover {
    border-color: var(--theme-colors__main_strongest);
    box-shadow: inset 0 2px 3px var(--theme-colors__main);
}

.layout__popup-view-button:hover {
    color: var(--theme-colors__primary_fade);
}

.layout__popup-view-button[disabled] {
    cursor: text;
}

.layout__popup-view-button__text {
    display: inline-block;
    max-width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: var(--theme-colors__text_fade);
    line-height: inherit;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.layout__popup-view-button:hover .layout__popup-view-button__text {
    color: var(--theme-colors__text);
}

.layout__popup-view-header__btn {
    cursor: pointer;
    padding-left: 10px;
}

.layout__popup-view-content .layout__group {
    width: 100%;
    margin: 22px 0;
    padding: 10px;
}

.modal-window-wrapper {
    background-color: var(--theme-colors__main);
    height: 100%;
    width: 100%;
}

.presented-modal-window {
    transform: translateY(0)!important;
    opacity: 1!important;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.presented-modal-window .popout-menu__i:hover {
    background: var(--theme-colors__primary_fadest);
}
