.layout__popup-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.layout__popup-view-window {
    max-width: 980px;
    min-width: 400px;
    max-height: 650px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
    transition: top .3s ease-out;
}

.layout__popup-view-header {
    position: relative;
}

.layout__popup-view-header-text {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout__popup-view-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 20px;
    height: 100%;
}

.layout__popup-view-button-list {
    text-align: right;
}
.layout__popup-view-button-list > .layout__horizontal-layout  {
    display: flex;
    justify-content: flex-end;
}
.layout__popup-view-button-list .layout__button-view + .layout__button-view {
    margin-left: 5px;
}
.layout__popup-view-button-list .layout__horizontal-layout-list-item {
    flex: 1 1 auto;
}

.layout__popup-view-button {
    display: inline-block;
    max-width: 100%;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    white-space: nowrap;
    background: #f7f6f6;
    border: 1px solid #dfe4e8;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 10px;
    font-size: 0;
}

.layout__popup-view-button:hover {
    border-color: #bfc2c4;
    box-shadow: inset 0 2px 3px #fff;
}

.layout__popup-view-button:hover {
    color: #009BFE;
}

.layout__popup-view-button[disabled] {
    cursor: text;
}

.layout__popup-view-button__text {
    display: inline-block;
    max-width: 100%;
    font-size: 11px;
    font-weight: 500;
    color: #636262;
    line-height: inherit;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.layout__popup-view-button:hover .layout__popup-view-button__text {
    color: #000;
}

.layout__popup-view-header__close {
    display: inline-block;
    cursor: pointer;
}

.layout__popup-view-header__close svg{
    vertical-align: top;
}

.layout__popup-view-content .layout__group {
    width: 100%;
    margin: 22px 0;
}
