.showcase {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.showcase-wrapper {
    width: 100%;
    height: auto;
}

.showcase__content-wrapper {
    width: 100%;
    height: auto;
}

.showcase__content {
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row wrap;
    overflow: hidden;
    min-height: 0;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-around;
}
