.layout__tab-layout {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
}

/* header */

.layout__tab-layout__header-region {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}
.layout__tab-layout__header-view {
    margin-bottom: -1px;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.layout__tab-layout__header-view ul{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-left: 0;
    width: 100%;
    min-width: 0;
    margin: 0;
    overflow: hidden;
    position: relative; /* for __scrollIntoViewIfNeeded */
}

ul .layout__tab-layout__header-view-item:last-child {
    margin-right: 0;
}

.layout__tab-layout__header-view .tab-header-view__menu-dropdown > .dropdown__button {
    display: flex;
    flex-flow: row nowrap;
}

.layout__tab-layout__tree-editor .toolbar-btn {
    margin-right: 0px;
    margin-left: 5px;
}

.layout__tab-layout__header-view-item {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout__tab-layout__header-view-item.tab-layout__headers-menu {
    margin: 0 0 0 5px;
    font-weight: bold;
}

/* panel */

.layout__tab-layout__panel-container {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.layout__tab-layout__panel-region {
    height: 100%;
}

.layout__tab-layout__panel-region > div {
    height: 100%;
    overflow: auto;
}

.output-tabs-region .layout__tab-layout__panel-region > .grid-container {
    overflow-x: auto;
}

.layout__tab-layout_move-button {
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.layout__tab-layout__stepper_container {
    width: 100%;
    display: flex;
}

.layout__tab-layout__stepper_view-item {
    cursor: pointer;
    flex: 1;
}

.layout__tab-layout__stepper_view-item .stepper-view_content {
    text-align: center;
}

.layout__tab-layout__header-view-item_disabled,
.popout-menu__i_disabled {
    cursor: default;
    opacity: .4
}

.layout__tab-layout .layout__tab-layout__header-view-item_disabled:hover {
    color: #404040;
    background: none;
}

.layout__tab-layout__no-tabs-message {
    font-size: 18px;
    font-weight: 300;
    color: #70787F;
    padding: 5px;
}
