.layout__tab-layout {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/* header */

.layout__tab-layout__header-region {
    flex: 0 0 auto;
}

.layout__tab-layout__header-view {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-left: 0;
}

.layout__tab-layout__header-view-item {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* panel */

.layout__tab-layout__panel-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.layout__tab-layout__panel-region {
    overflow-x: hidden;
    overflow-y: auto;
}

.layout__tab-layout_move-button {
    position: absolute;
    cursor: pointer;
    text-align: center;
}

.layout__tab-layout__stepper_container {
    width: 100%;
    display: flex;
}

.layout__tab-layout__stepper_view-item {
    cursor: pointer;
    flex: 1;
}

.layout__tab-layout__stepper_view-item .stepper-view_content {
    text-align: center;
}
