.layout__vertical-layout {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
}

.layout__vertical-layout-title {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #384650;
    margin-bottom: 6px;
}