<div class="js-toolbar toolbar">
    <div class="js-designer-toolbar-region dev-toolbar-actions"></div>
</div>
<div class="ld-view">
    <div class="ld-view__list{{{paletteClass}}} js-palette-container dev-ld-view__list">
        <div class="region js-palette-tabs-region"></div>
    </div>
    <div class="js-palette-resizer ld-view__resizer ld-view__resizer_left"></div>
    <div class="ld-view__canvas js-canvas-region"></div>
    <div class="js-properties-resizer ld-view__resizer ld-view__resizer_right"></div>
    <div class="ld-view__setting{{{propertiesClass}}} js-properties-region"></div>
</div>