<div class="dev-msg-popup__content">
    <div class="msg-popup__desc">{{localize 'PROCESS.FORMDESIGNER.CONFIRMSAVE.SAVEASTITLE'}}</div>
    <div class="js-editor-region dev-new-name-editor"></div>
    <div class="popup-buttons">
        <div class="js-button-yes fr-btn fr-btn_popup"><span class="fr-btn__text">{{localize 'PROCESS.FORMDESIGNER.CONFIRMSAVE.OK'}}</span></div>
        <div class="js-button-cancel fr-btn fr-btn_popup"><span class="fr-btn__text">{{localize 'PROCESS.FORMDESIGNER.CONFIRMSAVE.CANCEL'}}</span></div>
    </div>
</div>