<div class="js-close gallery-close {{iconPrefixer close}}" title="{{localize 'CORE.FORM.EDITORS.DOCUMENT.GALLERY.CLOSE'}}"></div>
<div class="gallery-main">
    <div class="js-previous-image gallery-main__btn gallery-main__btn_previous" title="{{localize 'CORE.FORM.EDITORS.DOCUMENT.GALLERY.PREVIOUSIMAGE'}}"><i class="{{iconPrefixer previous}}"></i></div>
    <div class="js-image-region gallery-main-image__region"></div>
    <div class="js-next-image gallery-main__btn gallery-main__btn_next" title="{{localize 'CORE.FORM.EDITORS.DOCUMENT.GALLERY.NEXTIMAGE'}}"><i class="{{iconPrefixer next}}"></i></div>
</div>
<div class="gallery-footer">
    <div class="gallery-footer__text">
        <div class="js-fileName gallery-filename"></div>
        <div class="js-info-widget-region"></div>
    </div>
    <div class="js-previews-collection-region gallery-footer__collection"></div>
    <div class="gallery-footer__btns">
        <div class="js-download gallery-download {{iconPrefixer download}}" title="{{localize 'CORE.FORM.EDITORS.DOCUMENT.GALLERY.DOWNLOAD'}}"></div>
        <!--<div class="js-delete gallery-more fas fa-ellipsis-v" title=""></div>-->
    </div>
</div>
