<div class="dataset-options-filters_settings">
    {{#if isPredicateDropdownExist}}<div class="js-predicate-dropdown-region dataset-options-filters__option"></div>{{/if}}
    <div class="js-remove-button dataset-options-filters__remove svg-icons-wrp__remove">
        <svg class="svg-icons svg-icons_remove">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use>
        </svg>
    </div>
</div>
<div class="js-filter-region dataset-options-filters__value"></div>
