{{#if link}}
    <span class="bubbles__link js-bubble-link">
{{/if}}
    {{name}}
{{#if link}}
    </span>
{{/if}}
<div class="js-bubble-delete btn-remove btn-remove_absolute btn-remove_bubble"></div>