{{#if severity}}
    <i class="form-label__error-icon form-label__error-icon-{{severity}} fa fa-lg fa-warning"></i>
    <span class="form-label__error-text">{{message}}</span>
{{else}}
    {{message}}
{{/if}}
