<div class="form-group">
    <div class="form-label">
        <span class="js-field-error form-label__error"></span>
        <span class="form-label__txt">{{title}}</span>
        <span class="js-help-text-region form-label__info"></span>
    </div>
    <div class="form-editor js-editor-region"></div>
    <div class="js-error-text form-error"></div>
</div>