<div class="panel-selected_container">
    <div class="js-panel-title simplified-panel-title">{{title}}</div>
    <div class="js-editor-region"></div>
</div>
<div class="simplified-panel-title_container js-title">
    <div class="simplified-panel-title simplified-panel-subtitle">{{localize
        'CORE.FORM.EDITORS.MEMBERSELECT.ALLUSERS'}}</div>
    <i class="js-close_users simple-icon {{iconPrefixer 'times'}}"></i>
</div>
</div>
<div class="js-search-bar-region simplified-panel-search"></div>