<div class="panel-selected_container">
    <div class="js-panel-title simplified-panel-title">{{title}}</div>
    <div class="js-editor-region"></div>
</div>
<div class="simplified-panel-title simplified-panel-subtitle">{{localize 'CORE.FORM.EDITORS.MEMBERSELECT.ALLUSERS'}}</div>
<div class="js-search-bar-region simplified-panel-search"></div>