<div class="simplified-panel-title">{{title}}</div>
<div class="js-editor-region"></div>
<div class="simplified-panel-title">{{localize 'CORE.FORM.EDITORS.MEMBERSELECT.ALLUSERS'}}</div>
<div class="js-search-bar-region"></div>