<div class="multiselect-panel__btn-top">
    <div class="js-select-all link-green">{{localize 'CORE.FORM.EDITORS.MULTISELECT.SELECTALL'}}</div>
</div>
<div class="js-list-region multiselect-panel__list"></div>
<div class="js-scrollbar-region dev-dropdown-editor__dropdown-view__panel-view__scrollbar-region"></div>
<div class="multiselect-panel__btn-bottom">
    <div class="link-grey">{{localize 'CORE.FORM.EDITORS.MULTISELECT.RESET'}}</div>
    <div class="js-apply btn btn_green">{{localize 'CORE.FORM.EDITORS.MULTISELECT.APPLY'}}</div>
</div>