{{#if checkbox}}
    <span class='js-action toolbar-btn__text'>
    <div class="js-check editor_checkbox">
        <span class="checkbox">
            <svg class="svg-icons svg-icons_checked">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checked"></use>
            </svg>
        </span>
    </div>
    </span>
{{/if}}
{{#if iconClass}}
    <div class="toolbar__icons js-icon-container">
        <i class="{{iconPrefixer iconClass}}" aria-hidden="true"></i>
    </div>
{{/if}}
{{#if showName}}
    <span class='js-action toolbar-btn__text'>{{name}}</span>
{{/if}}
{{#if isGroup}}
    {{#if customAnchor}}
    {{{customAnchor}}}
    {{else}}
    <span class="toolbar__icons toolbar__icons_arrow js-anchor">
        <i class="fa fa-chevron-down"></i>
    </span>
    {{/if}}
{{/if}}
