{{#if checkbox}}
    <span class='js-action toolbar__icons'>
    <div class="editor_checkbox">
        <span class="checkbox js-checkbox"></span>
    </div>
    </span>
{{/if}}
{{#if iconClass}}
    <div class="toolbar__icons js-icon-container">
        <i class="{{iconPrefixer iconClass}}" aria-hidden="true"></i>
    </div>
{{/if}}
{{#if showName}}
    <span class='js-action toolbar-btn__text'>{{name}}</span>
{{/if}}
{{#if isGroup}}
    {{#if customAnchor}}
    {{{customAnchor}}}
    {{else}}
    <span class="toolbar__icons toolbar__icons_arrow js-anchor">
        <i class="fa fa-chevron-down"></i>
    </span>
    {{/if}}
{{/if}}
