.content-view {
    height: 100%;
    padding-top: 36px;
    overflow: hidden;
}
.content-region {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
}
.layout {
    height: 100%;
}

/* ------------------------------ top-nav  -------------------------------*/

.top-nav {
    height: 36px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    background: #0575bd;
    z-index: 99;
}
.top-nav__i {
    height: inherit;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.top-nav__i_selected {
    background-color: #11547f !important;
}
.project-archived .top-nav__i_selected {
    background-color: #535353 !important;
}
.top-nav__item_gs.top-nav__i_selected, .top-nav__i_gs.top-nav__i_selected:hover {
    background-color: #11547f;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 999;
}
.top-nav__i_current {
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}
.top-nav__gs {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    fill: #fff;
}
.top-nav__i_gs, .top-nav__i_help, .top-nav__i_comindware, .top-nav__i_person, .top-nav__i_ntf {
    width: 42px;
    text-align: center;
    float: right;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: .6;
    cursor: pointer;
    z-index: 999;
}
.top-nav__i_person {
    width: 60px;
    position: relative;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.top-nav__i_help {
    width: auto;
    padding: 0 15px;
    font-size: 13px;
}

.top-nav__i_ntf{
    opacity: 1;

}
.top-nav__i_ntf .dropdown__anchor{
    background: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 600;
    color:#cd4a36;
    line-height: 11px;
    margin-top: 11px;
    opacity: 1;

}
.top-nav__i_ntf .open .dropdown__anchor::after{
   display: none;
}

.top-nav__i_comindware {
    width: 100px;
    background: transparent;
}
.top-menu__i_back{
    position: absolute;
    left:0;
    background: #0575BD url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAQCAYAAAArij59AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3NpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo1OTJjN2FmYi00NDIwLTQ5N2MtOWIwMC02ODNlZTBmMGQ1MWUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QUE5NDk2MENGNTVGMTFFM0IyNzFCODNGNzYwN0ZDQzkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QUE5NDk2MEJGNTVGMTFFM0IyNzFCODNGNzYwN0ZDQzkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MzlkYWJjNmYtM2I5Ni00NjExLWFlODMtMGQ4MGQ1YzBiZDU5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU5MmM3YWZiLTQ0MjAtNDk3Yy05YjAwLTY4M2VlMGYwZDUxZSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pp/TE6UAAABNSURBVHjajJABCgAgCAPb/v/nRUGg1cTAEO6wJiWNosThj9bFCjpBoQcreE94YBS+8AgWVimSAPOPNMFKNO/bRaGz6iS5FOjE3NIUYAAIhyUIsKcj5wAAAABJRU5ErkJggg==) no-repeat 20px 50% ;
}
.project-archived .menu__i_back {
    background-color: #cfcfcd;
}
.top-nav__i_gs:hover, .top-nav__i_help:hover, .top-nav__i_comindware:hover, .top-nav__i_person:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.top-nav__i:hover {
    background-color: #1b6595;
}
.project-archived .top-nav__i:hover {
    background-color: #5d5d5d;
}
.top-nav__i_person:hover {
    background-color: inherit;
}
.top-nav__i_person .popout__action-btn {
    height: inherit;
    line-height: inherit;
}
.top-nav-person {
    position: relative;
}
.top-nav__i_person .popout__action-btn + .popout__wrp_right {
    right: 5px !important;
    top: 45px !important;
}
.top-nav__i_person .popout.open:before {
    content: '';
    width: 0;
    position: absolute;
    top: 24px;
    right: 21px;
    border: solid 10px rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,.1);
    z-index: 55;
}
.top-nav__i_person .popout.open:after {
    content: '';
    width: 0;
    position: absolute;
    top: 27px;
    right: 21px;
    border: solid 10px rgba(0,0,0,0);
    border-bottom-color: #fff;
    z-index: 66;
}
.top-nav-person-dd {
    width: 340px;
    padding: 18px 20px 0;
    color: #333;
    text-align: left;
    background: #fff;
}
.top-nav__i.js-more-element {
    padding: 0 50px;
    font-size: 28px;
    line-height: 33px;
    cursor: pointer;
    background-color: inherit;
}
.top-nav__i.js-more-element:hover {
    background-color: inherit;
}

.top-nav__link {
    height: inherit;
    padding: 0 50px;
    font-size: 13px;
    line-height: inherit;
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.top-nav__link_logo {
    padding: 0 5px;
}
.top-nav__link:hover {
    color: #fff;
    text-decoration: none;
}
.top-nav__back {
    padding: 0 37px 0 42px;
}
.top-nav__link_current {
    max-width: 200px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-nav__menu {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
}
.top-nav__arrow {
    width: 8px;
    height: 8px;
    margin: 0 10px;
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
}
.top-nav__backArrow{
    width:11px;
    height: 18px;
    margin: 0 10px;
    fill:#fff ;
    display: inline-block;
    vertical-align: middle;
}
.top-nav__arrow-close {
    width: 0;
    height: 0;
    margin: 0;
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
}
.showMenu .top-nav__arrow-close {
    width: 8px;
    height: 8px;
    margin: 0 10px;
}
.showMenu .top-nav__arrow {
    width: 0;
    height: 0;
    margin: 0;
}
.top-nav__logo {
    fill: #fff;
}
@media screen and (max-width: 900px) {
    .top-nav__link_current, .top-nav__arrow, .top-nav__arrow-close {
        display: none;
    }
}

.top-nav-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 200px;
    display: block;
    vertical-align: top;
}
.top-nav-tabs__i {
    display: inline-block;
    color: #333;
}
.top-nav-tabs__i .dropdown__anchor {
    font-size: 19px;
    font-family: Arial;
}
.top-nav-tabs__i .popout__action-btn {
    line-height: inherit !important;
}
.top-nav-back {
    left: 32px;
}
.top-nav-more {
    padding: 0 10px;
    color: #fff;
}
.top-nav-more:hover {
  background-color: #1b6595;
}

.reduceMenu {
    padding-bottom: 0 !important;
}
/* /top-nav */

/* h1-h6 */
.h1-definition {
    margin: 20px 0 10px;
    padding: 0 0 0 5px;
    line-height: 34px;
    font-size: 28px;
    font-weight: 300;
    color: #000;
}
.h2-group {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px 0 0;
    color: #384650;
    font-size: 14px;
    line-height: inherit;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.h2-group:hover {
    color: #009bfe;
}
/* /h1-h6 */


.mselect__group {
    height: 34px;
    padding: 7px 0;
    margin: 0 25px 0 0;
    line-height: 20px;
    border-top: solid 1px #dfe4e8;
    border-bottom: solid 1px #dfe4e8;
    cursor: pointer;
}
.mselect__group:first-child {
    border-top-color: transparent;
}
