<div class="layout-group-wrp">
    <div class="js-header layout-group__head {{#if collapsible}} layout-group__head_collabsible{{/if}}">
        <span class="js-menu-region group-menu layout-group__menu"></span>
        <span class="group-title">{{{name}}}</span>
        {{#if collapsible}}
            <span class="js-toggle group-toggle"><i class="{{iconPrefixer 'angle-up'}}"></i></span>
        {{/if}}
        <span class="js-restore group-restore" title="{{localize 'CORE.LAYOUT.GROUPLAYOUT.MENU.RESTORE'}}"><i class="{{iconPrefixer 'times'}}"></i></span>
    </div>
    <div class="layout-group__content js-container-region"></div>
</div>
