<div class="layout-group__head {{#if collapsible}} layout-group__head_collabsible js-header{{/if}}">
    <span class="group-title">{{{name}}}</span>
    {{#if collapsible}}
        <span class="js-toggle group-toggle"><i class="fas fa-angle-up"></i></span>
    {{/if}}
</div>
<div class="layout-group__content js-container-region"></div>
