<div class="layout__group__legend">
    <span>{{name}}</span>
    {{#if collapsible}}
        <span class="js-toggle layout__group-toggle">
            <svg viewBox="0 0 12 12"><polygon class="d-svg-icons d-svg-icons_arrow" points="8,2 4.5,5.5 1,2 0,2 0,3 4,7 5,7 9,3 9,2 "/></svg>
        </span>
    {{/if}}
</div>
<div class="js-container-region"></div>
