<div class="header-content">
    {{#if description}}
    <div class="demo-content__description">{{{description}}}</div>
    {{/if}}
    <div class="js-toolbar-region demo-content__toolbar"></div>
</div>

<div class="demo-content_container">
    <div class="demo-content__present">
        <div class="demo-content__function js-case-representation-region"></div>
        <div class="demo-content__attributes js-attributes-configuration-region"></div>
    </div>
    <div class="demo-content__code">
        <pre><code class="js-code language-javascript">{{sourceCode}}</code></pre>
    </div>
</div>