<div class="bubbles__list bubbles__list-form-wrapper">
    <span class="js-collection-region"></span>
    <span class="js-counter-hidden counter-hidden"></span>
    <span class="bubbles__form">
        <input type="text" class="js-input bubbles__input" autocomplete="off">
    </span>
</div>
<span class="spinner">
    <i class="{{iconPrefixer 'spinner pulse'}} js-datalist-loading" hidden></i>
</span>
{{#unless isAutocompleteMode}} 
<i class="{{iconPrefixer 'angle-down'}} bubbles__caret"></i>
{{/unless}}