{{#if showSelectedCollection}}
    {{#if showSelectedTitle}}
        <div class="datalist-panel_title">{{selectedTitle}}</div>
    {{/if}}
    <div class="js-selected datalist_selected-panel bubbles"></div>
    {{#if showListTitle}}
        <div class="datalist-panel_title">{{listTitle}}</div>
    {{/if}}
{{/if}}

{{#if showCollection}}
    <div class="dropdown__wrp_list">
        <div class="js-list-region dd-list__wrp {{#if showAddNewButton}}dd-list__wrp_button{{/if}}"></div>
    </div>
{{/if}}

{{#if showAddNewButton}}
    <div class="dd-list__btn js-add-new reference-btn">
        {{addNewItemText}}
    </div>
{{/if}}

{{#if showCollection}}
    <div class="js-warning bubble_editor__elements_quantity_warning">
        <span>{{localize 'CORE.FORM.EDITORS.REFERENCE.QUANTITYWARNING'}}</span>
    </div>
{{/if}}
