body, input, textarea, select {
  font: var(--font);
}
body {
  color: var(--text-color);
}
/* a {
  line-height: var(--line-height)
} */
.selected {
  background-color: var(--selected-color);
}

.form-group + .form-group,
.field-width + .field-width{
    margin-top: var(--form-field-margin);
}


/*------------------ Form Label ------------------*/
.form-label {
    font-size: var(--form-label-font-size);
    font-weight: var(--form-label-font-weight);
    color: var(--form-label-color);
}
.form-group .form-label__txt {
  padding: var(--form-label-padding);
}
.form-label:not(.form-label--empty) {
  margin-bottom: var(--form-label-margin);
}

.form-label__info:not(:empty),
.error .form-label__error {
  display: inline-block;
  margin: 0 var(--form-label-icon-margin-x);
}

.form-label__info-button,
.form-label__error-button {
  font-size: var(--form-label-icon-size);
}

.form-label__error-button {
  color: var(--error-color);
}

.form-label__error-text {
  margin-left: 10px;
}

.form-label__error-icon-error{
  color: var(--error-color);
}

.form-label__error-icon-warning{
  color: var(--warning-color);
}

.cell.error .form-label__error{
  margin: 0;
  position: absolute;
  left: 0;
  top: -13px;
}

.cell.error .form-label__error-button{
  height: 0;
  width: 0;
  border-top: 10px solid #e61212;
  border-right: 10px solid transparent;
}

.cell.error .form-label__error-button:before{
  display: none;
}

/*------------------ Form Editor ------------------*/
.editor {
  font-size: var(--editor-font-size);
  color: var(--editor-text-color);
}

.editor_empty{
  color: var(--editor-empty-text-color);
}

.editor_disabled .input,
.editor_disabled .input:hover,
.editor_readonly .input,
.editor_readonly .input:hover,
.editor_disabled .textarea,
.editor_readonly .textarea,
.editor_disabled .bubbles,
.editor_disabled .bubbles:hover,
.editor_readonly .bubbles,
.editor_readonly .bubbles:hover,
.editor.context_select.editor_readonly,
.editor.context_select.editor_disabled {
  @apply --input-disabled-theme;
}

.cell .editor_disabled .input,
.cell .editor_disabled .input:hover,
.cell .editor_readonly .input,
.cell .editor_readonly .input:hover,
.cell .editor_disabled .textarea,
.cell .editor_readonly .textarea,
.cell .editor_disabled .bubbles,
.cell .editor_disabled .bubbles:hover,
.cell .editor_readonly .bubbles,
.cell .editor_readonly .bubbles:hover,
.cell .editor.context_select.editor_readonly,
.cell .editor.context_select.editor_disabled {
  @apply --cell-input-disabled-theme;
}

.error .editor .input,
.error .editor .textarea,
.error .editor .bubbles,
.error .editor .popout-field-user,
.error .editor_date-time {
  border-color: var(--error-color);
}

.editor_checked_some .checkbox:after, .checkbox.editor_checked_some:after{
  width: var(--checkbox-intermediate-size);
  height: var(--checkbox-intermediate-size);
  background-color: var(--checkbox-intermediate-color);
}

.editor_icons .caret {
    color: var(--text-color);
}

.editor .bubbles .bubbles__i.bubble_focused{
    border: var(--focus);
    border-radius: 4px;
}
/*------------------ End Form Editor ------------------*/

/* input */
.input {
  @apply --input-theme;
  padding: var(--input-padding);
  height: var(--input-height);
}

.tr-search__input {
  padding: var(--input-search-padding);
  color: var(--text-color);

  background: var(--input-search-bg);
}
.tr-search__clear {
  @apply --input-search-clear-theme;
}
/* /input/ */


/* textarea */
.textarea {
  @apply --textarea-theme;
  min-height: var(--textarea-min-height);
  padding: var(--textarea-padding);
}

/* /textarea/ */

/* checkbox */
.checkbox {
  @apply --checkbox-theme;
  font-size: var(--base-font-size);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: var(--checkbox-radius);
  border: solid 1px var(--checkbox-border-color);
}

.checkbox-text {
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  user-select: none;
}

.editor_readonly .checkbox-text,
.editor_disabled .checkbox-text {
  cursor: default;
}

.editor_readonly .checkbox,
.editor_disabled .checkbox {
  @apply --custom-cotrol-disabled-theme;
}
.editor_checked.editor_readonly .checkbox,
.editor_checked.editor_disabled .checkbox {
  @apply --checkbox-disabled-theme;
}
/* /checkbox */

/* radiobutton */
.editor_radiobutton {
  margin-bottom: var(--custom-control-spacer-y);
}

.editor_disabled .editor_radiobutton,
.editor_readonly .editor_radiobutton{
  padding: var(--form-label-padding);
}

.radiobutton {
  width: var(--radio-size);
  height: var(--radio-size);
  margin-right: var(--radio-right-margin);
  border: 1px solid var(--checkbox-border-color);
}
.radiobutton-text {
  line-height: var(--line-height);
}

.editor_disabled .radiobutton,
.editor_readonly .radiobutton{
  @apply --radio-disabled-theme;
}

.editor_checked .radiobutton:after {
  width: var(--radio-inner-size);
  height: var(--radio-inner-size);
  background-color: var(--radio-checked-color);
}

.editor_disabled .editor_checked .radiobutton:after,
.editor_readonly .editor_checked .radiobutton:after {
  background-color: var(--radio-checked-disabled-color);
}
/* /radiobutton/ */

/* Date Time */
.editor_date-time {
  @apply --input-theme;
  padding: var(--input-padding);
  overflow: hidden;
}

.editor_disabled.editor_date-time,
.editor_disabled.editor_date-time:hover,
.editor_readonly.editor_date-time,
.editor_readonly.editor_date-time:hover {
  @apply --input-disabled-theme;
}

.editor_date-time .input {
  padding: 0;
}
.editor_date-time_time .input {
  padding-left: 5px;
}

/* /Date Time/ */

/* Icons */
.editor__icons {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.icon-remove {
  color: var(--red);
}
/* svg icons */

svg.svg-icons,
svg.svg-grid-icons {
  @apply --svg-icons-theme;
}

.svg-icons-wrp,
.svg-icons-wrp__empty {
  @apply --svg-icon-wrp-theme;
}

/* /svg icons/ */


/* List/Grid CSS */

.grid-toolbar-wrp{
  padding: var(--grid-toolbar-padding);
  background-color: var(--grid-toolbar-bg-color);
}

.grid-toolbar__search .tr-search{
  border: none;
  width: 100%;
}

.grid-header-column {
  background-color: var(--grid-header-bg);
  box-shadow: var(--grid-header-border);
  color: var(--grid-header-color);
  line-height: var(--grid-header-height);
  padding: var(--grid-header-padding);
}

.grid-selection-cell-all:empty + .grid-header-view .grid-header-column:first-child {
  box-shadow: var(--grid-header-border-first);
}
.grid-selection-cell-all:empty + .grid-header-view .grid-header-column:last-child {
  box-shadow: var(--grid-header-border-last);
}

.row.selected{
  background: transparent;
}

.cell {
  height: var(--grid-cell-height);
  line-height: var(--grid-cell-height);
  font-size: var(--grid-header-font-size);
  color: var(--text-color);
  box-shadow: var(--grid-cell-border);
  padding: var(--grid-cell-padding);
  background-color: var(--grid-cell-bg);
}

.cell .layout__vertical-layout {
  width: auto;
  flex-direction: row;
  flex: auto;
}

.cell .layout__vertical-layout > div,
.cell .layout__vertical-layout-item {
  margin-bottom: 0;
  height: 100%;
  flex: 1 0 100px;
}

.grid__headless .row:first-child .cell{
  box-shadow: var(--grid-cell-border-headless);
}

.grid__headless > .grid-header-wrp {
  display: none;
}

.cell_selection {
  color: var(--grid-selection-color);
  width: var(--grid-selection-width);
  background-color: var(--grid-selection-bg);
  box-shadow: var(--grid-cell-border-first);
}

.cell_selection[draggable], .cell_selection-index[draggable] {
  cursor: move;
}
.grid__headless .cell_selection:first-child {
  box-shadow: var(--grid-cell-border-first-headless);
}

.grid-selection-panel-region:empty + .grid-content-view .row .cell:first-child {
  box-shadow: var(--grid-cell-border-first);
}

.row-checked .cell,
.cell_selection.row-checked,
.cell_selection-index.row-checked{
  background-color: #c2d7e5;
}
.cell_selection.row-checked,
.cell_selection-index.row-checked{
  color: #666;
}

.selected .cell,
.cell_selection.selected,
.cell_selection-index.selected{
  background-color: var(--grid-row-selected-color);
  background-color: #eaf3f8;
}

.row.hover .cell, .cell_selection.hover, .cell_selection-index.hover {
  background-color: var(--grid-row-hover-color);
  background-color: #efefef;
}

.cell_selection.row-checked.selected,
.cell_selection.row-checked.hover,
.cell_selection-index.row-checked.hover{
  color: #c1c1c1;;
}

.row.hover__transition .cell, .cell_selection.hover__transition, .cell_selection-index.hover__transition {
  /* delay used in js TRANSITION_DELAY*/
  transition: background-color 300ms ease-in-out;
}

.sort_down, .sort_up {
  width: var(--grid-sort-icon-size);
  height: var(--grid-sort-icon-size);
  background-image: var(--grid-sort-icon);
  top: var(--grid-sort-icon-offset-y);
}

.sort_up {
  transform: rotate(180deg);
}

.cell_selection-index > .checkbox,
.cell_selection > .checkbox {
  font-size: var(--grid-checkbox-icon-size);
  width: var(--grid-checkbox-size);
  height: var(--grid-checkbox-size);
}

.cell .input {
  padding: var(--grid-cell-input-padding);
}

.grid-selection-cell-all {
  min-width: var(--grid-selection-width);
}

.grid-selection-panel {
  width: var(--grid-selection-width);
}

.grid-selection-cell-all {
  height: var(--grid-header-height);
}

.grid-selection-cell-all .cell_selection{
  height: var(--grid-header-height);
  line-height: var(--grid-header-height);
  box-shadow: var(--grid-header-border-first);
  background-color: var(--grid-header-selection-bg);
}

.cell_selection-index {
  width: var(--grid-selection-index-width);
  padding: 0 var(--grid-selection-index-padding-x);
  color: var(--grid-selection-color);
  background-color: var(--grid-selection-bg);
  box-shadow: var(--grid-cell-border-first);
}

.grid-selection-cell-all:not(:empty) + .grid-header-view {
  width: calc(100% - var(--grid-selection-width));
}
.cell_selection-index:not(:empty) + .grid-header-view {
  width: calc(100% - var(--grid-selection-index-width));
}

.cell__dots{
  left: -6px;
  width: 2px;
  position: relative;
}

.cell__dots svg{
  fill: var(--grid-dots-color);
}

.cell-focused {
  outline: var(--focus) !important;
}
.cell.selected:not(.cell_selection){
  outline: var(--focus) !important;
}
.cell-focused.error{
  outline-color: #e61212 !important;
}


.collapsible-btn {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--collapse-icon);
  vertical-align: middle
}

.context-collapsible-btn {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--collapse-icon);
  vertical-align: middle;
  transition-property: transform;
  transition-duration: 300ms;
  transform: rotate(90deg);
}

.collapsible-btn.collapsible-btn_expanded{
  transform: rotate(90deg);
}

.context-collapsible-btn.collapsible-btn_expanded{
  transform: rotate(-90deg);
}

.grid-header-column-content .collapsible-btn {
  top: -1px;
}

/* dropdown-list */

.mselect__group {
  padding-top: 8px;
  border-top: var(--border);
  border-bottom: var(--border);
  cursor: pointer;
}

.mselect__group:first-child {
  border-top-color: transparent;
}

.dd-list__i,
.toolbar-panel_container__select-state .toolbar-btn,
.popout-menu__txt {
  padding: var(--dropdown-item-padding);
  font-size: var(--dropdown-font-size);
}

.dd-list__i_checkbox{
  padding-left: var(--dropdown-item-checkbox-padding);
}
.dd-list__i:hover,
.popout-menu__i:hover {
  background-color: var(--dropdown-item-hover-color);
}
.dd-list__i_group {
  font-size: var(--dropdown-group-fontsize);
  font-weight: 600;
  color: var(--dropdown-group-color);
}

.dd-list__i_group:hover {
  background: transparent;
}

.dd-list__btn{
  border-top: var(--border);
}

/* dropdown time list */
.time-dropdown__i {
  padding: var(--dropdown-item-padding);
  font-size: var(--dropdown-font-size);
}

.time-dropdown__i:hover {
  background-color: var(--dropdown-item-hover-color);
}
/*-----//------*/

/* Dropdown Bubbles */

.bubbles {
  @apply --input-theme;
  padding: var(--dropdown-padding);
}
.bubbles__caret {
  @apply --dropdown-caret-theme;
}
.editor_readonly .bubbles__caret, .editor_disabled .bubbles__caret {
  color: inherit;
}
.bubbles .editor__icons {
  cursor: pointer;
  transform: none;
  top: var(--bubbles-icon-offset-x);
  right: 2px;
  top: 3px;
  font-size: 16px;
}
.editor_bubble--edit.editor_bubble--delete .icon-edit {
  right: 20px;
}  
.editor_bubble--delete .bubbles__i:hover a,
.editor_bubble--delete .bubbles__i:hover span,
.editor_bubble--edit .bubbles__i:hover a,
.editor_bubble--edit .bubbles__i:hover span {
  width: 90%; /* fallback */
  width: calc(100% - var(--bubbles-item-delete-padding));
}

.editor_bubble--edit.editor_bubble--delete .bubbles__i:hover a,
.editor_bubble--edit.editor_bubble--delete .bubbles__i:hover span {
  width: 70%; /* fallback */
  width: calc(100% - var(--bubbles-item-edit-delete-padding));
}

.bubbles__i {
  @apply --bubbles-item-theme;
}
.bubbles__i a,
.bubbles__i span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bubbles .bubbles__caret,
.bubbles .spinner {
  @apply --absolute-center-theme;
}
.bubbles .spinner {
  line-height: 1;
  right: 0;
}

.cell .bubbles {
  padding-left: 0;
  height: 100%;
  border: none;
  background: transparent;
  flex-wrap: nowrap;
  align-items: center;
}
.cell .editor_disabled .bubbles,
.cell .editor_readonly .bubbles {
  background: transparent;
}

.datalist-panel_list.disable-select .dd-list__i:not(.editor_checked){
  cursor: auto;
  color: var(--disabled-text-color);
}
.datalist-panel_list.disable-select .dd-list__i:not(.editor_checked) > .checkbox{
  cursor: auto;
  background: var(--radio-checked-disabled-color);
}
/* columns select */


.columns-select {
  border: var(--columns-select-border);
}
.columns-select-list {
  @apply --columns-select-list-theme;
}
.columns-select__btn {
  border-left: var(--columns-select-border);
  border-right: var(--columns-select-border);
}
.columns-select__header {
  @apply --columns-header-theme;
}

/* button */
.btn{
  @apply --button-theme;
}
.btn-strong{
  @apply --button-strong;
}
.btn-pale{
  @apply --button-pale;
}
.btn-strong:hover{
  @apply --button-strong-hover-theme;
}
.btn-strong:active{
  @apply --button-strong-active-theme;
}
.btn-pale:hover{
  @apply --button-pale-hover-theme;
}
.btn-pale:active{
  @apply --button-pale-active-theme;
}

/* tabs */
.tabs {
  justify-content: var(--tab-header-justify);
}

.tabs__i {
  @apply --tab-item-theme;
  padding: var(--tab-item-padding);
  font-size: var(--tab-item-font-size);
}

.tabs__i_current {
  @apply --tab-item-active-theme;
}

.tabs__i_error {
  @apply --tab-item-error-theme;
}

.tabs__i.disabled {
  @apply --tab-item-disabled-theme;
}

.tabs__i.disabled {
  @apply --tab-item-hidden-theme;
}

.layout__tab-layout__header-view {
  justify-content: var(--tab-header-justify);
}

.layout__tab-layout__header-view-item {
  @apply --tab-item-theme;
  padding: var(--tab-item-padding);
  font-size: var(--tab-item-font-size);
}

.layout__tab-layout__header-view-item_selected {
  @apply --tab-item-active-theme;
}

.layout__tab-layout__header-view-item_error {
  @apply --tab-item-error-theme;
}

.layout__tab-layout__header-view-item_disabled {
  @apply --tab-item-disabled-theme;
}

.layout__tab-layout__header-view-item_hidden {
  @apply --tab-item-hidden-theme;
}

.layout__tab-layout__panel-container {
  @apply --tab-panel-container-theme;
  padding: var(--tab-panel-container-padding);
}

.layout__tab-layout_move-button.prev-layout_move-button{
  @apply --tab-move-btn-prev-theme;
}

/* tabs with move button */
.layout__tab-layout--move .layout__tab-layout__header-region {
  padding: var(--tab-header-padding-with-move);
}


/* Toolbar component */

.toolbar-btn{
  @apply --button-theme;
  @apply --button-strong;
  @apply --toolbar-btn-theme;
  white-space: nowrap;
}
.toolbar-items-wrp > div:last-child.toolbar-btn,
.toolbar-items-wrp > div:last-child .toolbar-btn{
  margin-right: 0
}
.toolbar-buttons_container__const .toolbar-items-wrp > div:first-child.toolbar-btn,
.toolbar-items-wrp > div:first-child .toolbar-btn{
  margin-left: 5px;
}
.toolbar-btn:hover{
  @apply --button-strong-hover-theme;
}
.toolbar-btn:focus{
  outline: var(--focus);
}
.toolbar-btn:active {
  @apply --button-strong-active-theme;
}

/* .toolbar-btn__text {
  display: inline-block;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: #636262;
} */

.toolbar-btn_low{
  @apply --toolbar-btn-low-theme;
}
.toolbar-btn_low:hover{
  @apply --toolbar-btn-low-hover-theme;
}
.toolbar-btn_low:active{
  @apply --toolbar-btn-low-active-theme;
}

.toolbar-btn_normal{
  @apply --toolbar-btn-normal-theme;
}
.toolbar-btn_normal:hover{
  @apply --toolbar-btn-normal-hover-theme;
}
.toolbar-btn_normal:active{
  @apply --toolbar-btn-normal-active-theme;
}

.toolbar-btn_major{
  @apply --toolbar-btn-major-theme;
}
.toolbar-btn_major:hover{
  @apply --toolbar-btn-major-hover-theme;
}
.toolbar-btn_major:active{
  @apply --toolbar-btn-major-active-theme;
}

.toolbar-btn_critical{
  @apply --toolbar-btn-critical-theme;
}
.toolbar-btn_critical:hover{
  @apply --toolbar-btn-critical-hover-theme;
}
.toolbar-btn_critical:active{
  @apply --toolbar-btn-critical-active-theme;
}

.toolbar-btn_fatal{
  @apply --toolbar-btn-fatal-theme;
}
.toolbar-btn_fatal:hover{
  @apply --toolbar-btn-fatal-hover-theme;
}
.toolbar-btn_fatal:active{
  @apply --toolbar-btn-fatal-active-theme;
}

.toolbar__icons {
  display: inline-block;
}

.toolbar__icons .fa {
  font-size: 14px;
}

.toolbar__icons + .toolbar-btn__text{
  margin-left: 5px;
}

.toolbar__icons + .toolbar-btn__text:empty{
  margin-left: 0;
}

.toolbar-btn__text > .editor_checkbox {
  padding-right: 5px;
}

.toolbar__icons_arrow {
  display: inline-block;
  margin: 0 -3px 0 5px;
}

.btn-separator {
  display: inline-block;
  width: var(--btn-separator-width);
}

.toolbar-panel_container__select-state .toolbar-btn{
  background-color: var(--white);
  color: var(--black);
}

.toolbar-panel_container__select-state .toolbar-btn:not(.toolbar-btn_headline):hover{
  background-color: var(--grey-100);
  color: var(--blue-300);
}

.toolbar-panel_container__select-state .toolbar-btn_headline:active{
  box-shadow: none;
}

/* Group */

.layout-group {
  @apply --group-theme;
}

.layout-group__head {
  @apply --group-head-theme;
}

.group-title{
  @apply --group-title-theme;
}

.layout-group__content {
  @apply --group-content-theme;
}

.layout__group-collapsed__button svg {
  transform: rotate(+90deg);
}

.group-title.layout__group-collapsed__button{
  transform: rotate(0);
}

/* Popup */

.layout__popup-view-window {
  background: var(--popup-window-bg);
}

.layout__popup-view-header {
  @apply --popup-header-theme;
}

.layout__popup-view-button-list {
  @apply --popup-footer-theme;
}

.layout__popup-view-header__btn {
  @apply --popup-close-theme;
}
.layout__popup-view-header__btn_equate{
  font-size: var(--popup-header-btn-font-size_equate);
}
.layout__popup-view-content {
  padding: var(--popup-content-padding);

}

.systemMessageBody {
  font-size: var(--system-message-font-size);
}

/* Context Editor */
.editor.context_select {
  @apply --input-theme;
  padding: var(--input-padding);
  height: var(--input-height);
}

.grid-container .editor.context_select {
  height: unset;
  margin: 4px 10px;
  padding: 4px 10px 2px 5px;
  text-align: center;
  width: auto;
}

/* color picker */
.sp-container, .sp-container * {
  box-sizing: border-box;
}
.sp-picker-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}
.sp-top, .sp-initial, .sp-input-container {
  margin-bottom: 5px;
}
.sp-top {
  order: 0;
  flex: 1 0 auto;
}
.sp-initial {
  order: 1;
  border: none;
}
.sp-initial span {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: var(--border);
}
.sp-initial span.sp-thumb-inner {
  width: 100%;
  height: 100%;
  border: 0;
}
.sp-button-container {
  display: flex;
  width: 100%;
  text-align: center;
  order: 3;
}
.sp-input-container {
  width: auto;
  flex: 1 1 0%;
  order: 2;
  height: 100%;
}

.sp-replacer{
  width: 30px;
  height: 30px;
  padding: 0 !important;
  background: transparent !important;
  margin-right: 5px;
  border: none !important;
  cursor: pointer;
  flex: none;
}

.sp-preview{
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  flex: none;
}
.sp-preview .sp-clear-display {
  background: none;
}
.sp-container {
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--white);
  margin-top: 5px;
}
.sp-picker-container {
  width: 220px;
}
.sp-container .sp-input {
  @apply --input-theme;
  font: var(--font);
  padding: var(--input-padding);
  height: var(--input-height);
}
.sp-color, .sp-hue, .sp-clear {
  border: var(--border);
}
.sp-cancel, .sp-choose {
  text-align: center;
  flex: 1 0 auto;
}
.sp-cancel:hover {
  text-decoration: none;
}
.sp-container button.sp-choose, .sp-cancel {
  @apply --button-theme;
  @apply --button-strong;
  background-image: none;
}
.sp-container button.sp-choose:hover {
  @apply --button-strong-hover-theme;
  background-image: none;
}
.sp-container button.sp-choose:active {
  @apply --button-strong-active-theme;
  background-image: none;
}
.sp-dragger {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: transparent;
}


.task-links__link {
  color: var(--text-color);
}

.task-links__link:hover {
  color: var(--link-color);
}

.documents__drop-zone {
  @apply --drop-zone-theme;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  flex: 1 0 auto;
}
.documents__drop-zone.documents__drop-zone--active {
  @apply --drop-zone-active-theme;
}

.documents__wrapper {
  border: 1px dashed var(--border-color);
  border-radius: 6px;
  padding: 20px;
  height: 100%;
  min-width: 120px; 
  min-height: 100px;
  display: flex;
}

.documents__upload {
  cursor: pointer;
  color: var(--link-color);
}
.documents__upload:hover {
  color: var(--link-hover-color);
  text-decoration: underline
}