<span class="js-anchor">
    <span class="js-text member-text">
        {{#with member}}
            {{name}}
        {{else}}
            <span class="member-text__empty">{{localize 'CORE.FORM.EDITORS.MEMBERSELECT.NOTSET'}}</span>
        {{/with}}
    </span>
</span>
<span class="js-clear-button btn-remove btn-remove_absolute"></span>