{{#if userpicUri}}
    <span style="background-image: url({{userpicUri}});" class="avatar-icon avatar-icon_list"></span>
{{else}}
    <span class="avatar-icon avatar-icon_list">{{abbreviation}}</span>
{{/if}}
<span class="js-fullName">{{text}}</span>