<div class="icons-panel-head">
    <div class="icons-panel-head__title">Choose a color:</div>
    <div class="icons-panel-head__title">Search by name:</div>
    <div class="js-color-picker-region icons-panel-head__editor"></div>
    <div class="js-search-input-region icons-panel-head__editor"></div>
    <div class="js-search-area ld-setting-dd-panel ld-setting-dd-panel_icons dev-setting-dd-panel_icons" style="display: none"></div>
</div>
<div class="js-collection-area icons-panel-collection"></div>