<div class="icons-panel-head">
    <div class="js-color-picker-title icons-panel-head__title" hidden>{{localize 'CORE.FORM.EDITORS.ICONEDITOR.COLOR'}}</div>
    <div class="icons-panel-head__title">{{localize 'CORE.FORM.EDITORS.ICONEDITOR.SEARCH'}}</div>
    <div class="js-color-picker-region icons-panel-head__editor" hidden></div>
    <div class="js-search-input-region icons-panel-head__editor"></div>
</div>
<div class="js-search-area icons-panel-collection" hidden></div>
<div class="js-collection-area"></div>