<div class="layout__popup-view-header js-header icon-header-panel">
    <div class="js-color-picker-title layout__popup-view-header-text">{{localize 'CORE.FORM.EDITORS.ICONEDITOR.COLOR'}}</div>
    <span class="layout__popup-view-header__btn layout__popup-view-header__btn_equate  {{ iconPrefixer 'times' }}  js-close button-icons-panel-close"></span>
</div>
<div class="js-search-input-region icons-panel-head__editor"></div>
<div class="js-search-area icons-panel-collection" hidden></div>
<div class="js-collection-area collection-icons"></div>