.editor_focused:not(.editor_readonly):not(.editor_disabled) .input,
.editor_focused:not(.editor_readonly):not(.editor_disabled) .textarea,
.editor_bubble:not(.editor_readonly):not(.editor_disabled) .bubbles.editor_focused,
.editor_checkbox.editor_focused:not(.editor_readonly):not(.editor_disabled) .checkbox,
.editor_date-time.editor_focused:not(.editor_readonly):not(.editor_disabled){
    border-color: var(--input-active-border-color);
}
.editor_bubble:not(.editor_readonly):not(.editor_disabled) .bubbles.open.editor_focused{
    border-bottom-color: transparent;
    box-shadow: 0 1px 3px var(--black-12), 0 -1px 2px var(--black-24);
    border-radius: 4px 4px 0 0;
}
.focused input,
.focused textarea{
    border-color: var(--input-active-border-color);
}
.editor_disabled {
    cursor: auto;
}
.editor_disabled.editor_bubble--single .bubbles,
.editor_readonly.editor_bubble--single .bubbles {
    filter: alpha(opacity=60);
    cursor: auto;

}
.editor_disabled.editor_bubble:not(.editor_bubble--single) .bubbles__caret,
.editor_readonly.editor_bubble:not(.editor_bubble--single) .bubbles__caret {
    opacity: 0.7;
}
.editor_disabled .checkbox-text,
.editor_disabled .radiobutton-text,
.editor_readonly .radiobutton-text{

}

.editor_checked:not(.editor_readonly):not(.editor_disabled) .checkbox,
.editor_checked.checkbox {
    line-height: normal;
    font-size: 11px;
    color: var(--checkbox-checked-color);
    background: linear-gradient(var(--theme-colors__primary_fade), var(--theme-colors__primary));;;
    border-color: var(--checkbox-border-color);
}

.icon-false {
    color: var(--red-dark);
    font-size: 1.2em;
}

.icon-true, .icon-false {
    margin: 0 auto;
    display: flex;
    width: 10px;
}

.tr-search__input {
    border: 1px solid var(--theme-colors__main_strongest);
    border-radius: 4px;
    height: var(--input-height);
    background-size: 14px 14px;
    text-overflow: ellipsis;
}

.tr-search__clear .icon-remove {
    vertical-align: middle;
}

.radiobutton {
    color: var(--theme-colors__primary);
    border-color: var(--theme-colors__primary);
    background-color: var(--theme-colors__main);
}

.checkbox:hover,
.radiobutton:hover {
    box-shadow: 0 0 3px var(--theme-colors__primary_fadest);
}

.checkbox .svg-icons {
    width: 0.9em;
    height: 0.9em;
}

/* Buttons */
.btn.btn-icon svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    top: 0.125em;
    position: relative;
}

.btn.btn_arrow {
    background-position: 50%;
    background-repeat: no-repeat;
}

.btn.btn-small {
    padding: 2px 15px;
    font-size: 13px;
    font-weight: 600;
}
.btn.btn-large {
    padding: 4px 15px;
    font-size: 20px;
}

/* dropdown-list */

.subtext-list.selected .datalist-container-text,
.subtext-list.selected .datalist-container-subtext,
.subtext-list.selected .datalist-icon,
.dd-list__i.selected,
.selected .dd-list__i,
.dd-list__i:hover,
.time-dropdown__i:hover,
.popout-menu__i:hover .popout-menu__txt,
.popout-menu__i_selected .popout-menu__txt {
    color: var(--theme-colors__primary);
}

.subtext-list.selected .datalist-container-text,
.subtext-list.selected .datalist-container-subtext,
.dd-list__i.selected,
.selected .dd-list__i {
    font-weight: 600;
}
.bubbles .spinner {
    right: 25px;
}
.bubbles__form {
    padding: 2px 0;
}
.open.dropdown__wrp_down .bubbles {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.open.dropdown__wrp_up .bubbles {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown__wrp {
    border-radius: var(--border-radius);
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.datalist-panel.dropdown__wrp_down {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.datalist-panel.dropdown__wrp_up {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* icons */

svg.svg-icons.svg-icons_remove {
    fill: var(--red-dark);
}
svg.svg-grid-icons.svg-icons_flag-yes {
    fill: var(--main-color);
}
svg.svg-grid-icons.svg-icons_flag-none {
    fill: var(--theme-colors__error);
}

/* Tabs */

.layout__tab-layout_move-button {
    font-size: 1em;
    padding: 0 10px;
}

.grid-toolbar-region {
    padding-right: 10px;
}

.grid-toolbar__search{
    order: 2;
}

/*------------------ Form Label ------------------*/
.form-label__info-button,
.form-label__error-button {
    transition: color 0.3s;
}
.form-label__info-button {
    color: var(--theme-colors__main_fade);
}
.form-label__error-button {
    color: var(--theme-colors__error);
}

.form-label__info-button:hover {
    color: var(--theme-colors__text);
}
.form-label__error-button:hover {
    color: var(--theme-colors__error);
}

.form-label:not(.form-label_empty) + .editor_document,
.form-label:not(.form-label_empty) + .editor_checkbox {
    padding-left: var(--form-input-padding);
}

.error .form-label {
    color: var(--theme-colors__error);
}

.warning .form-label {
    color: var(--theme-colors__warning);
}
.required .form-label__txt,
.form-label_required .form-label__txt{
    padding-right: 10px;
}

.required .form-label__txt::after,
.form-label_required .form-label__txt::after{
    content: '*';
    color: var(--theme-colors__error);
    position: absolute;
    right: 0;
}
.cell.required::before {
    content: '*';
    color: var(--theme-colors__error);
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.cell.error.required::before,
.cell.warning.required::before {
    display:none;
}

.layout__horizontal-layout > div:not(:last-child),
.layout__horizontal-layout-list-item:not(:last-child) {
    padding-right: 10px;
}

.layout__vertical-layout > div:not(:last-child),
.layout__vertical-layout-item:not(:last-child){
    margin-bottom: 20px;
}

.group-toggle {
    order: 2;
}

.layout__configuration-panel-container > div {
    margin-top: 5px;
}


.configuration-panel .layout__vertical-layout-item,
.configuration-panel .layout__vertical-layout > div,
.dataset-configuration-panel .layout__vertical-layout-item, /*remove*/
.dataset-configuration-panel .layout__vertical-layout > div {/*remove*/
    margin-bottom: 0;
}

.layout-group .layout-group__content > .layout-group .group-title {
    font-size: 15px;
    padding-left: 0
}
.layout-group .layout-group__content > .layout-group .layout-group__content {
    background-color: var(--theme-colors__main);
}

.layout__popup-view-header-text {
    font-family: var(--headers-font-family);
    font-style: var(--headers-font-style);
    font-weight: var(--headers-font-weight);
    flex: 1 1 auto;
    padding-right: 10px;
}
.layout__popup-view-header__btn {
    opacity: 0.5;
}
.layout__popup-view-header__btn:hover {
    opacity: 1;
}

.layout__popup-view_mobile .layout__popup-view-header__btn,
.layout__popup-view_mobile-system-type .layout__popup-view-header__btn {
    display: none;
}

.cell .date-view,
.cell .time-view,
.editable-grid-field {
    height: 100%;
}

.cell > .editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--grid-cell-padding);
}

.cell > .collapsible-btn + .editor {
    display: inline-flex;
    width: auto;
    padding: 0;
    position: static;
}

.cell > .context_select {
    position: static;
    padding: 4px 20px 4px 10px;
}

.cell.editor_date-time > .editor_date-time_date {
    width: auto;
    right: 50%;
    padding-right: 0;
}
.cell.editor_date-time > .editor_duration {
    width: auto;
    left: 50%;
    padding-left: 0;
}

.cell.editor .textarea{
    height: 100%;
    border: none;
    background: transparent;
}

.cell.editor_document {
    display: table-cell;
    padding: 0;
}
.cell.editor_document > form{
    max-height: 35px;
    overflow: hidden;
    display: none;
}

.cell > .editor.editor_document > .documents {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cell > .editor.editor_document > .documents .task-links__i {
    margin-bottom: 0;
    margin-right: 2em;
}

.cell .documents__text,
.cell .field-documents__more{
    display: none;
}

.cell .documents__drop-zone {
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Pro';
    font-weight: 900;
}
.cell .editor_empty .documents__drop-zone::before{
    content: "\F0C6";
    color: grey;
    position: absolute;
}

.cell .documents__wrapper {
    padding: 0;
    border: none;
}

.layout__popup-view-content>.layout__form-view {
    display: flex;
}

.layout__popup-view-content .systemMessageBody {
    width: 100%;
    padding: 15px;
}

/* Document upload */
.editor_document {
    flex-direction: column;
    align-items: flex-start;
}

.task-links__i {
    margin-bottom: 10px;
}

.btn.field-documents__more {
    width: auto;
    text-align: center;
    background-color: var(--theme-colors__main_fadest);
    color: var(--theme-colors__text);
}

.btn.field-documents__more:hover {
    background-color: var(--theme-colors__main_strong);
}

.show-more-counter:not(:empty) {
    border-radius: 10px;
    background-color: var(--theme-colors__main_fade);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 2px 6px;
}

/* Date Time */

.editor_date-time.LongDate .editor_date-time_date {
    flex-basis: 250px;
}
.editor_date-time.ShortDate .editor_date-time_date,
.editor_date-time.DateIso .editor_date-time_date {
    flex-basis: 95px;
}
.editor_date-time.CondensedDate .editor_date-time_date {
    flex-basis: 130px;
}
.editor_date-time.YearMonth .editor_date-time_date {
    flex-basis: 140px;
}

.editor_date-time.ShortTime .editor_date-time_time .input {
    max-width: 60px;
}
.editor_date-time.LongTime .editor_date-time_time .input {
    max-width: 90px;
}

/* /Date Time/ */

.dev-code-editor-toolbar{
    background: var(--theme-colors__main);
    border: solid 1px var(--theme-colors__main_strongest);
    border-bottom: none;
}

.left-menu-view-switcher__container .toolbar-btn {
    font-size: 13px;
    padding: 8px 15px;
}

.toolbar-btn__text {
    vertical-align: inherit;
}
