/* filter-icon-list */
.filter-icon-lists {
    width: 220px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.filter-icon-lists__all{
    flex: 0 0 auto;
    height: 45px;
    line-height: 40px;
    border-bottom: 1px solid #dee3e8;
}
.filter-icon-lists-all-txt{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
    color: #0575bd;
    cursor: pointer;
    vertical-align: middle;
}

.filter-icon-lists__list{

    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 310px;
    padding-left: 5px;
}

.filter-icon-list__i{
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.filter-icon-list__i:hover{
    background-color: #edf3fb;
}

.filter-icon-list-eye {
    display: inline-block;
    width: 50px;
    height: 40px;
    cursor: pointer;
}


.filter-icon-list-txt{
    display: inline-block;
    height: 100%;
    cursor: pointer;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #dee3e8;
    flex: 1;
    padding-left: 8px;
}

.filter-icon-list__i:first-child .filter-icon-list-txt{
    border-top: none;
}


.filter-icon-list-draggable {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-size: auto 15px;
    cursor: move;
    opacity: .6;
}

.filter-icon-list-draggable:hover {
    opacity: 1;
}


.filter-icon-lists__save{
    flex: 0 0 auto;
    height: 45px;
    line-height: 40px;
    border-top: 1px solid #dee3e8;
    text-align: center;
    vertical-align: middle;
}

.filter-icon-lists-save-txt{
    font-size: 13px;
    font-weight: 500;
    color: #0575bd;
    cursor: pointer;
    vertical-align: middle;
}
.filter-icon-lists-save-txt:hover{
    color: #009bfe;
}

.filter-icon-lists__dragging {
    width: 180px;
    height: 40px;
    position: fixed;
    border: 1px solid #dee3e8;
    opacity: 0.8;
    background: #fff;
    z-index: 1000;
    cursor: move;
    pointer-events: none;
}

.filter-icon {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    padding: 10px;
}

.filter-icon-all {
    font-size: 23px;
    padding-top: 13px;
}

.filter-icon-item {
    font-size: 15px;
}

.filter-enabled {
    color: #0575bd;
}

.filter-disabled {
    color: #dee3e8;
}

/* /filter-icon-list */

