/* eye-list */
.eyes-lists {
    width: 220px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.eyes-lists__all{
    flex: 0 0 auto;
    height: 45px;
    line-height: 40px;
    border-bottom: 1px solid #dee3e8;
}
.eyes-lists-all-txt{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 500;
    color: #0575bd;
    cursor: pointer;
    vertical-align: middle;
}

.eyes-lists__list{
    flex-grow: 1;
    overflow-y: auto;
    max-height: 310px;
}

.eyes-list__i{
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.eyes-list__i:hover{
    background-color: #edf3fb;
}

.eyes-list-eye {
    display: inline-block;
    width: 50px;
    height: 40px;
    cursor: pointer;
}


.eyes-list-txt{
    display: inline-block;
    height: 100%;
    cursor: pointer;
    width: calc(100% - 50px);
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #dee3e8;
}

.eyes-list__i:first-child .eyes-list-txt{
    border-top: none;
}


.eyes-list-draggable {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-size: auto 15px;
    cursor: move;
    opacity: .6;
}

.eyes-list-draggable:hover {
    opacity: 1;
}


.eyes-lists__save{
    flex: 0 0 auto;
    height: 45px;
    line-height: 40px;
    border-top: 1px solid #dee3e8;
    text-align: center;
    vertical-align: middle;
}

.eyes-lists-save-txt{
    font-size: 13px;
    font-weight: 500;
    color: #0575bd;
    cursor: pointer;
    vertical-align: middle;
}
.eyes-lists-save-txt:hover{
    color: #009bfe;
}

.eyes-lists__dragging {
    width: 180px;
    height: 40px;
    position: fixed;
    border: 1px solid #dee3e8;
    opacity: 0.8;
    background: #fff;
    z-index: 1000;
    cursor: move;
    pointer-events: none;
}

.filter-icon {
    font-size: 17px;
    font-weight: 500;
    /* color: #0575bd; */
    cursor: pointer;
    vertical-align: middle;
    padding: 10px;
}

.filter-icon-all {
    padding-top: 15px;
}

.filter-icon-item {
    padding-bottom: 40px;
}

.filter-opened {
    color: #0575bd;
}

.filter-closed {
    color: #dee3e8;
}

/* /eye-list */

