/*-- Reset css --*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*:focus {
    outline: none;
}

/*-- //--*/

html, body {
    width: 100%;
    min-width: 980px;
    height: 100%;
    overflow: hidden;
}

body.non-selectable {
    min-width: 0px;
}

body, input, textarea, select, label {
    font: normal 12px/1.4 'OpenSans', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #0575bd;
    text-decoration: none;
}

a:hover {
    color: #009bfe;
    text-decoration: underline;
}

/* native scroll */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0;
    background: rgba(0,0,0,0);
    -webkit-transition: all 2.2s;
    transition: background 2.2s;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
    -webkit-box-shadow: none;
}
.wrp-scroll:hover ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:end {
    background: rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,.1);
}



/* loader */
.l-loader:not(:empty) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .65);
    z-index: 300;
}


.loader {
    width: 100%;
    height: 28px;
    margin: -12px 0 0;
    line-height: 24px;
    font-size: 12px;
    color: #0575bd;
    font-weight: 500;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    background: 50% 100% no-repeat url('data:image/gif;base64,R0lGODlhTQAHAKU7AAR2vAR6vAx6vAx+vBR+xBSCxByCxCSGxCSKxCyKxCyOxDSOzDSSzDySzDyWzESWzESazEyezEye1Fym1GSq1GSu1Gyu3Gyy3HSy3HS23Hy23Hy63IS63IS+3Iy+3Iy+5IzC5JTC5JTG5JzG5JzK5KTK5KTO5KzS7LTW7Lza7MTe7MTi9Mzi9Mzm9NTm9NTq9Nzq9Nzu9OTu9OTy9OTy/Ozy/Oz2/PT2/PT6/Pz6/Pz+/P///////////////////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJBQA/ACwAAAAATQAHAAAGM8CfcEgsGo/IpHLJZOZEmVdzSq1SPwBAwmbteruTrCD2LZuTKQJgkju7378Yqw2v2+/wIAAh+QQJBQA/ACwAAAAATQAHAAAGM8CfcEgsGo/IpHLJbDZzoszLSa1alx8AIGG7er/UiVYQA5vPxhQBMMmh3+gYyw2v2+/MIAAh+QQJBQA/ACwAAAAATQAHAAAGNMCfcEgsGo/IpHLJbDqVrQwp96xar8baAQAQYb9gpisAEFTC6PQQJxEUVOp4OLeSye94fBAAIfkECQUAPwAsAAAAAE0ABwAABjTAn3BILBqPyKRyyWw6n8JWhpSDWq9YYe0AAIiy4HDSFQAIKuK0GicRFFTqeDi3ksnv+HAQACH5BAkFAD8ALAAAAABNAAcAAAYzwJ9wSCwaj8ikcslsOp/FnCjzglqv2OEHAEjYsuBwcsIVxMTodIoAmOTS8HCM9Y7b79YgACH5BAkFAD8ALAAAAABNAAcAAAZJwJ9wSCwaj8ikcsk80jidWnOqTGFOOqr2FwEAJtvwDyYACFDipiEASKS1J3YA9F5yBAJ6vXlbBBAwe0k6Li5Zgkw3KlKIjY57QQAh+QQJBQA/ACwAAAAATQAHAAAGQsCfcEgsGo/IpHLJbCJpnI7NmZxtPFOq1hkBACZb48NLCZuTBm/iPBR4Gez4kDMQgOQZwWAkl+tcLjp+LYF9hoeHQQAh+QQJBQA/ACwAAAAATQAHAAAGSMCfcEgsGo/IpHLJbDqJOtQl1cyRMq2ndotUCQCC7FIEABxq3DSXHACYmJeywKWuO2UJgAK9VBUEEjh2g0s2KoJNMoeEjI2NQQAh+QQJBQA/ACwAAAAATQAHAAAGSsCfcEgsGo/IpHLJbDqXOtQldVRhTLqndutUCQCCVjFGAJ+46HRxBAgATEUVYM5R29GxBEBRK+IcAAdid4RPNio2RzgqNIWOj3dBACH5BAkFAD8ALAAAAABNAAcAAAY+wJ9wSCwaj8ikcslsOp80Tsc2jE6f2Kw2AgBMhlyvdkxOGrqJ4RmQLrvdHIEANIzP3/ixzuXSDfd9eYKDbkEAIfkECQUAPwAsAAAAAE0ABwAABl3An3BILBqPyKRyyfzpTBhVc6rUlTCsoRVLVZ4EAEKsSx6WAgADTXhOr8tFDgAQSMHJmLlgJczTs3dDLAcBDjiBVCwGARCHPywEjI6IPzQqk5RMM5dEMyyYmaGigUEAIfkECQUAPwAsAAAAAE0ABwAABl3An3BILBqPyKRyyWwKdSaMyqlkYUq6oRVL7R5PAgAh5i3SDAFASXgGBNblOAfgTsW1aQBGuMrv714sBwEOOIA/OBAABixCiQIGK4deNCqGkzgsM0Q4KpuToKGiP0EAIfkECQUAPwAsAAAAAE0ABwAABlfAn3BILBqPyKRyyWw2ZRrQrWnjcGjD6tXJ7Q5zDQAA05yII0MzAO1tM3ECMaSZEBuGdcDdzUfqLAAEJk0gAgMcQ4WHfYxGOiwwTjouLDpDk5WNmpucP0EAIfkECQUAPwAsAAAAAE0ABwAABl/An3BILBqPyKRyyWw6jTIN6GbUmTCqoRX77HqPuQYAgDGeAgBCTHgSpNffeBcnQEOMGkBAkBJyxgF9coNMOhYBBCZGLgcADThCLAcBj4SWSjosMEg0KpBDnZ+Xo6SEQQAh+QQJBQA/ACwAAAAATQAHAAAGW8CfcEgsGo/IpHLJbDqTOhNGRWxlSLmhFfvsepUnAYAQE9YOAIDIjFZ/3/AfJx1ICV0BgKByz+/jgE8tBwEOOEI4EgIEVD+Ji42Bkko0KodDOSsyRJmbk5+gcEEAIfkECQUAPwAsAAAAAE0ABwAABl3An3BILBqPyKRyucwxn8xWZuQU2jwb2fCahR4/3nDRdgAEREMKAPAYVtZt8XAil7sC68qQYRbs+3VCKYFhOBICBSpDIwMCGYuNj4STXjkrWkM6Li06mZudlKGiokEAIfkECQUAPwAsAAAAAE0ABwAABnHAn3BILBqPyKRyyVS+MKJcU2nzbGZD3QmTym670/DPlgAAPuIjJQB4DFECgAAmhMvpaWZMwJ7kiwxmA0MgAGwoQoWHf0s5EwEEYIw/IgQCGUMwCAALN0KanJ6TSTkseKM6Lyw6RDUqokKusKO0tbY/QQAh+QQJBQA/ACwAAAAATQAHAAAGdcCfcEgsGo/IpHLJbB5zJEyrqTthUsQXRpQbarnOMFMUABxqzJQAIIAJbQkA4POOz8V4ZGUdcDFBcgEoQjACZRNCMYYAiHmOQyoEAhJdSy8IAAs3QjgTAgRYP50BoI+mPzIrOE41KqtDOCwxRDksbqe4ubpDQQAh+QQJBQA/ACwAAAAATQAHAAAGdMCfcEgsGo/IpHLJbDpzJEzr+MKIcsMbSBPLbmXOsHgoCgAOtaItAQB8hhZzAyfEtOfjPNPSFriKMQJmE0MQbQN0P4YAiHqOSCoEAhKJQzkTAQQpQyYEARY6QiYDAqCPp0UyK5VEOSwwRTAsoUOytKi4uahBACH5BAkFAD8ALAAAAABNAAcAAAZ0wJ9wSCwaj8ikcslsOokvjCg3vIE0saEOdUlpud6neCy0JQCAz/CCbuCEKgFA0ILL6eR8MyYIACZDEGgDbz8jAH4mQodoinqPSDkTAQRhPyYDAhY6QjJnCjVCMQkBoJCnRjksMEUwLJxDNio2RLI3qLi5kEEAIfkECQUAPwAsAAAAAE0ABwAABnnAn3BILBqPyKRyyWw6iTeQRjbUoS4pIiwTwhlpnE7tSS5jAICFTqgSAAQt4W0BCGyMEfSkzG9C6gM3QiEBaCZCNQNoEkYGdQl9kUkmAwIWaz8yCQELNEI6FAIDJ0YcAgIgkqpGMCyYQjYqNkQ5LDBHOi4ur6u9vnxBACH5BAkFAD8ALAAAAABNAAcAAAZ0wJ9wSCwaj8ikcslsOok61CVFhGVCuCEulIE1aZxO7UlWqgQAQUuIWwAAmyHnvcguI+9JeW8MBd4mQjUCfxJDeAECY0sGfwl8kEIyCQELNEI6FAICJ0MnBAEUOkwcmyCRkTYqNlAsXlUso0w6Li6yqLi5T0EAIfkECQUAPwAsAAAAAE0ABwAABnHAn3BILBqPyKRyyWw6i7BMCDfEhTIwYuqC0j2POtTl+8UtAIHNcAMALKi/lgAgUJGLqvndWRMEABJDEnMCNUImbQAje0Mhf4xMOhQCAidDKJQUXj81CgIJWZAyCgCQkSqhQzAqm0I2KjamrnaytbZEQQAh+QQJBQA/ACwAAAAATQAHAAAGZcCfcEgsGo/IpHLJbDqLuFAGRkxdULqhTAO6Pb9g5QYAWOCELQFAoBLmFgEAJkyv/ySAgKAmNJEBI0I4A2QQdodPJwQCFFk/NQoCCVQ/OhYCAyaIm0wwKo5CNio2RDoslJypqohBACH5BAkFAD8ALAAAAABNAAcAAAZkwJ9wSCwaj8ikcslsOo2pC0o3lGlAN6POhFE9v+BjSwAQeH+5BgCAMZ4CAEIsTAeb1oCR0DYABCBGGn4CKXWGTTUKAgc0QjoWAgImRi4HAA04h5pKNio2RDosMEg0KpmbqKmaQQAh+QQJBQA/ACwAAAAATQAHAAAGY8CfcEgsGo/IpHLJbDqNMg3oNsSJMq6mzoRRPb/gXAMAwAw/5ISNeRIACDGwnIkTBACQ4QQQEMSXHGQBKXOFSDoWAQQmQykEARM5TCwHAQ04hplFOiwwRTAsmE00KqKap6hyQQAh+QQJBQA/ACwAAAAATQAHAAAGY8CfcEgsGo/IpHLJbDqNOVHmRUxhTronUqYB3bTg4gcASNiEMAFAgAoTdYsAAON2TwABQUyIIgc+dUI4A2QQgWApBAETOUI2cQgwhzoWAgMmh2AxLDhENyo1mT86LJKip6hGQQAh+QQJBQA/ACwAAAAATQAHAAAGSsCfcEgsGo/IpHLJbDqPKcxJN5xtPLandruFCQAC1PABAFC46DQSBQgAQMNBe6Gu12+LAAI2zAgEI3aCaDcqNUQ6LS9Ug42Ojz9BACH5BAkFAD8ALAAAAABNAAcAAAZJwJ9wSCwaj8ikcslsOo+zjcdm1J0wqad2+3wAABRjSgAQwLjodHEACCyMoG8Apa6jNwLByPhCABY3doJPOi0vOkc1KoGDjY6NQQAh+QQJBQA/ACwAAAAATQAHAAAGSsCfcEgsGo/IpHLJbDqPORKm1dSdMKmndosUBQCHGjMlAAhg3DS3Ug64mCAAIIBS252qgkCSY7oQAQs3d4RLMio4TjUqg4WOj3dBACH5BAkFAD8ALAAAAABNAAcAAAZFwJ9wSCwaj8ikcslsOpEqjEn3RNI2Hlt1y4wRAIITt+gAACjjtDElMHPUwoGZAa/jyodWfSMQjOp2KjSAOi0uVICJiktBACH5BAkFAD8ALAAAAABNAAcAAAYxwJ9wSCwaj8ikcslsOpE0Tsf2rFqvxwgAMMF6v03DNgEum4kcgQB0boN1LpfOTa/bgwAh+QQJBQA/ACwAAAAATQAHAAAGNMCfcEgsGo/IpHLJbDqXOtQl9axar0eVACBoYb9g5ggQAJjC6PRQlgAoaup42Kayye94eRAAIfkECQUAPwAsAAAAAE0ABwAABjTAn3BILBqPyKRyyWw6n0Md6pKCWq/YoUoAELSy4HByBAgATOK0WpYAKGrqeNimssnv+GwQACH5BAkFAD8ALAAAAABNAAcAAAYywJ9wSCwaj8ikcslsOp9OGqdjg1qv2GEEAJhkv2ClgZsIm88/jkAAQruzOpdL967bjUEAIfkEAQUAPwAsAAAAAE0ABwAABjHAn3BILBqPyKRyyWw6n1AmjdOxRa9YbAQAmGS/YKWBmwibzz+OQABCu7M6l0v3roODADs=');
}
/* /loader */





/* /avatar/ */

/* --------------- Search ----------------*/
.tr-search {
    height: 23px;
    margin: 0 20px;
    padding: 8px 0;
    display: none;
    position: relative;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: solid 1px #ced3d7;
    background: #fff;
    z-index: 44;
}

.tr-search_report {
    width: 50%;
    margin: 0;
    float: right;
    display: block;
    border: 0;
}

.tr-search_mselect {
    margin: 0;
    display: block;
}

.tr-search__input {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0 0 0 25px;
    font-size: 13px;
    color: #333;
    border: 0;
    outline: 0;
    background: no-repeat 6px 50% #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMJJREFUeNpinDlzJgMU2ANxERAbQ/lngbgPiA8yIAEmKF0BxPOBeAEQm0PxAqhYBbIGFqjJUUBsCMQfkeTWA/E+ID4MxEegGGxDCxDXoCmGgY9QuRZkJ+miuxMNgGwxQPcDIcCMrOEy1B+4gBM0xOAaYG7kx6IYJNYOVQPXAHL/MiA+D8SBQCwBxYFQMZBzkmHOgvmhA4gTgTgBqug8lJ0IDW5pIJ4D0sSCZP1BPKHlD8RbgHgRsaH0HYh9gPgXQIABAKFrJnBTJSNWAAAAAElFTkSuQmCC);
    display: block;
    box-sizing: border-box;
}

.tr-search__placeholder {
    width: 100%;
    padding-left: 0;
    padding-right: inherit;
    font-size: 14px;
    position: absolute;
    top: 13px !important;
    left: 30px !important;
    color: #bcc6cf;
    cursor: text;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.tr-search__input:focus + .tr-search__placeholder,
.tr-search__input:valid + .tr-search__placeholder {
    display: none;
}

.tr-search__placeholder.focused {
    display: none;
}

.tr-search__clear {
    width: 26px;
    height: 26px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
    background: no-repeat 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHZJREFUeNpinDlzpj0DA0M7EPsD8WsGCBAF4i1AXMYEJLqA2BKId0ElQHgvEJuB5FiAhA9UwABKg4AuEF8GybFAjXWGSupCFVyGir1mYiAAmJDshBl7GcoGiYmyQF2ri2QsA5KGLSATKoH4FMxOJDedBckBBBgAX6IbvaqTe1UAAAAASUVORK5CYII=);
}

.tr-search__clear:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.search-view {
    position: relative;
}
/*-----//------*/

.selected {
    background: #eaf5fc
}

/* ------------------------------ user-avatar ------------------------------ */
.user-avatar {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 21px;
    left: 7px;
    font-size: 44px;
    color: #d2dbe2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 84px;
    overflow: hidden;
}

.user-avatar:hover {
    color: #d2dbe2;
    text-decoration: none;
}

.user-avatar_edit {
    cursor: pointer;
}

.user-avatar__img {
    width: 80px;
    height: 80px;
    margin: 1px 0 0 1px;
    line-height: 80px;
    overflow: hidden;
    border: solid 2px #fff;
    border-radius: 50%;
    display: block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 1px #d2dbe2;
    box-shadow: 0px 0px 0px 1px #d2dbe2;
}
.user-avatar__upload {
    width: 94px;
    line-height: 94px;
    font-size: 70px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
    z-index: 19;
    cursor: pointer;
}

.user-avatar__txt-wrp {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    cursor: pointer;
}

.user-avatar__txt {
    margin-top: 31px;
    line-height: 22px;
    font-size: 11px;
    text-align: center;
    text-transform: none;
    background: #2d9adf;
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
    white-space: nowrap;
    cursor: pointer;
}

.user-avatar:hover .user-avatar__txt {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: .6;
}

/* /user-avatar */




/* SplitPanelView */
.double-panels{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

.double-panels__panel{
    flex: 1 1 auto;
}

.double-panels__resizer{
    width:9px;
    box-sizing: content-box;
    cursor: e-resize;
    top: 0;
    height: 100%;
    left: 50%;
    position: absolute;
    margin-left: -4px;
    z-index: 5
}
.double-panels__resizer:after{
    content: '';
    width:1px;
    background: #ced3d7;
    top: 0;
    height: 100%;
    left: 4px;
    position: absolute;
}
/* /SplitPanelView/ */
