/* btn-del */
.btn-del {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
    border-radius: 50%;
    border: 0;
    background: #b6b6b6 no-repeat 50% 50% url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZmZmZmZmIiBwb2ludHM9IjgsNi43IDUuMyw0IDgsMS4zIDYuNywwIDQsMi43IDEuMywwIDAsMS4zIDIuNyw0IDAsNi43IDEuMyw4IDQsNS4zIDYuNyw4ICIvPjwvc3ZnPg==);
    cursor: pointer;
    transition: all .2s;
}

.btn-del_absolute {
    margin: -8px 0 0;
    position: absolute;
    top: 50%;
    right: 7px;
}
.btn-del:hover {
    background-color: #c94e36;
}
.btn-wrp:hover .btn-del, .btn-wrp-active .btn-del {
    visibility: visible;
}
/* btn-del */

/* bubbles */
.bubbles {
    width: 100%;
    overflow: hidden;
    outline: solid 1px #e7ebee;
    outline-offset: 1px;
    padding: 1px 3px;
}
.open .bubbles {
    outline-color: #2f98e4;
}

.bubbles__i {
    max-width: 100%;
    margin: 1px 4px 1px 0;
    padding: 0 18px 0 10px;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    position: relative;
    border: solid 1px #6fb9e7;
    border-radius: 2px;
    background: #e0f1f9;
}
.bubbles__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: inherit;
    text-decoration: none;
    color: #000;
}
.bubbles__link:hover {
    color: #0a5486;
}
.bubbles__form {
    width: 200px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
}
.bubbles__input {
    width: 100%;
    border: 0;
}

/* /bubbles */

.button-delete_absolute {
    content: '';
    position: absolute;
    width:15px;
    height: 15px;
    right:10px;
    top:5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDRkM3NTI0MDdDODIxMUU0QTU5MDk1OTgxN0UxMTUyRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDRkM3NTI0MTdDODIxMUU0QTU5MDk1OTgxN0UxMTUyRSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNGQzc1MjNFN0M4MjExRTRBNTkwOTU5ODE3RTExNTJFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNGQzc1MjNGN0M4MjExRTRBNTkwOTU5ODE3RTExNTJFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+T1Q5LwAAAS9JREFUeNqMkjtOw1AQRe0nPpUrvg0CpY8ojBBiBWED5INcR1kABStA7CB9CkJaJEhDDQUUiDooUAQISUMqKAJ3pPOQCxwy0tF4nu+dN5YnnD28ClLhRFGUxY5YEu/iRpyKMzH24jBlzomWiIPsuBP74tHf5I3XGJ9ETayLeXKN8xhdzpsd4yyLtsiLungWn+Q65210pndmLIkt0eV7Rxkjjxi5i75k5oSXx+IjmBzW4ITnxNHF4jKYLi7Im2ZepHjLEH+Dj1fygpkHFCt/GMMUPlbJQzPfUuxNOXaBfG/mBsWRiP4xRugsGmZucvsGGxZNMLbQmb7p2FX7131GehBVsSbmyFXOC+hMP56ha0fssjkxG5W120X0v7vtG2yLijgXPfElXqgPeN/xhh8BBgDPe0QwUY3cuwAAAABJRU5ErkJggg==');
}

/* avatar-icon */
.avatar-icon {
    width: 21px;
    height: 21px;
    margin: 2px 9px 0 0;
    padding: 0;
    line-height: 22px;
    display: block;
    float: left;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #cacaca;
    border-radius: 50%;
    border: solid 1px #fff;
    background: #fff no-repeat 50% 50%;
    -webkit-box-shadow: 0px 0px 0px 1px #cacaca;
    box-shadow: 0px 0px 0px 1px #cacaca;

    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.avatar-icon_toolbar {
    width: 22px;
    height: 22px;
    margin: 0;
    font-size: 13px;
    line-height: 22px;
}

.avatar-icon:hover {
    color: #cacaca;
}

.avatar-icon_hover:hover {
    box-shadow: 0 0 0 1px #009bfe;
    color: #009bfe;
}

.avatar-icon_gchart {
    margin-top: 0;
}

.avatar-icon_task {
    margin: 0;
    position: absolute;
    top: -12px;
    left: -33px;
}

.avatar-icon_assignee {
    margin-left: 4px;
    cursor: pointer;
    background: no-repeat 50% 50% #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTUgMTUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1IDE1IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI2NhY2FjYSIgZD0iTTcuNjkyIDExLjI1Yy0xLjY2NyAwLTEuNTctMC43OTEtMS41ODItMC44NDQgYzAuMDAzLTAuMTM1IDAtMS4xNCAwLTEuMTRzMC44NTgtMC4zOTMgMS4xMTEtMS4xMzljMCAwIDAuNiAwIDAuNTU2LTAuNTd2LTEuMTRjMCAwLTAuMjk5LTAuNDE4LTAuODU1LTAuNDE4VjQuNSBjMC0wLjI5NiAwLTAuNzUtMC4yNTYtMC45M0M2LjI1OCAzLjUgNi4yIDMuNiA2IDMuNTY0QzUuNzY2IDMuNSA1LjQgMyA1IDNMNC4zOTMgMy4yIGMtMC4zNzEgMC0wLjMxNCAwLjE3Mi0wLjUxMyAwLjIwMUMzLjY4IDMuNCAzLjcgMi45IDMuMyAzLjQwNkMzLjA3NyAzLjggMy4xIDQuMiAzLjEgNC41VjYgQzIuNTIxIDYgMi4yIDYuNCAyLjIgNi40MTh2MS4xNGMwIDAgMCAwLjYgMC42IDAuNTdjMC4yNTMgMC43IDEuMSAxLjEgMS4xIDEuMTM5UzMuODM2IDEwLjIgMy44IDEwLjUgYzAgMCAwLjEgMC43NS0xLjUzOCAwLjc1QzAuMDg1IDExLjIgMCAxMi4xIDAgMTQuMzk1YzAgMC42IDAuNiAwLjYgMC42IDAuNTY5aDguODU4YzAgMCAwLjYgMCAwLjU4Ni0wLjU5OCBDMTAgMTIuMiA5LjkgMTEuMiA3LjcgMTEuMjV6IE0xMiAzVjBoLTF2M0g4djFoM3YzaDFWNGgzVjNIMTJ6Ii8+PC9nPjwvZz48L3N2Zz4=);
}

.avatar-icon_assignee:hover {
    color: #009bfe !important;
    box-shadow: 0 0 0 1px #009bfe !important;
    background: no-repeat 50% 50% #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTVweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTUgMTUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1IDE1IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzAwOWJmZSIgZD0iTTcuNjkyIDExLjI1Yy0xLjY2NyAwLTEuNTctMC43OTEtMS41ODItMC44NDQgYzAuMDAzLTAuMTM1IDAtMS4xNCAwLTEuMTRzMC44NTgtMC4zOTMgMS4xMTEtMS4xMzljMCAwIDAuNiAwIDAuNTU2LTAuNTd2LTEuMTRjMCAwLTAuMjk5LTAuNDE4LTAuODU1LTAuNDE4VjQuNSBjMC0wLjI5NiAwLTAuNzUtMC4yNTYtMC45M0M2LjI1OCAzLjUgNi4yIDMuNiA2IDMuNTY0QzUuNzY2IDMuNSA1LjQgMyA1IDNMNC4zOTMgMy4yIGMtMC4zNzEgMC0wLjMxNCAwLjE3Mi0wLjUxMyAwLjIwMUMzLjY4IDMuNCAzLjcgMi45IDMuMyAzLjQwNkMzLjA3NyAzLjggMy4xIDQuMiAzLjEgNC41VjYgQzIuNTIxIDYgMi4yIDYuNCAyLjIgNi40MTh2MS4xNGMwIDAgMCAwLjYgMC42IDAuNTdjMC4yNTMgMC43IDEuMSAxLjEgMS4xIDEuMTM5UzMuODM2IDEwLjIgMy44IDEwLjUgYzAgMCAwLjEgMC43NS0xLjUzOCAwLjc1QzAuMDg1IDExLjIgMCAxMi4xIDAgMTQuMzk1YzAgMC42IDAuNiAwLjYgMC42IDAuNTY5aDguODU4YzAgMCAwLjYgMCAwLjU4Ni0wLjU5OCBDMTAgMTIuMiA5LjkgMTEuMiA3LjcgMTEuMjV6IE0xMiAzVjBoLTF2M0g4djFoM3YzaDFWNGgzVjNIMTJ6Ii8+PC9nPjwvZz48L3N2Zz4=) !important;
}
.avatar-icon_field {
    margin:2px 0 0;
}

.avatar-icon_pool {
    margin-top: -19px;
    position: absolute;
    top: 50%;
    left: 0;
}

.avatar-icon_calendar {
    margin: 0 10px 0 0;
}

.avatar-icon_adi {
    background: #faf9f9;
}

.avatar-icon_adi-ugroup {
    background: no-repeat #faf9f9 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAYAAAA2cze9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNpi3LJuHQMa4AHiWCC2BGI5IE4E4vsMZAAWND4zEB8DYl0ksXtAXADEE9EcALL8CxAfx2U4ExrfAM1gGPBAc8BhIN4FdUg1sYZz4lDHg8SWgDoCBiyJNZwNhzo2PA7gJNbwyTjUmQFxMpS9Ak3OCVfQoBsujSfyVdBoZKBFjOEHcRj8EUluPRa5NcQY7g/EW9HE/gJxEBDvgPJTgPg1kvxuLBZiNZwBahBy2k0H4n1ols1C4r8mNkJB4BcQv0Piv8ARTETnUFByMoZGjCIQuyKpSYNG9DtouINc2g11xAQgDgfiECAWBeJH0GCtBDmAEVi2gDLBFiAWIrLIaAXiGmhmeo5DzWUgtmKCpm0hEsqjaqgPv+NRAypC0kCGq5NR4LkSocaSCRr7pAJifMrJxEAeYCNGEUCAAQCqIDe2yNosTAAAAABJRU5ErkJggg==);
}

.avatar-icon_tn {
    width: 22px;
    height: 22px;
    margin: 6px 0 0 18px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    position: relative;
    font-weight: 500;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: 0px 0px 0px 1px #fff;
    box-shadow: 0px 0px 0px 1px #fff;
}

.avatar-icon_tn:hover {
    color: #fff;
}

.avatar-icon_activity {
    width: 28px;
    height: 28px;
    margin: 3px 0 0 1px;
    line-height: 28px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.avatar-icon_activity:hover {
    color: #a4abb0;
    -webkit-box-shadow: 0px 0px 0px 1px #a4abb0;
    box-shadow: 0px 0px 0px 1px #a4abb0;
}

.avatar-icon_list {
    width: 22px;
    height: 22px;
    margin: 4px 5px 0 0;
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    float: none;
}

.avatar-icon_head {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    position: absolute;
    left: 1px;
    top: 22px;
    margin: 0;
}

.avatar-icon_head-award {
    width: 34px;
    height: 34px;
    line-height: 32px;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 29px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.avatar-icon_members-list {
    width: 20px;
    height: 20px;
    margin-top: -12px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 0;
}

/* ??? */
.avatar-icon_dropdown-users, .avatar-icon_member-select {
    width: 22px;
    height: 22px;
    margin: 5px 10px 0 0;
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    float: none;
}

.avatar-icon_member-select {
    margin: 8px 8px 0 4px;
}

/* loader */
.l-loader:not(:empty) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .65);
    z-index: 300;
}

.l-loader_content:not(:empty) {
    top: 36px;
}

.loader {
    width: 100%;
    height: 28px;
    margin: -12px 0 0;
    line-height: 24px;
    font-size: 12px;
    color: #0575bd;
    font-weight: 500;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    background: url(/resources/shared/img/loading.gif?is20140903) 50% 100% no-repeat;
}
/* /loader */


/* --------------- Search ----------------*/
.tr-search {
    height: 23px;
    margin: 0 20px;
    padding: 8px 0;
    display: none;
    position: relative;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: solid 1px #ced3d7;
    background: #fff;
    z-index: 44;
}

.tr-search_report {
    width: 50%;
    margin: 0;
    float: right;
    display: block;
    border: 0;
}

.tr-search_mselect {
    margin: 0;
    display: block;
}

.tr-search__input {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0 0 0 25px;
    font-size: 13px;
    color: #333;
    border: 0;
    outline: 0;
    background: no-repeat 6px 50% #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMJJREFUeNpinDlzJgMU2ANxERAbQ/lngbgPiA8yIAEmKF0BxPOBeAEQm0PxAqhYBbIGFqjJUUBsCMQfkeTWA/E+ID4MxEegGGxDCxDXoCmGgY9QuRZkJ+miuxMNgGwxQPcDIcCMrOEy1B+4gBM0xOAaYG7kx6IYJNYOVQPXAHL/MiA+D8SBQCwBxYFQMZBzkmHOgvmhA4gTgTgBqug8lJ0IDW5pIJ4D0sSCZP1BPKHlD8RbgHgRsaH0HYh9gPgXQIABAKFrJnBTJSNWAAAAAElFTkSuQmCC);
    display: block;
}

.tr-search__placeholder {
    width: 100%;
    padding-left: 0;
    padding-right: inherit;
    font-size: 14px;
    position: absolute;
    top: 13px !important;
    left: 30px !important;
    color: #bcc6cf;
    cursor: text;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.tr-search__input:focus + .tr-search__placeholder,
.tr-search__input:valid + .tr-search__placeholder {
    display: none;
}

.tr-search__placeholder.focused {
    display: none;
}

.tr-search__clear {
    width: 26px;
    height: 26px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
    background: no-repeat 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHZJREFUeNpinDlzpj0DA0M7EPsD8WsGCBAF4i1AXMYEJLqA2BKId0ElQHgvEJuB5FiAhA9UwABKg4AuEF8GybFAjXWGSupCFVyGir1mYiAAmJDshBl7GcoGiYmyQF2ri2QsA5KGLSATKoH4FMxOJDedBckBBBgAX6IbvaqTe1UAAAAASUVORK5CYII=);
}

.tr-search__clear:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*-----//------*/


/*#region search-view*/
.search-view {
    position: relative;
}

.search-view__active .button-icon_search-view {
    background: transparent no-repeat url(/resources/icons/buttons.png?is20140903);
    background-position: 0 -450px;
}

.search-view_input-wrp {
    width: 0;
    height: 30px;
    margin: 0 34px 0 0;
    overflow: hidden;
    display: none;
    float: right;
    position: relative;
}

.search-view_input {
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 11px;
    border: 1px solid #e7eff9;
    outline: none;
    background: url("/resources/shared/img/search_icons.png") no-repeat 5px 5px;
}

.button-icon_search-view {
    position: absolute;
    right: 0;
}

.search-view_clear {
    top: 0;
    display: none;
}

/*#endregion*/

/* Empty View */
.empty-view {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: #70787F;
    min-height: 30px;
}

.dd-list__wrp .empty-view {
    height: 20px;
    margin: -10px 0 0;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 16px;
}

.fd-settings__fields .empty-view,
.dropdown__wrp .empty-view{
    font-size: 12px;
    font-weight: 400;
}
/* /Empty View */

.selected {
    background: #eaf5fc
}



/* Avatar editor */
.user-avatar-editor{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #fff;
    border-radius: 50%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff no-repeat 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 0 0 1px #d2dbe2;
    box-shadow: 0 0 0 1px #d2dbe2;
}

.user-avatar-editor__txt{
    font-size: 44px;
    color: #d2dbe2;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.user-avatar-editor__btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.user-avatar-editor-btn{
    position: absolute;
    top: 50%;
    left: -3px;
    right: -3px;
    margin-top: -15px;
    color: #fff;
    font-weight: 600;
    font-size: 9px;
    background: rgba(5,117,189,.5);
    display: inline-block;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.user-avatar-editor__empty{
    position: absolute;
    right:2px;
    top:-5px;
    cursor: pointer;
    line-height: initial;
    font-weight: 600;
    font-size: 11px;
    color:#0575BD
}
.user-avatar-editor__empty:hover{
   color:#cb4e30
}
/* /Avatar editor/ */