.datetimepicker {
	padding: 16px 18px 10px;
	direction: ltr;
	background-color: #ffffff;
}

.datetimepicker-inline {
	/*width: 300px;*/
}

.datetimepicker.datetimepicker-rtl {
	direction: rtl;
}

.datetimepicker.datetimepicker-rtl table tr td span {
	float: right;
}

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
	top: 0;
	left: 0;
}

[class*=" datetimepicker-dropdown"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #cccccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #cccccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left:before {
	top: -7px;
	right: 6px;
}

.datetimepicker-dropdown-bottom-left:after {
	top: -6px;
	right: 7px;
}

.datetimepicker-dropdown-bottom-right:before {
	top: -7px;
	left: 6px;
}

.datetimepicker-dropdown-bottom-right:after {
	top: -6px;
	left: 7px;
}

.datetimepicker-dropdown-top-left:before {
	bottom: -7px;
	right: 6px;
}

.datetimepicker-dropdown-top-left:after {
	bottom: -6px;
	right: 7px;
}

.datetimepicker-dropdown-top-right:before {
	bottom: -7px;
	left: 6px;
}

.datetimepicker-dropdown-top-right:after {
	bottom: -6px;
	left: 7px;
}

.datetimepicker > div {
	display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
	display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
	display: block;
}

.datetimepicker.days div.datetimepicker-days {
	display: block;
}

.datetimepicker.months div.datetimepicker-months {
	display: block;
}

.datetimepicker.years div.datetimepicker-years {
	display: block;
}




.datetimepicker table{
	border-collapse: initial;
	border-spacing: 0;
	margin: 0;
    width: 252px;
}

.datetimepicker tbody tr,
.datetimepicker tbody tr:hover{
	text-align: center;
	height: 36px;
	background: transparent;
}

.datetimepicker tbody td{
	width: 36px;
	height: 36px;
	padding: 0;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}
.datetimepicker tbody td:hover{
	border-color: #0375BD;
	background: transparent;
}



.datetimepicker tbody td.old,
.datetimepicker tbody td.new {
	color: #999;
}

.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
	background: #efefef;
	color: #ccc;
	cursor: default;
}

.datetimepicker tbody td.today,
.datetimepicker tbody td.today:hover,
.datetimepicker tbody td.today.disabled,
.datetimepicker tbody td.today.disabled:hover {
	border-color: #0375BD;
	background: #fff;
}

.datetimepicker tbody td.active,
.datetimepicker tbody td.active:hover,
.datetimepicker tbody td.active.disabled,
.datetimepicker tbody td.active.disabled:hover {
	background-color: #0375BD;
	border-color: #0375BD;
	color: #ffffff;
}

/*
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today.disabled:hover,
.datetimepicker table tr td.today.disabled:hover:hover,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today:hover.disabled,
.datetimepicker table tr td.today.disabled.disabled,
.datetimepicker table tr td.today.disabled:hover.disabled,
.datetimepicker table tr td.today[disabled],
.datetimepicker table tr td.today:hover[disabled],
.datetimepicker table tr td.today.disabled[disabled],
.datetimepicker table tr td.today.disabled:hover[disabled] {
	background-color: #fdf59a;
}

.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active {
	background-color: #fbf069;
}

.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
	background-color: #0575bd;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
	background-color: #0575bd;
}


.datetimepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
}

.datetimepicker .datetimepicker-hours span {
	height: 26px;
	line-height: 26px;
}

.datetimepicker .datetimepicker-hours table tr td span.hour_am,
.datetimepicker .datetimepicker-hours table tr td span.hour_pm {
	width: 14.6%;
}

.datetimepicker .datetimepicker-hours fieldset legend,
.datetimepicker .datetimepicker-minutes fieldset legend {
	margin-bottom: inherit;
	line-height: 30px;
}

.datetimepicker .datetimepicker-minutes span {
	height: 26px;
	line-height: 26px;
}

.datetimepicker table tr td span:hover {
	background: #eeeeee;
}

.datetimepicker table tr td span.disabled,
.datetimepicker table tr td span.disabled:hover {
	background: none;
	color: #999999;
	cursor: default;
}

.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
	background-color: #0575bd;
	color: #ffffff;
}

.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
	background-color: #0575bd;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
	background-color: #0575bd;
}

.datetimepicker table tr td span.old {
	color: #999999;
}



.datetimepicker th span.glyphicon {
	pointer-events: none;
}



.input-append.date .add-on i,
.input-prepend.date .add-on i,
.input-group.date .input-group-addon span {
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.datetimepicker table tr td span {
	display: block;
	height: 40px;
	line-height: 40px;
}

.datetimepicker .table-condensed thead tr:first-child{
	height: 32px;
}

*/


.datetimepicker thead tr,
.datetimepicker thead tr:hover{
	text-align: center;
	height: 26px;
	background: transparent;
	color: #404040;
}

.datetimepicker thead th,
.datetimepicker thead th:hover{
	text-align: center;
	height: 26px;
	vertical-align: middle;
	font-size: 13px;
	border-radius: 4px;
	cursor: default;
}


.datetimepicker thead th.switch,
.datetimepicker thead th.switch:hover {
	width: inherit;
	font-size: 17px;
	cursor: pointer;
}
.datetimepicker thead th.switch:hover {
	background-color: #F2F2F2;
}

.datetimepicker th.prev,
.datetimepicker th.next{
	line-height: 28px;
	cursor: pointer;
}

.datetimepicker th.prev:hover,
.datetimepicker th.next:hover{
	background-color: #F2F2F2;
}

.datetimepicker .icon-arrow-left,
.datetimepicker .icon-arrow-right{
	display: inline-block;
	width: 100%;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}

.datetimepicker .icon-arrow-left:after,
.datetimepicker .icon-arrow-right:after{
	 content: '\003C';
	 display: inline-block;
	 color:  #0375BD;
	 font-size: 18px;
	 transform: scaleY(1.5);
}

.datetimepicker .icon-arrow-right:after{
	 content: '\003E';
}

.datetimepicker tfoot tr{
    padding-top: 5px;
}
.datetimepicker tfoot tr:hover{
    background-color: #F2F2F2;
}

.datetimepicker tfoot th{
    height: 25px;
    vertical-align: middle;
    text-align: center;
    color: #0175BD;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
}


.datetimepicker-months tbody td:hover,
.datetimepicker-years tbody td:hover{
    border-color: transparent;
}
.datetimepicker-months tbody td span,
.datetimepicker-years tbody td span{
    width: 83px;
    height: 36px;
    border: 1px solid transparent;
    line-height: 36px;
    float: left;
    border-radius: 4px;
}
.datetimepicker-months tbody td span.active,
.datetimepicker-months tbody td span:hover,
.datetimepicker-years tbody td span.active,
.datetimepicker-years tbody td span:hover{
    border-color: #0375BD;
}


.datetimepicker th.clear,
.datetimepicker td.clear{
	display: none;
}
