.date-mobile-input {
    opacity: 0;
    width: 85%;
    height: 100%;
    position: absolute;
}

.date-mobile-input::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 100%;
}

.datetimepicker {
    padding: 16px 18px 10px;
    direction: ltr;
    background-color: var(--theme-colors__main);
}

.datetimepicker.datetimepicker-rtl {
    direction: rtl;
}

.datetimepicker.datetimepicker-rtl table tr td span {
    float: right;
}

.datetimepicker-dropdown,
.datetimepicker-dropdown-left {
    top: 0;
    left: 0;
}

[class*=" datetimepicker-dropdown"]::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--theme-colors__main_strongest);
    border-bottom-color: var(--black-20);
    position: absolute;
}

[class*=" datetimepicker-dropdown"]::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--theme-colors__main);
    position: absolute;
}

[class*=" datetimepicker-dropdown-top"]::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--theme-colors__main_strongest);
    border-top-color: var(--black-20);
    border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--theme-colors__main);
    border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left::before {
    top: -7px;
    right: 6px;
}

.datetimepicker-dropdown-bottom-left::after {
    top: -6px;
    right: 7px;
}

.datetimepicker-dropdown-bottom-right::before {
    top: -7px;
    left: 6px;
}

.datetimepicker-dropdown-bottom-right::after {
    top: -6px;
    left: 7px;
}

.datetimepicker-dropdown-top-left::before {
    bottom: -7px;
    right: 6px;
}

.datetimepicker-dropdown-top-left::after {
    bottom: -6px;
    right: 7px;
}

.datetimepicker-dropdown-top-right::before {
    bottom: -7px;
    left: 6px;
}

.datetimepicker-dropdown-top-right::after {
    bottom: -6px;
    left: 7px;
}

.datetimepicker > div {
    display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
    display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
    display: block;
}

.datetimepicker.days div.datetimepicker-days {
    display: block;
}

.datetimepicker.months div.datetimepicker-months {
    display: block;
}

.datetimepicker.years div.datetimepicker-years {
    display: block;
}

.datetimepicker table {
    border-collapse: initial;
    border-spacing: 0;
    margin: 0;
    width: 252px;
}

.datetimepicker tbody tr,
.datetimepicker tbody tr:hover {
    text-align: center;
    height: 36px;
    background: transparent;
}

.datetimepicker tbody td {
    width: 36px;
    height: 36px;
    padding: 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.datetimepicker tbody td:hover {
    border-color: var(--theme-colors__primary);
    background: transparent;
}

.datetimepicker tbody td.old,
.datetimepicker tbody td.new {
    color: var(--theme-colors__text_fadest);
}

.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
    background: var(--disabled-input-color);
    color: var(--disabled-text-color);
    cursor: default;
}

.datetimepicker tbody td.today,
.datetimepicker tbody td.today:hover,
.datetimepicker tbody td.today.disabled,
.datetimepicker tbody td.today.disabled:hover {
    border-color: var(--theme-colors__primary);
    background: var(--theme-colors__main);
}

.datetimepicker tbody td.active,
.datetimepicker tbody td.active:hover,
.datetimepicker tbody td.active.disabled,
.datetimepicker tbody td.active.disabled:hover {
    background-color: var(--theme-colors__primary);
    border-color: var(--theme-colors__primary);
    color: var(--theme-colors__primary-txt);
}

.datetimepicker thead tr,
.datetimepicker thead tr:hover {
    text-align: center;
    height: 26px;
    background: transparent;
    color: var(--theme-colors__text_strong);
}

.datetimepicker thead th,
.datetimepicker thead th:hover {
    text-align: center;
    height: 26px;
    vertical-align: middle;
    font-size: 13px;
    border-radius: 4px;
    cursor: default;
}

.datetimepicker thead th.switch,
.datetimepicker thead th.switch:hover {
    width: inherit;
    font-size: 17px;
    cursor: pointer;
}

.datetimepicker thead th.switch:hover {
    background-color: var(--theme-colors__main_fadest);
}

.datetimepicker th.prev,
.datetimepicker th.next {
    line-height: 28px;
    cursor: pointer;
}

.datetimepicker th.prev:hover,
.datetimepicker th.next:hover {
    background-color: var(--theme-colors__main_fadest);
}

.datetimepicker .icon-arrow-left,
.datetimepicker .icon-arrow-right {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.datetimepicker .icon-arrow-left::after,
.datetimepicker .icon-arrow-right::after {
    content: '\003C';
    display: inline-block;
    color: var(--theme-colors__primary);
    font-size: 18px;
    transform: scaleY(1.5);
}

.datetimepicker .icon-arrow-right::after {
    content: '\003E';
}

.datetimepicker tfoot tr {
    padding-top: 5px;
}

.datetimepicker tfoot tr:hover {
    background-color: var(--theme-colors__main_fadest);
}

.datetimepicker tfoot th {
    height: 25px;
    vertical-align: middle;
    text-align: center;
    color: var(--theme-colors__primary);
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
}

.datetimepicker-months tbody td:hover,
.datetimepicker-years tbody td:hover {
    border-color: transparent;
}

.datetimepicker-months tbody td span,
.datetimepicker-years tbody td span {
    width: 83px;
    height: 36px;
    border: 1px solid transparent;
    line-height: 36px;
    float: left;
    border-radius: 4px;
}

.datetimepicker-months tbody td span.active,
.datetimepicker-months tbody td span:hover,
.datetimepicker-years tbody td span.active,
.datetimepicker-years tbody td span:hover {
    border-color: var(--theme-colors__primary);
}

.datetimepicker th.clear,
.datetimepicker td.clear {
    display: none;
}
