/* Cropper */

.cropper-img__wrp {
    display: flex;
    max-height: 725px;
    min-height: 200px;
}

.cropper-img_container {
    height: auto;
    max-width: 75%;
}

.cropper-img__item {
    display: block;
    max-width: 100%;
}

/* Image editor */

.image-item__loading {
    font-size: 26px;
}

.image-item__picture {
    position: relative;
    border: 1px solid var(--editors-color-border);
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-item__tooltip {
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: 16px;
    color: var(--white);
}

.image-item__tooltip-btn {
    cursor: pointer;
    padding: 0 10px;
}

.image-item__meta {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 12px;
    line-height: 1.4;
    padding: 0 30px 6px 8px;
    background-image: linear-gradient(to top, var(--black), transparent);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.image-item:hover .image-item__meta {
    opacity: 1;
    visibility: visible;
}

.image-item__author,
.image-item__date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.image-item__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-item__link:hover {
    text-decoration: none;
}

.image-item__title {
    color: var(--theme-colors__text);
    margin-top: 4px;
    padding-left: 8px;
    word-wrap: break-word;
}

.image-item:hover .image-item__title {
    color: var(--theme-colors__primary);
}

/* picture mod */

.image-item_picture .image-item__picture {
    min-height: 150px;
    height: auto;
    max-width: 100%;
    border: 0;
    background-color: var(--editors-bg-color);
}

.image-item_picture .image-item__meta {
    height: 150px;
    bottom: 0;
}

.image-item_disabled {
    pointer-events: none;
}

/* Documents Editor */

.document-item__container {
    display: flex;
    align-items: center;
}

.document-item__i {
    margin-right: 6px;
}

.document-item__link,
.document-item__title {
    color: currentColor;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document-item__tooltip {
    margin-left: auto;
    visibility: hidden;
}

.document-item__tooltip-btn {
    cursor: pointer;
    padding: 0 10px;
    margin-right: -10px;
}

.document-item__link:hover {
    color: currentColor;
    text-decoration: none;
}

.document-item:hover,
.document-item_selected {
    color: var(--theme-colors__primary);
    background-color: var(--theme-colors__highlight);
}

.document-item:hover .document-item__tooltip,
.document-item_selected .document-item__tooltip {
    visibility: visible;
}

.document-item_rejected {
    color: var(--theme-colors__error);
}

.document-item_processing {
    color: var(--theme-colors__warning);
}

.document-embedded {
    margin: 10px 0;
    overflow: auto;
    max-height: 400px;
}

.document-embedded-content {
    width: 100%;
}

/* Tooltip Item */

.tooltip-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 180px;
    padding: 4px 8px;
}

.tooltip-item__i {
    font-size: 16px;
    margin-right: 4px;
}

.tooltip-item__text {
    max-width: 155px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tooltip-item:hover {
    background-color: var(--selected-background-color);
}

/* Revision Table */

.revision-table {
    width: 100%;
    border-collapse: collapse;
}

.revision-table__head th {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    border-bottom: 1px solid;
}

.revision-table__body td {
    padding: 5px 10px;
    vertical-align: middle;
}

.revision-table__version {
    font-weight: 600;
}

.revision-table__author {
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
}

.revision-table--center {
    text-align: center;
}
