/* dropdown */

.js-core-ui__global-popup-region > .dropdown__wrp_down{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
    z-index: 600;
    border-radius: 2px;
}

.dropdown__button {
    height: inherit;
}

.dropdown__wrp {
    margin: 0;
    background-color: #fff;
    position: fixed;
    z-index: 600;
}
.dropdown__wrp .dropdown__wrp_list {
    max-height: 400px;
}

/* dropdown-list */
.dropdown__footer {
    width: 100%;
    height: 38px;
    line-height: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 1px #dee3e8;
}

.dropdown__btn {
    padding: 0 15px;
    color: #0575bd;
}

.dropdown-list {
    width: 100%;
    height: 100%;
    max-height: 310px;
    padding: 1px;
    overflow: hidden;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.dropdown-list__i {
    height: 34px;
    padding: 0 5px;
    line-height: 34px;
    font-size: 13px;
    font-weight: normal;
    color: #43525d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    display: flex;
}
.dropdown-list__i:hover {
    background: #edf3fb;
}

.dropdown-list__txt {
    padding-left: 3px;
}

.dropdown-list__section {
}

.dropdown-list__section::before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    background: no-repeat 0 50%;

}

.dropdown-list__col {
    width: 50%;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar-icon_dropdown-list {
    width: 22px;
    height: 22px;
    margin: 4px 5px 0 0;
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    float: none;
}


/* dropdown list */

.dropdown__wrp_reference {
    min-width: 200px;
    max-width: 100%;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.dd-list__filter {
    opacity: 1;
    flex: 0 0 auto
}

.dd-list__list {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.dd-list__list_reference {
    height: 410px;
}

.dd-list__title {
    max-width: 90%;
    padding: 3px 20px 3px 5px;
    line-height: 19px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
}

.dd-list__wrp {
    height: 100%;
    flex-grow: 1;
}

.dd-list__scrollbar {
    width: 12px;
    position: relative;
}

.dd-list__i {
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: flex;
}
.dd-list__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dd-list__i_group {
    cursor: default;
}

.dev_dd-list__i_with_checkbox {
    padding: 0 4px;
}

.dd-list__i_checkbox .checkbox {
    margin-right: 6px;
    flex-shrink: 0;
}

.dd-list__btn{
    width: 100%;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 0 auto;
}

.reference-btn{
    display: flex;
    align-items: center;
    color: #4d4d4d;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtext-list {
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.subtext-list:hover {
    cursor: pointer;
    color: #0575bd;
    background-color: #d6e7f2;
}

.datalist-checkbox {
    margin: 0 13px;
}

.datalist-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    overflow: hidden;
}

.datalist-icon {
    font-size: 20px;
    color: #cfcfd0;
    width: 16px;
    padding-left: 20px;
}

.datalist-container-text {
    font-size: 15px;
    font-weight: 600;
    color: #434343;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.datalist-container-subtext {
    color: #cfcfd0;
    font-size: 12px;
}

.subtext-list:hover .datalist-container-text {
    color: #0575bd;
}

.subtext-list:hover .datalist-container-subtext {
    color: #1c80c1;
}

.subtext-list:hover .datalist-icon {
    color: #1c80c1;
}

.datalist_selected-panel > .visible-collection{
    height: 72px;
    padding: 3px;
}


.datalist-panel_title{
    font-weight: 600;
    padding: 8px 4px 4px 14px;
    background-color: white;
}

.datalist-panel__formatted .bubbles{
    padding: 0 0 0 14px;
    max-height: 130px;
    overflow-y: scroll;
    border: none;
}

.datalist-panel__formatted .bubbles__list > .bubbles__i{
    width: 100%;
    padding: 4px 20px 4px 0;
    align-items: center;
    display: flex;
}

.datalist-panel__formatted .bubbles__list > .bubbles__i > .datalist_user-bubble{
    margin-right: 10px;
    margin-top: -4px;
}

.datalist-panel__formatted .bubbles__list > .bubbles__i > a{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reference-btn-more{
    color: #4d4d4d;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.dd-list__list_reference + .dd-list__btn{
    padding-top:5px;
    height: 30px;
}

.datalist_user-bubble{
    display: flex;
}

.user-bubble_img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 0 1px #0575bd;
    margin-left: 1px;
    margin-top: -1px;
    margin-right: 5px;
    color: #0575bd;
    font-size: 10px;
}

.user-bubble_img img{
    width: 22px;
    height: 22px;
    margin-top: -1px;
    margin-left: -1px;
}

/* /dd-list */


/* list search */
.list-search {
    height: 0;
    margin: 0 20px;
    display: block;
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    z-index: 44;
    opacity: 0;
    transition: opacity .7s, height .1s ease-out;
}

.list-search_show {
    height: 23px;
    padding: 8px 0;
    border-bottom: solid 1px #ced3d7;
    opacity: 1;
}

.list-search_dd {
    height: 16px;
    margin: 0;
    padding: 4px 5px 4px 5px;
    border-bottom: solid 1px #ced3d7;
    opacity: 1;
}

.list-search__input {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #333;
    border: 0;
    outline: 0;
    display: block;
}

.list-search__placeholder {
    width: 100%;
    padding-left: 0;
    padding-right: inherit;
    font-size: 14px;
    position: absolute;
    top: 13px !important;
    left: 30px !important;
    color: #bcc6cf;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.list-search__input:focus + .list-search__placeholder,
.list-search__input:valid + .list-search__placeholder {
    display: none;
}

.list-search__placeholder.focused {
    display: none;
}

.list-search__clear {
    width: 26px;
    height: 26px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
    background: transparent no-repeat 50% 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHZJREFUeNpinDlzpj0DA0M7EPsD8WsGCBAF4i1AXMYEJLqA2BKId0ElQHgvEJuB5FiAhA9UwABKg4AuEF8GybFAjXWGSupCFVyGir1mYiAAmJDshBl7GcoGiYmyQF2ri2QsA5KGLSATKoH4FMxOJDedBckBBBgAX6IbvaqTe1UAAAAASUVORK5CYII=);
}

.list-search__clear:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.highlight {
    background-color: #edecd0;
}
/* /search */


/* dropdown time list */
.dropdown__wrp_time {
    max-width: 100%;
    height: 305px;
    padding: 0;
    overflow-y: auto;
}
.time-dropdown__i {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
/*-----//------*/

.dropdown__wrp_list{
    overflow-y: auto;
    display: flex;
}

/* icons panel */
.dropdown__icons{
    width: 500px;
    min-width: 400px !important;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.icons-panel-collection{
    flex-grow: 1;
    overflow: auto;
}

.icons-panel-head{
    display: flex;
    flex-wrap: wrap;
    flex:none;
    padding-bottom: 15px;
}
.icons-panel-head__title{
    flex:0 0 50%;
    font-size: 11px;
    font-weight: 400;
    color: #70787f;
    padding: 10px 10px 3px;
}
.icons-panel-head__editor{
    flex:0 0 50%;
    padding: 0 10px;
}

.dropdown__icons .icons-panel-category__name {
    margin: 0 5px 5px;
    font-size: 13px;
}
/*-----//------*/

.dropdown__wrp_datepicker {
    width: 220px !important;
    height: auto;
}

.source-text {
    display: inline-block;
    width: 100%;
}
/*-----//------*/
