/* dropdown */

.core-ui__global-popup-region > .dropdown__wrp_down {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.core-ui__global-popup-region > .dropdown__wrp_up {
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.dropdown__button {
    height: inherit;
}

.dropdown__wrp {
    margin: 0;
    background-color: var(--theme-colors__secondary);
    position: fixed;
    z-index: 600;
    overflow-y: auto;
    overflow-x: hidden;
}
.dropdown__wrp .dropdown__wrp_list {
    max-height: 400px;
}

/* dropdown-list */
.dropdown__footer {
    width: 100%;
    height: 38px;
    line-height: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 1px var(--theme-colors__main_fade);
}

.dropdown__btn {
    padding: 0 15px;
    color: var(--theme-colors__primary);
}
/* dropdown list */

.datalist-panel {
    min-width: 200px;
    max-width: 100%;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.datalist-panel.dropdown__wrp_down .datalist_selected-panel {
    order: 1;
}
.datalist-panel.dropdown__wrp_down .datalist-panel__list-splitter {
    order: 2;
}
.datalist-panel.dropdown__wrp_down .bubble_editor__elements_quantity_warning {
    order: 3;
}
.datalist-panel.dropdown__wrp_down .datalist_collection-panel {
    order: 4;
}
.datalist-panel.dropdown__wrp_down .dd-list__btn {
    order: 5;
}

.datalist-panel.dropdown__wrp_up .datalist_selected-panel {
    order: 5;
}
.datalist-panel.dropdown__wrp_up .datalist-panel__list-splitter {
    order: 4;
}
.datalist-panel.dropdown__wrp_up .bubble_editor__elements_quantity_warning {
    order: 2;
}
.datalist-panel.dropdown__wrp_up .datalist_collection-panel {
    order: 1;
}
.datalist-panel.dropdown__wrp_up .dd-list__btn {
    order: 3;
}

.datalist-panel.dropdown__wrp:not(.dropdown__wrp_down):not(.dropdown__wrp_up) .dd-list__btn {
    display: none;
}

.dd-list__list {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.dd-list__list_reference {
    height: 410px;
}

.dd-list__title {
    max-width: 90%;
    padding: 3px 20px 3px 5px;
    line-height: 19px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
}

.dd-list__wrp {
    height: 100%;
    flex-grow: 1;
}

.dd-list__scrollbar {
    width: 12px;
    position: relative;
}

.dd-list__i {
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: flex;
}
.dd-list__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dd-list__i_group {
    cursor: default;
}

.dev_dd-list__i_with_checkbox {
    padding: 0 4px;
}

.dd-list__i_checkbox .checkbox {
    margin-right: 6px;
    flex-shrink: 0;
}

.dd-list__btn{
    width: 100%;
    height: 25px;
    background-color: var(--theme-colors__main);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 0 auto;
}

.reference-btn{
    display: flex;
    align-items: center;
    color: var(--theme-colors__text_strong);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dd-list__btn.reference-btn{
    margin: 5px;
    width: calc(100% - 10px);
    line-height: normal;
}

.subtext-list {
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--theme-colors__main_strongest);
}

.subtext-list:hover {
    cursor: pointer;
    color: var(--theme-colors__highlight-txt);
    background-color: var(--theme-colors__highlight);
}

.datalist-checkbox {
    margin: 0 13px;
}

.datalist-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 39px;
    overflow: hidden;
}

.datalist-icon {
    font-size: 20px;
    color: var(--theme-colors__text_fadest);
    width: 16px;
    padding-left: 20px;
}

.datalist-container-text {
    font-size: 15px;
    font-weight: 600;
    color: var(--theme-colors__text_strong);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.datalist-container-subtext {
    color: var(--theme-colors__text_fadest);
    font-size: 12px;
}

.subtext-list:hover .datalist-container-text {
    color: var(--theme-colors__primary);
}

.subtext-list:hover .datalist-container-subtext {
    color: var(--theme-colors__primary);
}

.subtext-list:hover .datalist-icon {
    color: var(--theme-colors__primary);
}

.datalist_selected-panel > .visible-collection{
    height: 72px;
    padding: 3px;
}


.datalist-panel_title{
    font-weight: 600;
    padding: 8px 4px 4px 14px;
    background-color: var(--theme-colors__main);
}

.datalist-panel__formatted .bubbles{
    padding: 0 0 0 14px;
    max-height: 130px;
    overflow-y: scroll;
    border: none;
}

.datalist-panel__formatted .bubbles__list > .bubbles__i{
    width: 100%;
    padding: 4px 20px 4px 0;
    align-items: center;
    display: flex;
}

.datalist-panel__formatted .bubbles__list > .bubbles__i > a{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reference-btn-more{
    color: var(--theme-colors__text_strong);
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.dd-list__list_reference + .dd-list__btn{
    padding-top:5px;
    height: 30px;
}
/* list search */
.highlight {
    background-color: var(--theme-colors__highlight);
    color: var(--theme-colors__highlight-txt);
}
/* /search */


/* dropdown time list */
.dropdown__wrp_time {
    max-width: 100%;
    height: 305px;
    padding: 0;
    overflow-y: auto;
    background-color: var(--theme-colors__main);
}
.time-dropdown__i {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
/*-----//------*/

.dropdown__wrp_list{
    overflow-y: auto;
    display: flex;
}

/* icons panel */
.dropdown__icons{
    width: 500px;
    min-width: 400px !important;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.icons-panel-collection{
    flex-grow: 1;
    overflow: auto;
}

.icons-panel-head{
    display: flex;
    flex-wrap: wrap;
    flex:none;
    padding-bottom: 15px;
}
.icons-panel-head__title{
    flex:0 0 50%;
    font-size: 11px;
    font-weight: 400;
    color: var(--theme-colors__text_fade);
    padding: 10px 10px 3px;
}
.icons-panel-head__editor{
    flex:0 0 50%;
    padding: 0 10px;
}

.dropdown__icons .icons-panel-category__name {
    margin: 0 5px 5px;
    font-size: 13px;
}
/*-----//------*/

.dropdown__wrp_datepicker {
    /*width: 220px !important;*/
    height: auto;
}

.source-text {
    display: inline-block;
    width: 100%;
}
/*-----//------*/


.datalist-panel.dropdown__wrp_down {
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--theme-colors__primary);
    border-top-color: var(--theme-colors__main);
}

.datalist-panel.dropdown__wrp_up {
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--theme-colors__primary);
    border-bottom-color: var(--theme-colors__main);
}

.bubbles__list .bubbles__i {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bubbles__list .bubbles__i .editor__icons{
    position: absolute;
    flex: none;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.bubbles__list .bubbles__i.bubbles__i-edit-btn .icon-edit {
    right: 12px;
}

.bubbles__list .bubbles__i.bubbles__i-edit-btn .icon-remove {
    right: -5px;
}

.bubbles__list .bubbles-subtext {
    color: var(--theme-colors__text_fade);
    font-style: italic;
}
