@font-face {
    font-family: 'OpenSans';
    src: url('../../resources/fonts/opensans-light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../resources/fonts/opensans-regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../resources/fonts/opensans-italic.woff') format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../resources/fonts/opensans-semibold.woff') format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../resources/fonts/opensans-bold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
}
