/* CSS form and editors

#70787f; 	// Label text
			// disabled label text
			// disabled radiobutton circle

#cb4e30; 	// eroror label text
			// eroror border editor
			// error border textarea
			// error border date-time
			// error border bubbles
			// form error

#c85e44; 	// required color symbol

#0575bd		// focus border editor
			// focus radiobutton circle
			// hover bubbles link
			// user avatar empty text color
			// svg-icons checked
			// datetimepicker border arrow
			// field question icon

#d3d5d6;	// empty editor
#384650;	// focus editor
			// color chekbox text
			// color radiobutton text

#838c92;	// border checkbox
			// border radiobutton
			// border multiselect

#edeff0		// empty border editor
			// empty border textarea
			// empty border date-time
			// empty border bubbles

#b9bcbd		// hover border editor
			// hover border textarea
			// hover border date-time
			// hover border bubbles

#9fc4da		// border bubbles items
#cccece		// border bubbles items disabled
#eaf4f9		// background bubbles items
#f3f3f3		// background bubbles items	 disabled

#70787F		// empty view color text
#aab5be		// empty member text color

#d2dbe2 	// user avatar box-shadow
			// user avatar text color

#fff 		// user avatar background
			// user avatar border

rgba(5,117,189,.5) // user avatar btn

#8d8888;	// fill svg icons
#ca4e30		// fill svg icons remove
#4d4d4d		// fill svg icons plus

*/

.form-group {
    position: relative;
}

@media (max-width: 720px) {
    .form-group {
        min-width: 200px;
    }
}

/* ------------------ Form Label ------------------ */
.form-label {
    max-width: 100%;
    cursor: default;
    position: relative;
    display: flex;
}

.form-label__txt {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    margin-bottom: 0;
}

.required .form-label__txt,
.required .form-group .form-label__txt {
    padding-right: 10px;
    position: relative;
}

.form-label__info {
    position: relative;
    line-height: inherit;
    display: none;
}

.form-label__error {
    position: relative;
    display: none;
}

.form-label__info-button-anchor,
.form-label__error-button-anchor {
    position: absolute;
    width: 0;
    top: -2px;
    bottom: -4px;
    left: 5px;
}

.form-label__tooltip-panel {
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-label__error-panel {
    min-width: 200px;
    max-width: 400px;
    padding: 0 10px;
}

.form-label__error-item {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ---------------// End Form Label //------------- */

/* ------------------ Form Editor ------------------ */
.form-editor {
    letter-spacing: normal;
}

.editor {
    position: relative;
    width: 100%;
}

.editor_code {
    height: inherit;
}

.editor_code::after {
    display: none;
}

.editor_color {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.editor.editor_color::after {
    left: 38px;
}

.editor_focused.editor_color::after {
    width: calc(100% - 38px);
}

.editor_document {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
}

.editor_document .emptyDocumentPlaceholder {
    display: none;
}

.editor_document.editor_empty .emptyDocumentPlaceholder {
    display: block;
}

.editor_document.editor_readonly .documents__drop-zone,
.editor_document.editor_disabled .documents__drop-zone {
    display: none;
}

.editor_document.editor_readonly .documents,
.editor_document.editor_disabled .documents {
    margin-top: 0;
}

.editor_readonly,
.editor_disabled {
    cursor: default;
}

.editor_disabled div,
.editor_disabled span,
.editor_disabled input,
.editor_disabled textarea {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    pointer-events: none;
}

/* checkbox */
input[type="checkbox"].checkbox {
    display: none;
}

.editor_checkbox {
    max-width: 100%;
    display: inline-flex;
    flex-shrink: 0;
}

.editor_checkbox.cell {
    display: table-cell;
}

.checkbox {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .5s;
}

.editor_readonly .checkbox,
.editor_disabled .checkbox {
    cursor: auto;
}

.checkbox-text {
    color: inherit;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    line-height: 18px;
    margin-left: 10px;
}

/* /checkbox */

/* radiobutton */
.editor_radiobutton {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.radiobutton {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

.editor_checked .radiobutton::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.radiobutton-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editor_disabled .radiobutton-text,
.editor_readonly .radiobutton-text {
    cursor: default;
}

.editor_disabled .editor_radiobutton,
.editor_readonly .editor_radiobutton {
    display: none;
    cursor: auto;
}

.editor_disabled .editor_radiobutton.editor_checked,
.editor_readonly .editor_radiobutton.editor_checked {
    display: flex;
}

.editor_radiobutton.radio_empty-view {
    display: none;
}

.editor_disabled.editor_empty .editor_radiobutton.radio_empty-view,
.editor_readonly.editor_empty .editor_radiobutton.radio_empty-view {
    display: flex;
}

.editor_disabled .editor_radiobutton.editor_checked .radiobutton,
.editor_readonly .editor_radiobutton.editor_checked .radiobutton {
    display: none;
}

.editor_disabled .editor_radiobutton.editor_checked .radiobutton-text,
.editor_readonly .editor_radiobutton.editor_checked .radiobutton-text {
    max-width: unset;
}

/* /radiobutton/ */

/* input */
.input {
    width: 100%;
    margin: 0;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    transition: background, border-color .2s ease-in-out;
}

.editor_reference .input {
    padding-right: 45px;
}

/* /input/ */

/* textarea */
.textarea {
    overflow-y: auto;
    width: 100%;
    resize: none;
    margin: 0;
    vertical-align: top;
    outline: none;
    font-size: inherit;
    color: inherit;
}

/* /textarea/ */

/* Date Time */
.editor_date-time:not(.cell) {
    display: flex;
    align-items: center;
}

.editor_date-time .editor_date-time_date,
.editor_date-time .editor_date-time_time {
    flex: 1 1 auto;
}

.editor_date-time .input {
    border: 0;
    border-radius: 0;
}

/* /Date Time/ */

/* Dropdown */
.input_dropdown {
    position: relative;
}

.editor_disabled .input_dropdown,
.editor_disabled .input_dropdown:hover,
.editor_readonly .input_dropdown,
.editor_readonly .input_dropdown:hover {
    background: transparent;
}

.dropdown-text {
    display: inline-block;
    max-width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown_text {
    flex: 1;
}

.dropdown_subtext {
    color: #d3d5d6;
}

/* /Dropdown/ */

/* Bubbles */

.bubble_editor__elements_quantity_warning {
    padding: 0 0 0.5rem;
    max-width: 100%;
    text-align: center;
}

.bubble_editor__elements_quantity_warning span {
    color: #999999;
    font-size: 11px;
}

.bubbles {
    position: relative;
}

.bubbles__list {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
    overflow: hidden;
}

.cell.editor_bubble .bubbles__list {
    flex-wrap: nowrap;
}

.bubbles__list > .counter-hidden {
    padding-right: 3px;
}

.bubbles__list > .counter-hidden:empty {
    padding-right: 0;
}

.bubbles__list-form-wrapper {
    flex-wrap: nowrap;
}

.bubbles__i {
    max-width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
    height: 22px;
    align-items: center;
}

.bubbles__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
}

.bubbles__link:hover {
    color: #0575bd;
}

.editor_disabled .bubbles__i .svg-icons-wrp,
.editor_readonly .bubbles__i .svg-icons-wrp {
    display: none;
}

.editor_disabled .bubbles__link:hover,
.editor_readonly .bubbles__link:hover {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.bubbles__form {
    flex: 1 1;
    max-width: 100%;
    display: inline-block;

    /* align-self: flex-end; why? */
    padding-left: 4px;
    min-width: 0;
}

.editor_focused .bubbles__form {
    min-width: 25px;
}

.bubbles__input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background: transparent;
}

.editor_disabled .bubbles__input,
.editor_readonly .bubbles__input {
    pointer-events: none;
}

.bubbles__input.empty {
    color: inherit;
}

.cell.editor_bubble .bubbles__i a,
.cell.editor_bubble .bubbles__i span {
    line-height: 22px;
}

/* /Bubbles/ */

.icons-wrp {
    display: inline-block;
    cursor: pointer;
}

/* reference-field */

.editor__common-empty-view {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #70787f;
    min-height: 30px;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    background: #ffffff;
    line-height: 25px;
    padding: 0 10px;
}

/* /reference-field/ */

/* -------------// End Form Editor // ------------- */

/* Avatar editor */
.user-avatar-wrp {
    display: inline-block;
    position: relative;
    width: 82px;
    height: 82px;
    padding: 2px;
}

.user-avatar-editor {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    margin: 0;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #ffffff;
    border-radius: 50%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: #ffffff no-repeat 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 0 0 1px #d2dbe2;
    box-shadow: 0 0 0 1px #d2dbe2;
}

.user-avatar-editor__txt {
    font-size: 44px;
    color: #d2dbe2;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    line-height: 74px;
}

.user-avatar-editor__btn {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.user-avatar-editor-btn {
    position: absolute;
    top: 50%;
    left: -3px;
    right: -3px;
    margin-top: -15px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    background: rgba(5, 117, 189, .8);
    display: inline-block;
    white-space: nowrap;
    height: 30px;
    line-height: 27px;
    cursor: pointer;
}

.user-avatar-editor-icon {
    background: none;
}

.user-avatar-editor__empty {
    position: absolute;
    right: -2px;
    top: -2px;
    cursor: pointer;
    line-height: initial;
    font-weight: 600;
    font-size: 14px;
    color: #0575bd;
}

.user-avatar-editor__empty:hover {
    color: #cb4e30;
}

.user-avatar-default-icon {
    color: #70787f;
    font-size: 46px;
    position: absolute;
    top: -3px;
    left: 18px;
}

/* /Avatar editor/ */

/* ------------------ Input Color ------------------ */
input[type="color"],
.colorpicker {
    height: 28px;
    padding: 0;
    width: 35px;
    background: transparent;
    margin: -4px 5px 0 -2px;
    border: none;
    cursor: pointer;
    flex: none;
}

.sp-dd {
    display: none;
}

/* -------------// Input Color // ------------- */

/* svg icons */
.svg-icons-wrp,
.svg-icons-wrp__empty {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
}

.editor_readonly .svg-icons-wrp,
.editor_disabled .svg-icons-wrp {
    display: none;
}

.editor__icons.icon-remove {
    overflow: hidden;
    cursor: pointer;
    padding: 0 5px;
}

.editor-icons__preview-icon {
    font-size: 12px;
}

.svg-icons-wrp_checked {
    width: 14px;
    height: 14px;
    display: none;
}

.editor_checked .svg-icons-wrp_checked {
    display: inline;
}

.editor_checked_some .checkbox::after,
.checkbox.editor_checked_some::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.svg-icons_checked {
    visibility: hidden;
}

.editor_checked .svg-icons_checked {
    visibility: visible;
}

.svg-icons-wrp__empty,
.editor__icons.icon-remove {
    display: none;
}

.editor:hover.editor_empty:not(.editor_readonly):not(.editor_disabled) .svg-icons-wrp__empty,
.editor:hover:not(.editor_empty):not(.editor_readonly):not(.editor_disabled) .editor__icons.icon-remove {
    display: inline-block;
}

.datalist_selected-panel .editor__icons.icon-remove {
    display: inline-block;
    position: relative;
    top: auto;
}

/* /svg icons/ */

/* ------------------------------ Calendar Bootstrap empty style ------------------------------ */
.editor_date.editor_empty,
.editor_date-time.editor_empty {
    color: inherit;
}

/* -----//------ */

.input::-ms-clear {
    display: none;
}

.editor_readonly .dev-code-editor-toolbar_button-two_stateable {
    pointer-events: none;
}

.editor_hidden {
    display: none !important;
}

.grid-cell .dev-code-button-edit {
    position: relative;
    bottom: 2px;
}

/* Document editor */

.input-upload {
    width: 100%;
    margin: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    /* line-height: 30px;
    font-size: 30px; */
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 99;
}

.task-links {
    margin: 3px 0 0;
}

.task-links_doc {
    margin-bottom: 30px;
}

.task-links__i {
    padding: 0 24px 0 0;
    position: relative;
    display: flex;
    align-items: center;
}

.task-links__i > .fa-li {
    top: 0;
}

.task-links__link {
    flex: 1 1 auto;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dev-field-documents {
    flex: 1 1 auto;
}

.document-field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.field-documents {
    flex-grow: 1;
    padding: 0 0 0 10px;
}

.document-field.drag-over {
    border: 1px solid #009bfe;
}

.documents {
    margin-top: 20px;
    margin-left: 2em;
    max-width: calc(100% - 2em);
}

.cell.editor_document .documents {
    margin: 0;
    line-height: initial;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}

.cell.editor_document .documents .task-links__i {
    margin: 0;
}

.cell.editor_document .documents .task-links__i .fa-li {
    position: static;
    width: auto;
    margin: 0 5px 0 0;
}

.cell.editor_document .emptyDocumentPlaceholder {
    display: none;
}

.dev-btn-document-revise,
.editor-document__preview-btn:not(:empty) {
    width: 16px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 1;
}

.editor-document__preview-btn:not(:empty) {
    line-height: 0;
}

.cell.editor_document .documents > .dev-btn-document-revise {
    display: none;
}

.dev-revision-container {
    margin: 5px;
}

.dev-revision-container tr th {
    padding: 5px 10px;
    font-weight: 600;
}

.dev-revision-container tr td {
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
}

.dev-revision-container thead {
    border-bottom: 1px solid;
}

.audio-editor-container {
    width: 100%;
}

.field-error-view_text {
    color: #70787f;
}

.field-error-view_text .selected {
    border: 1px solid #8f84ff;
    border-radius: 2px;
}

.context_select {
    cursor: pointer;
}

.group-title__collapsible {
    cursor: pointer;
}

.dev-expression-editor-field-inline {
    display: flex;
    align-items: center;
}

.dev-expression-editor-field-inline .editor {
    position: relative !important;
}

.new-expression-editor-field:not(.cell) {
    display: flex;
}

.fr-dropdown-message {
    min-width: 200px;
    padding: 10px;
}

.cell .bubbles .bubbles__list {
    flex: 0 1 auto;
    flex-wrap: nowrap;
}

/* .cell .open .bubbles__input:focus:not([readonly]) {
    min-width: 200px;
} */

.cell .bubbles .bubbles__list .bubbles__i {
    flex: 0 1 auto;
}
