/* CSS form and editors

#70787f; 	// Label text
			// disabled label text
			// disabled radiobutton circle


#cb4e30; 	// eroror label text
			// eroror border editor
			// error border textarea
			// error border date-time
			// error border bubbles
			// form error

#c85e44; 	// required color symbol


#0575bd		// focus border editor
			// focus radiobutton circle
			// hover bubbles link
			// user avatar empty text color
			// svg-icons checked
			// datetimepicker border arrow
			// field question icon

#d3d5d6;	// empty editor
#384650;	// focus editor
			// color chekbox text
			// color radiobutton text

#838c92;	// border checkbox
			// border radiobutton
			// border multiselect

#edeff0		// empty border editor
			// empty border textarea
			// empty border date-time
			// empty border bubbles

#b9bcbd		// hover border editor
			// hover border textarea
			// hover border date-time
			// hover border bubbles

#9fc4da		// border bubbles items
#cccece		// border bubbles items disabled
#eaf4f9		// background bubbles items
#f3f3f3		// background bubbles items	 disabled

#70787F		// empty view color text
#aab5be		// empty member text color

#d2dbe2 	// user avatar box-shadow
			// user avatar text color

#fff 		// user avatar background
			// user avatar border

rgba(5,117,189,.5) // user avatar btn

#8d8888;	// fill svg icons
#ca4e30		// fill svg icons remove
#4d4d4d		// fill svg icons plus


*/

.form-group {
    position: relative;
}

/*------------------ Form Label ------------------*/
.form-label {
    max-width: 100%;
    cursor: default;
    position: relative;
    display: flex;
}

.form-label__txt {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    margin-bottom: 0;
}

.form-label__info {
    position: relative;
    line-height: inherit;
    display: none;
}

.form-label__error {
    position: relative;
    display: none;
}
.form-label__info-button-anchor,
.form-label__error-button-anchor { 
    position:absolute; 
    width:0; 
    top:-2px; 
    bottom:-4px; 
    left:5px; 
}

.form-label__tooltip-panel {
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
}

.form-label__error-panel {
    min-width: 200px;
    max-width: 400px;
    padding: 0 10px;
}

.form-label__error-item {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*---------------// End Form Label //-------------*/



/*------------------ Form Editor ------------------*/
.form-editor {
    letter-spacing:normal;
}

.editor {
    position: relative;
    width: 100%;
}

.editor_code{
    height: inherit;
}
.editor_code:after{
    display: none;
}

.editor_color{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.editor.editor_color:after {
    left: 38px;
}
.editor_focused.editor_color:after {
    width: calc(100% - 38px);
}

.editor_document{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.editor_readonly,
.editor_disabled{
    cursor: default;
}

.editor_disabled div,
.editor_disabled span,
.editor_disabled input,
.editor_disabled textarea{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    pointer-events: none;
}

/* checkbox */
input[type="checkbox"].checkbox {
    display: none;
}
.editor_checkbox {
    max-width: 100%;
    display: inline-flex;
    flex-shrink: 0;
}

.checkbox {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .5s;
}

.editor_readonly .checkbox,
.editor_disabled .checkbox {
    cursor: auto;
}

.checkbox-text {
    color: inherit;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    line-height: 18px;
    margin-left: 10px;
}

/* /checkbox */


/* radiobutton */
.editor_radiobutton {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.radiobutton {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

.editor_checked .radiobutton:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.radiobutton-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    white-space: nowrap;
}

.editor_disabled .radiobutton-text,
.editor_readonly .radiobutton-text {
    cursor: default;
}

.editor_disabled .editor_checked .radiobutton:after,
.editor_readonly .editor_checked .radiobutton:after {
    background: #70787f;
}
/* /radiobutton/ */



/* input */
.input {
    width: 100%;
    margin: 0;
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    transition: background, border-color .2s ease-in-out;
}

.editor_reference .input{
    padding-right: 45px;
}
/* /input/ */



/* textarea */
.textarea {
    overflow-y: auto;
    width: 100%;
    resize: none;
    margin: 0;
    vertical-align: top;
    outline: none;
    font-size: inherit;
    color: inherit;
}

/* /textarea/ */



/* Date Time */
.editor_date-time {
    display: flex;
    align-items: center;
}
.editor_date-time .dropdown.editor_date-time_date {
    flex: 0 0 140px;
}
.editor_date-time .dropdown.editor_date-time_time {
    flex: 1 0 70px;
}

.editor_date-time .input{
    border: 0;
    border-radius: 0;
}


/* /Date Time/ */


/* Dropdown */
.input_dropdown{
    position: relative;
}

.editor_disabled .input_dropdown,
.editor_disabled .input_dropdown:hover,
.editor_readonly .input_dropdown,
.editor_readonly .input_dropdown:hover{
    background: transparent;
}

.dropdown-text{
    display: inline-block;
    max-width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown_text{
    flex:1;
}

.dropdown_subtext{
    color: #d3d5d6;
}
/* /Dropdown/ */


/* Bubbles */

.bubble_editor__elements_quantity_warning {
    padding: 0 0 0.5rem;
    max-width: 100%;
    text-align: center;
}

.bubble_editor__elements_quantity_warning span {
    color: #999;
    font-size: 11px;
}

.bubbles {
    position: relative;
}

.bubbles__list {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.bubbles__i {
    max-width: 100%;
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bubbles__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
}

.bubbles__link:hover {
    color: #0575bd;
}


.editor_disabled .bubbles__i .svg-icons-wrp,
.editor_readonly .bubbles__i .svg-icons-wrp {
   display: none;
}

.editor_disabled .bubbles__link:hover,
.editor_readonly .bubbles__link:hover {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.bubbles__form {
    flex: 1 1 10px;
    max-width: 100%;
    display: inline-block;
    align-self: center;
}
.bubbles__input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background: transparent;
}

.editor_disabled .bubbles__input,
.editor_readonly .bubbles__input{
    pointer-events: none;
}

.bubbles__input.empty{
    color: inherit;
}

/* /Bubbles/ */


.editor_icon{

}

.icons-wrp{
    display: inline-block;
    cursor: pointer;
}



/* reference-field */
.editor_reference{

}
.dropdown-reference {
    height: inherit;
    width: 100%;
    margin: 0;
}

.reference-field__txt {
    max-width: 100%;
    padding: 0 28px 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reference-field__txt-link {
    cursor: pointer;
    max-width: 100%;
    padding: 0 8px 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editor_disabled .reference-field__txt-link{
    color:#384650;
}

.reference-field__edit-btn {
    display: inline-block;
    cursor: pointer;
    width: 22px;
    height: 18px;
    vertical-align: top;
    border: 1px solid transparent;
    border-radius: 2px;
    visibility: hidden;
    transition: visibility .3s;
    position: absolute;
    right: 23px;
    top: 2px;
}

.editor:hover .reference-field__edit-btn{
    visibility: visible;
}

.reference-field__edit-btn:hover {
    border-color: #dfe4e8;
    background: #f7f6f6;
}

.reference-field__edit-btn:active {
    border-color: #abaeb0;
    box-shadow: inset 0 1px 5px hsla(0, 0%, 71%, .5);
}


.editor__common-empty-view {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #70787F;
    min-height: 30px;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    background: #fff;
    line-height: 25px;
}
/* /reference-field/ */


/*-------------// End Form Editor // -------------*/



/*------------------ Form Erorr ------------------*/
.form-error{
    font-size: 11px;
    color: #cb4e30;
    font-weight: 600;
    max-width: 100%;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left:0;
    opacity: 0;
    bottom:15px;
    transition: all .3s;
}
.error .form-error{
    opacity: 1;
    bottom:8px;
}
/*-------------// End Form Erorr // -------------*/


/* Avatar editor */
.user-avatar-wrp{
    display: inline-block;
    position: relative;
    width: 82px;
    height: 82px;
}

.user-avatar-editor{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #fff;
    border-radius: 50%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff no-repeat 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 0 0 1px #d2dbe2;
    box-shadow: 0 0 0 1px #d2dbe2;
}

.user-avatar-editor__txt{
    font-size: 44px;
    color: #d2dbe2;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.user-avatar-editor__btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
.user-avatar-editor-btn{
    position: absolute;
    top: 50%;
    left: -3px;
    right: -3px;
    margin-top: -15px;
    color: #fff;
    font-weight: 600;
    font-size: 9px;
    background: rgba(5,117,189,.5);
    display: inline-block;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.user-avatar-editor__empty{
    position: absolute;
    right:0;
    top:-3px;
    cursor: pointer;
    line-height: initial;
    font-weight: 600;
    font-size: 11px;
    color:#0575BD
}
.user-avatar-editor__empty:hover{
    color:#cb4e30
}
/* /Avatar editor/ */



/* Member editor */
.users-list{
    width:100%;
}

.users-list .popout{
    width:100%;
}

.popout-field-user{
    width:100%;
    height: 20px;
    line-height: 20px;
    border-bottom:1px solid #edeff0;
    transition: border-bottom-color .2s ease-in-out;
}

.popout-field-user:hover{
    border-bottom-color: #b9bcbd;
}

.editor_disabled .popout-field-user,
.editor_disabled .popout-field-user:hover,
.editor_readonly .popout-field-user,
.editor_readonly .popout-field-user:hover{
    border-bottom-color:transparent;
    background: transparent;
}

.member-text{
    display: inline-block;
    position: relative;
    padding-right: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.member-text__empty {
    color: #aab5be;
}

.editor_readonly .member-text__empty ,
.editor_disabled .member-text__empty{
    cursor: default;
}

/* /Member editor/ */


/*------------------ Input Color ------------------*/
input[type="color"], .colorpicker{
    height: 28px;
    padding: 0;
    width: 35px;
    background: transparent;
    margin: -4px 5px 0 -2px;
    border: none;
    cursor: pointer;
    flex: none;
}

.sp-dd{
    display:none;
}
/*-------------// Input Color // -------------*/



/* svg icons */
.svg-icons-wrp,
.svg-icons-wrp__empty {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
}

.editor_readonly .svg-icons-wrp,
.editor_disabled .svg-icons-wrp{
    display: none;
}

.svg-icons-wrp_checked{
    width:14px;
    height: 14px;
    display: none;
}

.editor_checked .svg-icons-wrp_checked{
    display: inline;
}
.editor_checked_some .checkbox:after, .checkbox.editor_checked_some:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.svg-icons_checked{
    visibility: hidden;
}
.editor_checked .svg-icons_checked{
    visibility: visible;
}

.svg-icons-wrp__empty,
.editor__icons.icon-remove {
    visibility: hidden;
    transition: visibility .3s ease-in-out;

}
.editor_empty:hover .svg-icons-wrp__empty {
    visibility: visible;
}
.editor_readonly .svg-icons-wrp__empty,
.editor_readonly:hover .svg-icons-wrp__empty,
.editor_disabled .svg-icons-wrp__empty,
.editor_disabled:hover .svg-icons-wrp__empty{
    visibility: hidden;
}

.editor__icons.icon-remove {
    overflow: hidden;
    cursor: pointer;
}

.editor:hover .editor__icons.icon-remove {
    visibility: visible;
    padding: 0px 5px;
}

.dd-list__filter_reference:hover .editor__icons.icon-remove {
    visibility: visible;
}

.editor_empty .editor__icons.icon-remove,
.editor_empty:hover .editor__icons.icon-remove,
.editor.editor_empty .editor__icons.icon-remove,
.editor.editor_empty:hover .editor__icons.icon-remove {
    visibility: hidden;
}

.editor_readonly .icon-edit,
.editor_disabled .icon-edit,
.editor.editor_readonly .editor__icons.icon-remove,
.editor.editor_disabled .editor__icons.icon-remove {
    display: none;
}

/* /svg icons/ */




/* ------------------------------ Calendar Bootstrap empty style ------------------------------ */
.editor_date.editor_empty,
.editor_date-time.editor_empty{
    color:inherit;
}

/*-----//------*/



.input::-ms-clear {
    display: none;
}

.editor_readonly .dev-code-editor-toolbar_button-two_stateable {
    pointer-events: none;
}

.editor_hidden {
    display: none !important;
}

.grid-cell .dev-code-button-edit {
    position: relative;
    bottom: 2px;
}

/* Document editor */

.input-upload {
    width: 100%;
    margin: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    /*line-height: 30px;
    font-size: 30px;*/
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 99;
}

.task-links {
    margin: 3px 0 0;
}

.field-documents__more {
    cursor: pointer;
}

.task-links_doc {
    margin-bottom: 30px;
}

.task-links__i {
    padding: 0 18px 0 0;
    position: relative;
    display: flex;
    align-items: center;
}

.task-links__link {
    flex: none;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dev-field-documents {
    flex: 1 1 auto;
}

.document-field{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.field-documents{
    flex-grow: 1;
    padding: 0 0 0 10px;
}

.document-field.drag-over {
    border: 1px solid #009bfe;
}

.fr-btn{
    display: inline-block;
    max-width: 100%;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    white-space: nowrap;
    background: #f7f6f6;
    border: 1px solid #dfe4e8;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 0;
}

.fr-btn:hover {
    border-color: #bfc2c4;
    box-shadow: inset 0 2px 3px #fff;
}

.fr-btn:active {
    box-shadow: inset 1px 1px 3px rgba(200,200,200,.7);
}

.fr-btn_attach, .fr-btn_download, .fr-btn_popup, .fr-btn_inline{
    margin-bottom: 0;
}

.fr-btn__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    color: #636262;
}

.documents {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.dev-btn-document-revise{
    width: 20px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 1;
}

.dev-revision-container{
    margin: 5px;
}

.dev-revision-container tr th{
    padding: 5px 10px;
    font-weight: 600;
}

.dev-revision-container tr td{
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
}

.dev-revision-container thead{
    border-bottom: 1px solid;
}

.audio-editor-container {
    width: 100%;
}

.field-error-view_text {
    color: #70787f;
}

.field-error-view_text .selected {
    border: 1px solid #8f84ff;
    border-radius: 2px;
}

.context_select {
    cursor: pointer;
}

.group-title__collapsible {
  cursor: pointer;
}

.dev-expression-editor-field-inline {
    display: flex;
}

.dev-expression-editor-field-inline .editor {
    position: relative!important;
}

.simplified-button_container {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.simplified-button_grid .cell{
    min-width: 35px;
    width: 35px;
    padding: 0;
    box-shadow: none!important;
}

.simplified-button_grid .visible-collection-wrp {
    flex-direction: row;
    display: flex;
}

.simplified-button_grid .visible-collection {
    height: 35px;
}

.simplified-button_grid .grid-content-view{
    overflow: hidden;
}

.counter_container {
  display: flex;
  align-items: center;
}

.cell > .simplified-panel_container {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 33px;
}

.simplified-panel_container {
    position: fixed;
}

.user-edit-wrp {
    display: flex;
}

.user-abr__container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 0 1px #0575bd;
    margin-left: 1px;
    margin-top: 2px;
}