.gallery-window {
    width: 100%;
    height: 100%;
    position: relative;
    border : 1px solid gray;
    top : 0;
    left : 0;
    z-index : 100500;
    overflow : hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-window  img, .gallery-window  video {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    background: black;
}


.gallery-image {
    display: flex;
    height: 100%;
}

.previews-collection-wrp {
    display: flex;
    margin-bottom: 20px;
}

.previews-collection-wrp .gallery-image {
    width: 120px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
    border: solid 1px white;
    cursor: pointer;
}

.gallery-main-image__wrapper {
    flex: 1 1 auto;
    justify-content: space-between;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
    margin-top: 100px;
    z-index: -1;
}

.gallery-image {
    min-width: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gallery-previous,
.gallery-next {
    flex: 0 0 80px;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}
.gallery-previous:hover,
.gallery-next:hover {
    opacity: 1;
}

.gallery-image.active {
    border: 3px solid;
    border-color: aqua;
}

.gallery-top-menu{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.gallery-nav-btn {
    font-size: 38px;
}

.gallery-top-menu-buttons-wrp{
    justify-content: space-between;
    width: max-content;
    position: absolute;
    right: 15px;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.gallery-top-menu-buttons-wrp .gallery-top-menu-close {
    font-size: 29px;
}

.gallery-top-menu-buttons-wrp > * {
    margin-left: 18px;
}

.gallery-btn {
    color: white;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.gallery-btn:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.gallery-window .gallery-controls-menu-wrp {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery-controls-menu-wrp span {
    margin-left: 5px;
    font: normal 14px/1.4 OpenSans,Arial,sans-serif;
}

.gallery-filename {
    color: white;
    cursor: default;
}

.gallery-previews-collection{
    margin-top: auto;
}

.gallery-info-widget {
    display: flex;
    min-height: 30px;
    height: 30px;
    width: 150px;
    margin-top: 100px;
}

.js-info-widget-icon {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    align-self: center;
    border-radius: 50%;
}

.info-widget-text-container {
    font-size: 10px;
    color: white;
    width: 100%;
    margin-left: 5px;
}

.js-info-widget-text {
    font-weight: bold;
}

.info-widget-subtext {
    text-decoration: underline;
}

.info-widget-text, .info-widget-subtext {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.gallery-top-menu .gallery-filename {
    display: none;
}

/* fullscreen-mode */

.gallery-window.fullscreen-mode .gallery-main-image__wrapper {
    margin: 0 auto;
}

.gallery-window.fullscreen-mode .gallery-controls-menu-wrp, 
.gallery-window.fullscreen-mode .gallery-previews-collection {
    display: none;
}

.gallery-window.fullscreen-mode .gallery-top-menu {
    justify-content: space-between;
}

.gallery-window.fullscreen-mode .gallery-top-menu, 
.gallery-window.fullscreen-mode .gallery-nav-btn{
    background-color: rgba(0,0,0,.7);
    padding: 10px;
    border-radius: 10px;
}
.gallery-window.fullscreen-mode .gallery-top-menu{
    border-radius: 0;
}



.gallery-window.fullscreen-mode .gallery-info-widget{
    margin-left: 15px;
    margin-top: 0;
}

.gallery-window.fullscreen-mode .gallery-top-menu-buttons-wrp {
    margin-right: 15px;
    position: initial;
}

.gallery-window.fullscreen-mode .gallery-top-menu .gallery-filename {
    display: initial
}

/* -- end fullscreen-mode -- */
