.gallery-window {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--theme-colors__text_fade);
    top: 0;
    left: 0;
    z-index: 100500;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black-50);
    color: rgba(255, 255, 255, .6);
    padding: 90px 0;
}

.gallery-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    font-size: 26px;
    transition: 0.2s ease-in-out;
}

.gallery-close:hover {
    background-color: var(--black-30);
    color: var(--white);
    font-size: 32px;
}

.gallery-main {
    width: 100%;
    height: 100%;
    padding: 0 90px;
    position: relative;
    margin: 0 auto;
}

.gallery-main__btn {
    position: absolute;
    width: 90px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 100%;
    font-size: 26px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-main__btn:hover {
    background-color: var(--black-30);
    color: var(--white);
    font-size: 32px;
}

.gallery-main__btn_next {
    left: auto;
    right: 0;
}

.gallery-main .gallery-image {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery-image img,
.gallery-image video {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    flex: none;
}

.gallery-main .gallery-loading-region {
    position: absolute;
    left: 90px;
    right: 90px;
    top: 0;
    height: 100%;
}

.gallery-main .gallery-loading-region:empty {
    display: none;
}

.gallery-main .gallery-loading-region .l-loader:not(:empty) {
    background: transparent;
}

.gallery-main .gallery-loading-region .loader {
    color: rgba(255, 255, 255, .6);
}

.gallery-main .gallery-loading-region .loader span {
    background-color: rgba(255, 255, 255, .6);
}

.gallery-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-footer__collection {
    width: auto;
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    margin: 0 220px;
}

.gallery-footer__collection .previews-collection-wrp {
    width: auto;
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 100%;
    flex-wrap: nowrap;
}

.gallery-footer__collection .gallery-image {
    width: 50px;
    height: 70px;
    flex: none;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: .5;
    transition: all 0.2s ease-in-out;
}

.gallery-footer__collection .gallery-image img,
.gallery-footer__collection .gallery-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.gallery-footer__collection .gallery-image.active {
    opacity: 1;
    width: auto;
    max-width: 150px;
    margin: 0 8px;
}

.gallery-footer__collection .gallery-image.active img,
.gallery-footer__collection .gallery-image.active video {
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.gallery-footer__text {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.gallery-filename {
    cursor: default;
    margin-bottom: 5px;
}

.gallery-info-widget {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.gallery-info-widget .info-widget-icon {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    align-self: center;
    border-radius: 50%;
    overflow: hidden;
}

.info-widget-text-container {
    font-size: 12px;
    color: var(--theme-colors__main);
    width: 100%;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 200px;
}

.info-widget-subtext {
    text-decoration: underline;
}

.info-widget-text,
.info-widget-subtext {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery-footer__btns {
    position: absolute;
    right: 10px;
    bottom: 3px;
}

div.gallery-download,
div.gallery-more,
div.gallery-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-download,
.gallery-more {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

.gallery-download:hover,
.gallery-more:hover {
    color: var(--white);
    background-color: var(--black-30);
    font-size: 28px;
}

@media (max-width: 720px) {
    .gallery-window .gallery-controls-menu-wrp {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper-gallery-btn {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px 10px;
    }

    .gallery-filename {
        width: 90%;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gallery-controls-menu-wrp span {
        margin: 0;
    }
}
