.galleryWindow {
    width: 100%;
    height: 100%;
    position: relative;
    border : 1px solid gray;
    top : 0;
    left : 0;
    z-index : 100500;
    overflow : hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-previous {
    top: 40%;
    left: 70px;
}

.gallery-next {
    top: 40%;
    right: 70px;
}

.galleryWindow  img, .galleryWindow  video {
    height: 100%;
    overflow: hidden;
    background: black;
}


.gallery-image {
    display: flex;
    height: 100%;
}

.previews-collection-wrp {
    display: flex;
    margin-bottom: 20px;
}

.previews-collection-wrp .gallery-image {
    width: 120px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
    border: solid 1px white;
    cursor: pointer;
}

.gallery-main-image{
    display: flex;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 100px;
    z-index: -1;
}

.gallery-main-image.zoomed-in {
    transform: scale(1.2) translateY(9%);
}

.gallery-image.active {
    border: 3px solid;
    border-color: aqua;
}

.gallery-image.active > * {
    filter: hue-rotate(240deg) saturate(3);
}

.gallery-top-menu{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}


.gallery-nav-btn {
    position: absolute;
    font-size: 38px;
}

.gallery-top-menu-buttons-wrp{
    justify-content: space-between;
    width: max-content;
    position: absolute;
    right: 15px;
    font-size: 21px;
}

.gallery-top-menu-buttons-wrp > * {
    margin-left: 10px;
}

.gallery-btn {
    color: white;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.gallery-btn:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.galleryWindow .gallery-controls-menu-wrp {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery-controls-menu-wrp span {
    margin-left: 5px;
    font: normal 14px/1.4 OpenSans,Arial,sans-serif;
}

.gallery-filename {
    color: white;
    cursor: default;
}

.gallery-previews-collection{
    margin-top: auto;
}

.gallery-info-widget {
    display: flex;
    min-height: 30px;
    height: 30px;
    width: 150px;
    margin-top: 100px;
}

.js-info-widget-icon {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    align-self: center;
    border-radius: 50%;
}

.info-widget-text-container {
    font-size: 10px;
    color: white;
    width: 100%;
    margin-left: 5px;
}

.js-info-widget-text {
    font-weight: bold;
}

.info-widget-subtext {
    text-decoration: underline;
}

.info-widget-text, .info-widget-subtext {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.gallery-top-menu .gallery-filename {
    display: none;
}

/* fullscreen-mode */

.galleryWindow.fullscreen-mode .gallery-main-image {
    margin: 0 auto;
}

.galleryWindow.fullscreen-mode .gallery-controls-menu-wrp, 
.galleryWindow.fullscreen-mode .gallery-previews-collection {
    display: none;
}

.galleryWindow.fullscreen-mode .gallery-top-menu {
    justify-content: space-between;
}

.galleryWindow.fullscreen-mode .gallery-top-menu, 
.galleryWindow.fullscreen-mode .gallery-nav-btn{
    background-color: rgba(0,0,0,.7);
    padding: 10px;
    border-radius: 10px;
}
.galleryWindow.fullscreen-mode .gallery-top-menu{
    border-radius: 0;
}



.galleryWindow.fullscreen-mode .gallery-info-widget{
    margin-left: 15px;
    margin-top: 0;
}

.galleryWindow.fullscreen-mode .gallery-top-menu-buttons-wrp {
    margin-right: 15px;
    position: initial;
}

.galleryWindow.fullscreen-mode .gallery-top-menu .gallery-filename {
    display: initial
}

/* -- end fullscreen-mode -- */
