.icons-panel__search {
    padding: 10px;
}

.icons-panel-category {
    width: 100%;
    padding: 20px;
}

.icons-panel-category__name {
    margin: 0 10px 5px;
    font-size: 15px;
    color: var(--theme-colors__text);
    border-bottom: 1px solid var(--theme-colors__text);
    padding-bottom: 3px;
    border-color: var(--theme-colors__secondary_strong);
}

.icons-panel-category__palette {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.icons-panel-i {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: none;
    width: 33%;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icons-panel-i:hover {
    background: var(--theme-colors__main);
}

.icons-panel-container {
    display: flex;
    flex-direction: column;
}

.icons-panel-i__img {
    font-size: 18px;
    margin-right: 5px;
}

.icons-panel-i__text {
    display: inline-block;
    white-space: nowrap;
    color: var(--theme-colors__text_fade);
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.icon-editor-wrp {
    display: flex;
    max-width: 100%;
    padding-right: 20px;
    position: relative;
}

.icon-selector-header {
    display: inline-block;
    margin-top: 3px;
}

.editor_icons {
    display: flex;
    align-items: center;
}

.editor_icons .editor_icons--preview {
    font-size: 20px;
}

.editor_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.svg-icons-remove {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 4px;
    visibility: hidden;
    cursor: pointer;
}

.icon-editor-wrp:hover .svg-icons-remove {
    visibility: visible;
}

.ld-setting-dd-panel {
    padding: 5px;
    min-width: 200px;
    max-width: 400px;
    display: flex;
}

.ld-setting-dd-panel_color {
    flex-direction: column;
}

.ld-setting-dd-panel_color .fr-btn {
    margin: 2px;
    width: 100%;
}

.ld-setting-dd-panel_icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    height: 100%;
}

.ld-setting-dd-panel__i {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
}

.ld-setting-dd-panel__i:hover {
    background: var(--theme-colors__main);
}

.ld-setting-dd-panel__i:empty {
    display: none;
}

.collection-icons {
    overflow: auto;
}

.button-remove-icon {
    color: var(--red-dark);
    cursor: pointer;
}

.icon-button {
    font-size: 15px;
    background: var(--theme-colors__main);
    color: var(--theme-main__text);
    border: 1px solid var(--editors-color-border);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.editor_icon .toolbar-btn__icon-editor {
    background: var(--theme-colors__main);
    color: var(--theme-main__text);
    border: 1px solid var(--editors-color-border);
    padding: 5px 10px;
}

.editor_icon .toolbar-btn__icon-editor:hover {
    background: var(--theme-colors__main);
    color: var(--theme-main__text);
    border: 1px solid var(--editors-color-border);
    padding: 5px 10px;
}

.icons-panel-head__editor {
    padding: 10px 20px 10px 20px;
}

.dropdown__icons {
    width: 500px;
    min-width: 400px !important;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.icons-panel-collection {
    flex-grow: 1;
    overflow: auto;
}

.icons-panel-head {
    display: flex;
    flex-wrap: wrap;
    flex: none;
    padding-bottom: 15px;
}
