/* List/Grid CSS */

.list-item {
    height: 34px;
    padding: 0 5px;
    line-height: 34px;
    font-size: 13px;
    font-weight: normal;
    color: #43525d;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}
.list-item:hover {
    background: #f5f5f5;
}

.list {
    height: 100%;
    overflow: auto;
    display: flex;
    flex: 1;
}

.visible-collection {
    height: 100%;
    width: 100%;
    position: relative;
}

.visible-collection-wrp, .selection-panel-wrp {
    position: relative;
    will-change: top;
}

.visible-collection-view {
    height: inherit;
}

.visible-collection-view:focus {
    outline: none;
}

.grid {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.grid-content-wrp {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

.grid-header-wrp {
    display: flex;
    flex: 0 0 auto;
    overflow-y: scroll;
    -ms-scrollbar-arrow-color: white;
    -ms-scrollbar-track-color: white;
}

.grid-content-view {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    overflow: scroll;
}

.grid-selection-panel-region {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    overflow-x: scroll;
    -ms-scrollbar-arrow-color: white;
    -ms-scrollbar-track-color: white;
}

.grid-selection-panel {
    position: relative;
    display: flex;
    flex-direction: column;
}

.grid-content-view > .list-view {
    height: inherit;
}

.grid .visible-collection {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}


.grid-cell {
    display: inline-block;
    border-bottom: 1px solid #dfe4e8;
    padding-right: 15px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #000;
    cursor: default;
    min-width: 100px;
}

.grid-selection-cell-all {
    min-width: 26px;
    position: relative;
    flex: none;
}

.grid-selection-cell-all:empty {
    display: none;
}

.grid-selection-cell-all .cell_selection{
    position: relative;
}

.selection-cell-wrp {
    display: flex;
    position: absolute;
    height: 25px;
    line-height: 25px;
    width: 30px;
}

.selection-cell-dots {
    width: 25px;
    height: 20px;
    cursor: move;
    position: absolute;
    left: 24px;
}

.selection-cell-index {
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 33px;
    position: absolute;
}

.selection-cell-dots circle{
    fill: #888E94
}


.grid-selection-index {
    width: 55px;
}


.grid-header-column-content-view {
    cursor: pointer !important;
}

.grid-header-view {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    flex: none;
}

.grid-header-view:empty {
    display: none;
}

.grid-header {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.grid-header-column {
    display: inline-block;
    position: relative;
    min-width: 100px;
}

.grid-header-column-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    cursor: default;
    height: 100%;
}

.grid-header-dragger {
    position: absolute;
    right: -3px;
    top: 0;
    bottom: 0;
    width: 7px;
    cursor: e-resize;
    z-index: 3;
    opacity: .8;
    background: no-repeat 50% 50% url(data:image/gif;base64,R0lGODlhBwAPAIABAJmfo////yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOkVCODE2MEQwMTlCNEUzMTFCMUU4QTc1NjZEMUI0RThDIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjU1Q0JFRDkzRDVFRjExRTM4QzQyQkU2RTdEQjRCMDJEIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjU1Q0JFRDkyRDVFRjExRTM4QzQyQkU2RTdEQjRCMDJEIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzYgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OUNGMDkyRjRDREQ1RTMxMTk0MkI4NDAxMEZDNEFEQzciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RUI4MTYwRDAxOUI0RTMxMUIxRThBNzU2NkQxQjRFOEMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAABwAPAAACFIxhGajb3piSDlm7ME70vA5NX1IAADs=);
}

.grid-header .grid-header-dragger {
    visibility: hidden;
}

.grid-header:hover .grid-header-dragger {
    visibility: visible;
}

.sort_down, .sort_up {
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
}

.filter-sort-btn {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGNjgxNEY2MDY2QzMxMUU1QTFCNUQ0Rjc5MDE4MEMxQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGNjgxNEY2MTY2QzMxMUU1QTFCNUQ0Rjc5MDE4MEMxQiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY2ODE0RjVFNjZDMzExRTVBMUI1RDRGNzkwMTgwQzFCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY2ODE0RjVGNjZDMzExRTVBMUI1RDRGNzkwMTgwQzFCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+H6cnNQAAAOdJREFUeNpiPLB/PwMSEAHiIiD2AWI1qNgNIN4ExJOA+A1MIQuSpmAgngvE/AyoQB+K84E4CYjXggSZkDStxqIJGfBB1QTDNIoC8TwgZmQgDBihasVAGnOhpsGAI1QBMnZAs7kApNEPzdR6LDY1oPF9QBo10AQd0GywR+ODgDoTDr/U47ENBH4xQeOJAYut2NgwcI8JGrkMRNiMDLaCNE4B4k84NGFzJkjtBJDGV9AU8Z9ASDJA1YDUvoIFDigZhQHxZzzOBsmFoic5EFgDxEpA3A7EV4D4NxB/BeLzQNwClVsLUwwQYAAdTSp2l/mZpAAAAABJRU5ErkJggg==');
}

.has-filter .filter-sort-btn{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowRUI1NjNGQjY2QzQxMUU1QjhGNzk4MkUwRTRFQTFCRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowRUI1NjNGQzY2QzQxMUU1QjhGNzk4MkUwRTRFQTFCRSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBFQjU2M0Y5NjZDNDExRTVCOEY3OTgyRTBFNEVBMUJFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBFQjU2M0ZBNjZDNDExRTVCOEY3OTgyRTBFNEVBMUJFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+JtOrVwAAANlJREFUeNpieajKgAxEgLgIiH2AWA0qdgOINwHxJCB+A1PIiKQxGIjnAjE/A3bwCYiTgHgtiMOEpGk1Hk0gwAdVEwyzURRI34FKEANANquCbMxF0+QIMhANO6DZXADS6IdmYj0WWxrQ+D4gjRpogg5oNtij8UFAnQmHP+rx2AYCv5ig8cSAxVZsbBi4xwSNXAYibEYGW0HRIQZk3MYSHQ04nAmPjlfQFPGfQEgyQNWA1L6CBQ4oGYUB8Wc8zgbJhcKSHCOORO4LCnJQ6AHxLZCfgHgiciIHCDAA3jQr+fWlIaEAAAAASUVORK5CYII=');
}


/* Scrollbar */

.scrollbar-region{
    position: absolute;
    width: 10px;
    right: 0;
    bottom: 0;
    top: 46px;
}
.scrollbar {
    height: 100%;
    background-color: #fcfcfc;
    z-index: 1;
    position: absolute;
    width: 12px;
}
.dragger {
    position: relative;
    top: 0;
    height: 10%;
    background-color: #d9d7d7;
    opacity: 0.3;
}

.scrollbar.hover {
    background-color: #F0F0F0;
}

.scrollbar.hover .dragger {
    background-color: #B9B9B9;
    opacity: 1;
}

.scrollbar .dragger.active {
    background-color: #A0A0A0;
}

/* Empty View */
.empty-view {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: #70787F;
    min-height: 30px;
}
/* /Empty View */

/* Editable Grid */
.fr-collection{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-toolbar-wrp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
}

.grid-toolbar-region {
    flex: 1 1 auto;
    overflow: hidden;
}

.columns-select-list .grid-toolbar__search{
    flex: 0 0 auto;
    width: 100%;
}

.columns-select-list .grid-toolbar-wrp >.grid-toolbar__search{
    order: initial;
}

.columns-select-list .grid-toolbar__search .tr-search{
    border: none;
    width: 100%;
}

.editable-grid-field {
    width: 100%;
    height: 25px;
}

.editable-grid-field .form-editor{
    width: 100%;
    height: 100%;
}

.editable-grid-field .editor {
    height: 24px;
    line-height: 24px;
    color: #000;
    padding: 0 5px;
    border-bottom: none;
}

.editable-grid-field .editor:after {
    display: none;
    background: transparent;
}

.editable-grid-field.readonly .editor,
.editable-grid-field.disabled .editor,
.editable-grid-field .editor_checkbox{
    outline: none;
}

.editable-cell input {
    background-color: transparent;
    border-bottom: none;
}

.editable-cell .input_dropdown {
    border-bottom: none;
}

.grid-cell_last .editable-cell{
    margin-right: 45px;
}

.cke_button_label {
    display: none !important;
}

.editable-grid-field.error .form-label__error{
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    margin:0;
}
.editable-grid-field .form-label__error:before {
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid #e61212;
    border-left: 4px solid #e61212;
    background: transparent;
    border-radius: 0;
    top: 1px;
    left: 1px;
    width: auto;
    height: auto;
}

.editable-grid-field .form-label__error-button {
    height: 8px;
    width: 8px;
    vertical-align: top;
}

.editable-grid-field .form-label__error-button-anchor {
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    bottom: auto;
}

/* /Editable Grid */

/* New grid */
.row {
    display: flex;
}

.row.selected{
    background: transparent;
}

.cell {
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
    min-width: 100px;
}
.cell_editable {
    display: flex;
    align-items: center;
}
.cell_selection {
    position: relative;
    display: flex;
    align-items: center;
    flex: none;
    min-width: inherit;
    padding: 0;
}

.cell-focused {
    outline-offset: -1px;
}
.disabled.cell-focused {
    outline: none;
}

.grid-selection-cell-all.cell_selection-index{
    padding-left: 0;
}

.cell.selected{
    outline-offset: -1px;
}

.cell .editor{
    height: 100%;
    line-height: initial;
    border: none;
    background-color: transparent;
}
.cell .js-tree-first-cell {
    flex: none;
}
.cell .js-tree-first-cell + .editor {
    flex: 1 1 auto;
}
.dragover .cell,
.dragover.cell,
.dragover .grid-header-column{
    border-bottom: 1px solid #0575bd;
}

.cell > .editor:after{
    display: none;
}

.cell .editor_checkbox.editor_focused{
    outline: none;
}

.cell .editor_checkbox {
    display: flex;
    align-items: center;
}

.fr-collection .cell{
    font-size: 13px;
}

.cell .input{
    border: none;
    height: 100%;
    line-height: inherit;
    background-color: transparent;
    font-size: 13px;
}

.cell a{
    font-size: 13px;
}

.cell__dots{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    z-index: 1;
    cursor: move;
}

.cell:hover .cell__dots{
    visibility: visible;
}

.cell__dots svg{
    fill: #c9caca;
}

.cell__index {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.cell .checkbox_cell-selection {
    margin: 0 auto;
    z-index: 2;
}

.cell_selection-index .checkbox_cell-selection {
    margin: 0;
    margin-left: auto;
}

.cell-right, .grid-header-right {
    text-align: right;
}

.cell .collapsible-btn{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjZGREJCMUI0OTU5MDExRTg4NzAwRUE5NjE2MzY2MUQ3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjZGREJCMUI1OTU5MDExRTg4NzAwRUE5NjE2MzY2MUQ3Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NkZEQkIxQjI5NTkwMTFFODg3MDBFQTk2MTYzNjYxRDciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NkZEQkIxQjM5NTkwMTFFODg3MDBFQTk2MTYzNjYxRDciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz447xZHAAAAO0lEQVR42mJmYGCoBmJxIL7GgAZ4gHgBEIcwYAHESzIjSfwC4j1AXADiMDEQAbDaQ7wgA9SDGIIAAQYAdcoKZphNcRcAAAAASUVORK5CYII=');
}

/*-- Compact list --*/
.compact.fr-collection .cell .input,
.compact.fr-collection .cell .bubbles__input,
.compact.fr-collection .cell a{
    font-size: 12px;
}

.compact.fr-collection .grid-header,
.compact.fr-collection .grid-selection-cell-all,
.compact.fr-collection .cell{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
}
.compact.fr-collection .grid-header-column-content{
    line-height: 26px;
    font-size: 12px;
}

.compact.fr-collection .cell .checkbox {
    height: 13px;
    width: 13px;
}
.compact.fr-collection .btn.btn-icon {
    height: calc(100% - 4px);
    margin: 2px 0;
}
.compact.fr-collection .btn.btn-icon .fa{
    vertical-align: top;
}
.compact.fr-collection  .cell__dots svg {
    transform: scale(.7) translate(-8px, -5px);
}

.compact.fr-collection .sort_down,
.compact.fr-collection .sort_up{
    top: 3px;
}
/*-- End Compact list --*/