.fr-alert {
    max-width: 475px;
    font-size: 13px;
    color: var(--theme-colors__success-txt);
    border-radius: 5px;
    background: var(--theme-colors__success);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 560;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    align-items: stretch;
}
.fr-alert .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.75rem;
    min-width: 40px;
    align-items: center;
    font-size: 1.25rem;
}

.notification-body_container{
    padding: 0.75rem 0 0.75rem 0.75rem;
    overflow: hidden;
}

.fr-alert .fr-alert-title{
    padding-right:  0.5rem;;
}

.fr-alert .text-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
    overflow-y: hidden;
    max-height: 3rem;
    overflow-x: hidden;
    white-space: normal;
    padding-right: 0.75rem;
}

.fr-alert .fr-alert-title + .text-container{

}

.fr-alert .close-button_container {
    min-width: 20px;
    padding: 3px 6px;
    display: flex;
}

.fr-alert_error {
    background: var(--theme-colors__error);
    color: var(--theme-colors__error-txt);
}

.fr-alert_warning {
    background: var(--theme-colors__warning);
    color: var(--theme-colors__warning-txt);
}

.notification-container {
    bottom: 0;
    right: 0;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 560;
    pointer-events: none;
    width: 50%;
    align-items: flex-end;
}

.notification-container > div{
    pointer-events: auto;
}

.fr-alert-title {
    font-weight: 600;
    overflow-y: hidden;
    max-height: calc(1em + 1rem);
}

.icon-close {
    padding: 0 5px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem;
}
@media (max-width: 720px) {
    .notification-container {
        width: 100%;
        padding: 15px;
        align-items: stretch;
    }
    .fr-alert{
        margin: 0;
        margin-bottom: 0.75rem;
    }
    .fr-alert .text-container {
        padding: 0;
    }
    .notification-body_container {
        padding: 0.75rem;
        width: 100%;
    }
}
