.fr-alert {
    min-height: 50px;
    max-width: 50%;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background: #41BCD5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 560;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
}
.fr-alert .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 40px;
    align-items: center;
    background-color: white;
    color: #41BCD5;
    font-size: 24px;
}

.notification-body_container{
    padding: 0.5rem;
}

.fr-alert .text-container {
    text-align: left;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    max-height: calc(2em + 1rem);
    font-size: .9em;
}

.fr-alert .fr-alert-title + .text-container{

}

.fr-alert .close-button_container {
    min-width: 20px;
    padding: 3px 6px;
    display: flex;
}
.fr-alert_error {
    background:  #F58020;
}

.fr-alert_error .icon-container{
    color: #F58020;
}

.dev-alert_success {
    background-color: #74C365;
}

.fr-alert.dev-alert_success .icon-container {
    color: #74C365;
}

.notification-container {
    bottom: 0;
    right: 0;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 560;
    pointer-events: none;
    width: 50%;
    align-items: flex-end;
}

.notification-container > div{
    pointer-events: auto;
}

.fr-alert-title {
    font-weight: 600;
    overflow-y: auto;
    max-height: calc(1em + 1rem);
}