.fr-alert {
    max-width: 475px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 5px;
    background: #eb6c16;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 560;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    align-items: stretch;
}

.fr-alert .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 40px;
    align-items: center;
    background-color: white;
    color: #eb6c16;
    font-size: 24px;
}

.notification-body_container {
    padding: 0.75rem 0 0.75rem 0.75rem;
    overflow: auto;
}

.notification-body__show-more-btn {
    cursor: pointer;
    padding: 0.3rem 0.3rem;
    border-radius: 2px;
    background-color: #ffffff;
    color: #000000;
    margin: 5px;
    text-align: center;
}

.notification-body__show-more-btn:hover {
    opacity: 0.7;
}

.fr-alert .fr-alert-title {
    padding-right: 0.5rem;
}

.fr-alert .text-container {
    text-align: left;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    max-height: calc(2em + 1rem);
    overflow-x: hidden;
    white-space: normal;
    padding-right: 0.75rem;
}

.fr-alert .close-button_container {
    min-width: 20px;
    padding: 3px 6px;
    display: flex;
}

.fr-alert_error {
    background: #eb6c16;
}

.fr-alert_error .icon-container {
    color: #eb6c16;
}

.alert_success {
    background-color: #74c365;
}

.fr-alert.alert_success .icon-container {
    color: #74c365;
}

.notification-container {
    bottom: 0;
    right: 0;
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 560;
    pointer-events: none;
    width: 50%;
    align-items: flex-end;
}

.notification-container > div {
    pointer-events: auto;
}

.fr-alert-title {
    font-weight: 600;
    overflow-y: auto;
    max-height: calc(1em + 1rem);
}

.icon-close {
    padding: 0 5px;
}
@media (max-width: 720px) {
    .notification-container {
        width: 100%;
        padding: 15px;
        align-items: stretch;
    }
    .fr-alert{
        margin: 0;
        width: 100%;
        max-width: 100%;
        margin-bottom: 0.75rem;
    }
    .fr-alert .icon-container {
        justify-content: flex-start;
        padding: 5px 15px; 
    }
    .fr-alert .text-container {
        max-height: none;
        padding: 0;
    }
    .notification-body_container {
        padding: 0.75rem;
        width: 100%;
    }
    .icon-close {
        margin-left: auto;
        padding: 5px 15px;
    }
}
