.popout {
    position: relative;
    display: inline-block;
}

.anchor.anchor_inline {
    position: relative;
}

/* popout-menu */
.popout-menu {
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    padding: 0;
}
.popout-menu {
    min-width: 120px;
    max-width: 300px;
    max-height: 227px;
    font-size: 13px;
    overflow-y: auto;
    display: none;
    text-align: left;
}
.popout-menu, .popout-menu:hover .popout-menu {
    display: block;
}
.popout-menu__i {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}
.popout-menu__i:hover {
    background: #edf3fb;
}
.popout-menu__txt {
    padding: 4px 7px 4px 10px;
    display: inline-block;
    cursor: pointer;
    color: #636262;
    flex: 1;
}
.popout-menu__txt:hover {
    color: #000;
    text-decoration: none;
}
.popout-menu__subtext {
    color: #d3d5d6;
}
