.popout {
    position: relative;
    display: inline-block;
}

.anchor.anchor_inline {
    position: relative;
}

.popout__action {
    cursor: pointer;
}

.toolbar-btn .popout__action {
    display: flex;
}

.toolbar-btn .popout__action .anchor{
    font-size: 20px;
    margin-left: 5px;
}

.popout__action.open .anchor{
    transform: rotate(180deg);
}

/* popout-menu */
.popout-menu {
    position: fixed;
    box-shadow: 0 5px 5px -3px var(--black-20), 0 8px 10px 1px var(--black-14), 0 3px 14px 2px var(--black-12);
    padding: 0;
}
.popout-menu {
    min-width: 120px;
    max-width: 300px;
    max-height: 240px;
    overflow-y: auto;
    display: none;
    text-align: left;
}
.popout-menu, .popout-menu:hover .popout-menu {
    display: block;
}
.popout-menu__i {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}
.popout-menu__i:hover,
.popout-menu__i_selected {
    background: var(--theme-colors__main);
}
.popout-menu__txt {
    display: inline-block;
    color: var(--theme-colors__text_fade);
    flex: 1;
}
.popout-menu__txt:hover {
    color: var(--theme-colors__text);
    text-decoration: none;
}

.popout-menu__subtext {
    color: var(--theme-colors__main_strong);
}
