.leaf-item {
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.leaf-name {
    padding-left: 10px;
    font-size: 14px;
    color: var(--theme-colors__text_strong);
}

.leaf-item:hover .drag-wrap {
    visibility: visible;
}

.drag-wrap {
    visibility: hidden;
    font-style: normal;
    font-size: 1.5em;
    position: absolute;
    left: 2px;
    cursor: move;
    width: 10px;
}

.branch-header {
    border-bottom: 1px solid var(--theme-colors__main_fade);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branch-header-name {
    font-weight: 600;
    font-size: 1.05rem;
}

.root > .branch-header-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch-header-name,
.leaf-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 2px auto 2px 0;
}

.branch-item {
    margin-bottom: 8px;
}

.branch-item:hover,
.unnamed-branch-item:hover,
.tree-editor-toolbar,
.root {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tree-item:hover {
    background: var(--theme-colors__highlight);
    color: var(--theme-colors__highlight-txt);
}

.tree-item,
.branch-item {
    transition: background-color 0.2s ease;
    background: var(--theme-colors__main);
    border-bottom: 2px solid transparent;
}

.tree-item.dragover,
.branch-item.dragover {
    border-bottom: 2px solid var(--theme-colors__primary);
}

.unnamed-branch-item {
    padding-right: 4px;
}

.unnamed-branch-item:not(:last-child) {
    border-bottom: 1px solid var(--theme-colors__main_fade);
}

.unnamed-branch-item:hover {
    border-right: 4px solid var(--theme-colors__primary);
    padding-right: 0;
}

.unnamed-branch-item {
    cursor: move
}

.hidden-node {
    background-color: var(--theme-colors__main_fadest);
    color: var(--theme-colors__main_strongest);
}

.hidden-by-tree-editor {
    display: none;
}

.tree-editor-no-columns-message {
    width: 100%;
}

.grid-container .tree-editor-btn {
    display: flex;
    justify-content: flex-end;
}

.branch-item.dropdown__wrp {
    overflow: scroll;
}
/*
.tree-editor-btn >.toolbar-btn {
    height: 100%;
    line-height: inherit;
}

.layout__tab-layout .tree-editor-btn >.toolbar-btn {
    line-height: inherit;
}
*/
.tree-item .collapse-btn, .tree-item .eye-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
}

.root *:not(.required) > .eye-btn {
    cursor: pointer;
}

.collapse-btn {
    cursor: pointer;
}

.collapsed .collapse-btn {
    transform: rotate(-90deg);
}

.branch-header .eye-btn,
.branch-header .collapse-btn {
    margin-right: 5px;
    margin-left: 5px;
}

.header-name-wrp {
    width: 100%;
}

.tree-editor-toolbar {
    justify-content: center;
    height: auto;
}

.tree-editor-toolbar .toolbar-items-wrp {
    margin: 5px;
    width: 100%;
    justify-content: space-evenly;
}
.tree-editor-toolbar .toolbar-items-wrp:empty {
    margin: 0;
}

.root__header-name {
    margin-right: 5px;
}


