:root {
    /*** Primary ***/
    --theme-colors__primary_hs: 203, 95%; /* Basic HS */

    --theme-colors__primary: hsla(var(--theme-colors__primary_hs), 38%, 1);/*#0575bd;*/ /* Basic */
    --theme-colors__primary_fade: hsla(var(--theme-colors__primary_hs), 48%, 1);/*#009bfe;*//* Fade */ /* используется при наведении */
    --theme-colors__primary_fadest: hsla(var(--theme-colors__primary_hs), 58%, 1);/*#d6e7f2;*//* The most fade */
    --theme-colors__primary_strong: hsla(var(--theme-colors__primary_hs), 28%, 1);/*#1b6595;*//* Strong */
    --theme-colors__primary_strongest: hsla(var(--theme-colors__primary_hs), 18%, 1);/*#023f67;*//* Strongest */

    /*** Secondary ***/
    --theme-colors__secondary: #c1c1c1; /* Basic */
    --theme-colors__secondary_fade: #ffffff; /* Fade */
    --theme-colors__secondary_fadest: #ffffff; /* The most fade */
    --theme-colors__secondary_strong: #dcdcdc; /* Strong */
    --theme-colors__secondary_strongest: #c2c2c2; /* Strongest */

    /*** Text ***/
    --theme-colors__text: #000; /* Basic */                     /* Базовый цвет текста */
    --theme-colors__text_fade: #666; /* Fade  #666;*/        /* Базовый цвет заголовков */
    --theme-colors__text_fadest: #999; /* The most fade */      /* Цвет текста скрытый */
    --theme-colors__text_strong: #404040; /* Strong */

    /*** Highlight ***/
    --theme-colors__highlight: #e8f6ff; /* text highlight */

    /*** Background ***/
    --theme-colors__background: #e3e3e3; /* main background */

    /*** Main ***/
    --theme-colors__main: #ffffff; /* Basic */
    --theme-colors__main_fade: #efefef;/* Fade */
    --theme-colors__main_fadest: #f5f5f5; /* The most fade */
    --theme-colors__main_strong: #e2e2e2;/* Strong */
    --theme-colors__main_strongest: #c1c1c1;/* Strongest */

    /*** Notification ***/
    --theme-colors__warning: #ffda44;
    --theme-colors__error: #e1462c;
    --theme-colors__success: #74c365;

    /* box-shadow variables */
    --black-20: rgba(0,0,0,.2);
    --black-50: rgba(0,0,0,.5);
    --black-70: rgba(0,0,0,.7);
    --black-14: rgba(0,0,0,.14);
    --black-12: rgba(0,0,0,.12);
    --black-16: rgba(0, 0, 0,.16);
    --black-23: rgba(0, 0, 0,.23);
    --black-24: rgba(0, 0, 0,.24);

    /* other variables */
    --red-dark: #ac1e1a; /* use for red control elements */
    --link-color: var(--theme-colors__primary);
    --link-hover-color: var(--theme-colors__primary_fade);
    --main-color: var(--theme-colors__primary);
    --selected-background-color: var(--theme-colors__main);
    --disabled-text-color: var(--theme-colors__main_fade);
    --border-color: var(--theme-colors__main_fade);
    --border: 1px solid var(--border-color);
    --border-radius: 2px;
    --focus: 1px solid var(--theme-colors__primary);
    --toolbar-background: transparent;

    /* font */
    --base-font-size: 13px;
    --line-height: 1.3;
    --font: normal var(--base-font-size)/var(--line-height) 'OpenSans', Arial, sans-serif;

    --form-input-padding: 10px;

    --form-field-margin: 10px;
    --form-label-font-size: 13px;
    --form-label-font-weight: 600;
    --form-label-color: var(--theme-colors__text);
    --form-label-margin: 2px;
    --form-label-padding: 0 var(--form-input-padding);
    --form-label-icon-size: 12px;
    --form-label-icon-margin-x: 3px;

    /* form editor */
    --editor-height: 20px;
    --editor-textarea-height: auto;
    --editor-line-height: 20px;
    --editor-textarea-line-height: 18px;
    --editor-font-size: var(--base-font-size);
    --editor-text-color: var(--theme-colors__text);
    --editor-empty-text-color: var(--theme-colors__text_fadest);

    /* input */
    --input-padding: 4px 18px 4px var(--form-input-padding);
    --input-height: 30px;
    --input-hover-color: var(--theme-colors__primary_fade);
    --input-active-border-color: var(--theme-colors__primary);
    --input-search-padding: 2px 20px 2px 24px;
    --input-search-bg: no-repeat 6px 50% transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMJJREFUeNpinDlzJgMU2ANxERAbQ/lngbgPiA8yIAEmKF0BxPOBeAEQm0PxAqhYBbIGFqjJUUBsCMQfkeTWA/E+ID4MxEegGGxDCxDXoCmGgY9QuRZkJ+miuxMNgGwxQPcDIcCMrOEy1B+4gBM0xOAaYG7kx6IYJNYOVQPXAHL/MiA+D8SBQCwBxYFQMZBzkmHOgvmhA4gTgTgBqug8lJ0IDW5pIJ4D0sSCZP1BPKHlD8RbgHgRsaH0HYh9gPgXQIABAKFrJnBTJSNWAAAAAElFTkSuQmCC);

    /* textarea */
    --textarea-padding: 4px var(--form-input-padding);
    --textarea-line-height: inherit;
    --textarea-min-height: 30px;

    /* custom control */
    --custom-control-spacer-y: 10px;

    /* checkbox */
    --checkbox-size: 18px;
    --checkbox-radius: 4px;
    --checkbox-border-color: var(--theme-colors__main_strongest);
    --checkbox-intermediate-size: 8px;
    --checkbox-checked-color: var(--theme-colors__main_fadest);

    /* radio */
    --radio-size: 18px;
    --radio-margin: 0 10px 0 0;
    --radio-checked-color: var(--theme-colors__primary);
    --radio-inner-size: 10px;
    --radio-checked-disabled-color: var(--theme-colors__text_fade);

    /* grid */
    --grid-toolbar-padding: 2px 0;
    --grid-toolbar-bg-color: var(--theme-colors__main_fadest);

    --grid-checkbox-size: 18px;
    --grid-checkbox-icon-size: 11px;
    --grid-header-font-size: var(--base-font-size);
    --grid-header-color: var(--theme-colors__main);
    --grid-header-bg: var(--theme-colors__primary);
    --grid-header-border-color: var(--theme-colors__main_fade);
    --grid-header-height: 30px;
    --grid-header-padding: 0 15px;
    --grid-header-border: inset -1px -1px 0 0 var(--grid-header-border-color), inset 0 1px 0 0 var(--grid-header-border-color);
    --grid-header-border-first: inset -1px -1px 0 0 var(--grid-header-border-color), inset 1px 1px 0 0 var(--grid-header-border-color);
    --grid-header-border-last: var(--grid-header-border);
    --grid-header-selection-bg: var(--theme-colors__main_fadest);

    --grid-cell-bg: var(--theme-colors__main);
    --grid-cell-border: 1px solid var(--grid-header-border-color);
    --grid-cell-border-first: inset -1px -1px 0 0 var(--grid-header-border-color), inset 1px 0 0 0 var(--grid-header-border-color);
    --grid-cell-border-headless: inset -1px -1px 0 0 var(--grid-header-border-color), inset 0px 1px 0 0 var(--grid-header-border-color);
    --grid-cell-border-first-headless: inset -1px -1px 0 0 var(--grid-header-border-color), inset 1px 1px 0 0 var(--grid-header-border-color);
    --grid-cell-height: 25px;
    --grid-cell-padding: 0 5px;
    --grid-cell-size: 13px;
    --grid-cell-input-padding: 0 2px 0 0;
    --grid-dots-width: 30px;
    --grid-dots-padding: 0 25px 0 2px;
    --grid-dots-color: var(--theme-colors__main_strongest);
    --grid-row-selected-color: var(--theme-colors__main);
    --grid-row-hover-color: var(--theme-colors__main_fadest);

    --grid-selection-color: var(--theme-colors__text_fadest);
    --grid-selection-width: 26px;
    --grid-selection-bg: var(--grid-cell-bg);
    --grid-selection-index-width: 53px;
    --grid-selection-index-padding-x: 10px;
    --grid-selection-index-padding-checkbox: 21px;

    --grid-sort-icon-size: 11px;
    --grid-sort-icon-offset-y: 2px;

    --columns-select-border: var(--border);
    --columns-select-cell-border: inset -1px -1px 0 0 var(--theme-colors__main_fade);

    --dropdown-padding: 0 20px 0 var(--form-input-padding);
    --dropdown-font-size: var(--base-font-size);
    --dropdown-group-fontsize: 11px;
    --dropdown-group-color: var(--theme-colors__text);
    --dropdown-item-padding: 7px 15px;
    --dropdown-item-checkbox-padding: 5px;
    --dropdown-item-hover-color: var(--theme-colors__main_fadest);
    --bubbles-item-delete-padding: 17px;
    --bubbles-item-edit-delete-padding: 38px;
    --bubbles-icon-offset-x: 1px;

    --collapse-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjlFRUI4RTM2NDk2NDExRThBMzI4OTMyMzI4MjYxQjJGIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjlFRUI4RTM3NDk2NDExRThBMzI4OTMyMzI4MjYxQjJGIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OUVFQjhFMzQ0OTY0MTFFOEEzMjg5MzIzMjgyNjFCMkYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OUVFQjhFMzU0OTY0MTFFOEEzMjg5MzIzMjgyNjFCMkYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz42Z48yAAAAeklEQVR42mL8//8/AzmAiYFMwILMYWRkxKsY2XW4bPwHxH0gs/CaAsNIIAyIfwDxSiBmx6oWh0YQcADi90C8H4gFSNEIAjpA/AiIL6NrJBSqIGeykeJHEHAG4k+kOjUKiH+SEzig6OhHjy5ktSzkpiiykxwjuYkcIMAA6W6BsPef8/UAAAAASUVORK5CYII=);

    /* tabs */
    --tab-item-padding: 4px 15px;
    --tab-item-font-size: var(--base-font-size);
    --tab-panel-container-padding: 20px 15px;
    --tab-header-justify: flex-start;

    --popup-window-bg: var(--theme-colors__main);
    --popup-content-padding: 10px;
    --popup-header-btn-font-size_equate: 22px;
    --system-message-font-size: 15px;
}
