<div class="js-remove">
    <i class="js-clear-button user-avatar-editor__empty icon-remove fal fa-times"></i>
</div>
<div class="js-image user-avatar-editor">
    <div class="js-initials user-avatar-editor__txt">
        <div class="user-avatar-default-icon">
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="js-tooltip user-avatar-editor__btn">
        <span class="user-avatar-editor-btn">{{localize
            'CORE.FORM.EDITORS.AVATAR.CHANGE'}}</span>
    </div>
</div>