<span class="checkbox js-toggle-button">
    <span class="svg-icons-wrp svg-icons-wrp_checked">
        <svg class="svg-icons svg-icons_checked"><use xlink:href="#svg-icons_checked" /> </svg>
    </span>
</span>
<span class="checkbox-text js-display-text">{{#if displayHtml}}{{{displayHtml}}}{{else}}{{displayText}}{{/if}}</span>
