<span class="js-editor-checkbox__toggle-button checkbox"></span>
{{#if displayText}}
<span class="checkbox-text js-editor-checkbox__display-text">{{displayText}}</span>
{{else}}
    {{#if displayHtml}}
        <span class="checkbox-text js-editor-checkbox__display-text">{{{displayHtml}}}</span>
    {{/if}}
{{/if}}
