<input type="text" class="js-colorpicker colorpicker dev-colorpicker" name="color" value="{{value}}">
<input type="text" class="hexcolor dev-hexcolor input input_color js-input" value="{{value}}">
<div class="svg-icons-wrp">
    <div class="svg-icons-wrp__empty">
        <svg class="svg-icons svg-icons_paint-brush"><use xlink:href="#icon-paint-brush" /></svg>
    </div>
</div>
<i class="js-clear-button editor__icons icon-remove fal fa-times"></i>

