<input type="color" class="colorpicker dev-colorpicker" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{value}}">
<input type="text" class="hexcolor dev-hexcolor input input_color js-input" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="{{value}}">
<div class="svg-icons-wrp">
    <div class="svg-icons-wrp__empty">
        <svg class="svg-icons svg-icons_paint-brush"><use xlink:href="#icon-paint-brush" /></svg>
    </div>
    <div class="js-clear-button svg-icons-wrp__remove">
        <svg class="svg-icons svg-icons_remove"><use xlink:href="#icon-remove" /></svg>
    </div>
</div>

