{{#if showTypeEditor}}<div class="js-complex-type-container dev-complex-padding"></div>{{/if}}
{{#if showValue}}<div class="js-complex-value-container dev-complex-editor-item"></div>{{/if}}
{{#if showContext}}<div class="js-complex-context-container dev-complex-editor-item"></div>{{/if}}
{{#if showScript}}<div class="js-complex-script-container dev-complex-editor-item"></div>{{/if}}
{{#if showExpression}}<div class="js-complex-expression-container dev-complex-editor-item" ></div>{{/if}}
{{#if showTemplate}}<div class="js-complex-template-container dev-complex-editor-item"></div>{{/if}}
