<div class="js-date-dropdown-region date-dropdown-wrp"></div>
{{#if showTime}}
    <div class="js-btn-separator btn-separator"></div>
{{/if}}
<div class="js-time-dropdown-region time-dropdown-wrp"></div>
{{#if isMobile}}
    <input type="{{mobileInputType}}" class="js-mobile-input date-mobile-input">
{{/if}}

