<div class="date-time js-date-region">
    <input class="js-date-input input input_date" type="text">
    <div class="js-date-dropdown-region"></div>
</div>
<div class="date-time js-time-region">
    <input class="js-time-input input input_time">
    <div class="js-time-dropdown-region"></div>
</div>