<span class="js-add-region js-file-button btn btn-strong btn-icon" title="{{displayText}}">
    <i class="{{iconPrefixer 'paperclip'}}"></i>
</span>
<form class="js-file-form">
    <input name="fileId" type="file" multiple="" class="js-file-input input-upload" accept="{{fileFormat}}" style="display: none">
</form>
<ul class="documents js-collection-container"></ul>
<div class="field-documents__more js-show-more">
    <span class="js-show-more-text">{{localize 'CORE.FORM.EDITORS.DOCUMENT.SHOWMORE'}}</span>
    <span class="js-invisible-count show-more-counter"></span>
</div>
