<div class="js-file-zone documents__drop-zone">
  <i class="documents-collapse-icon {{iconPrefixer 'angle-up'}} js-collapse-icon"></i>
  <div class="documents__wrapper">
        <span class="documents__text">{{{placeHolderText}}}
            <span class="documents__upload toolbar-btn js-file-button" tabindex="0" title="{{displayText}}">{{localize 'CORE.FORM.EDITORS.DOCUMENT.CHOOSE'}}</span>
        </span>
  </div>
</div>

<input name="fileId" type="file" {{#if multiple}} multiple {{/if}} class="js-file-input input-upload" accept="{{fileFormat}}" style="display: none">

<!--<div class="documents emptyDocumentPlaceholder">{{localize 'CORE.FORM.EDITORS.DOCUMENT.NODOCUMENT'}}</div>-->

<ul class="images js-collection-container"></ul>

<div class="document-show_more js-show-more">
    <span class="js-show-more-text">{{localize 'CORE.FORM.EDITORS.DOCUMENT.SHOWMORE'}}</span>
    <i class="js-collapse-icon-more documents-collapse-icon-more {{iconPrefixer 'angle-up'}}"></i>
</div>
