{{#if isMobile}}
    <span class="toolbar-btn js-file-button" tabindex="0" title="{{displayText}}">{{localize 'CORE.FORM.EDITORS.DOCUMENT.CHOOSE'}}</span>
{{else}}
    <i class="editor__collapse-i {{iconPrefixer 'angle-up'}} js-collapse-icon"></i>
    <form class="drop-zone editor__drop-zone js-file-zone">
        <span class="drop-zone__text">{{{placeHolderText}}}</span>
        <span class="toolbar-btn js-file-button" tabindex="0" title="{{displayText}}">{{localize 'CORE.FORM.EDITORS.DOCUMENT.CHOOSE'}}</span>
    </form>
{{/if}}

<input name="fileId" type="file" {{#if multiple}} multiple {{/if}} class="js-file-input" accept="{{fileFormat}}" style="display: none">

<div class="l-list l-list_{{#if showAsPicture}}picture{{else}}images{{/if}} js-list">
    <ul class="editor__list l-list__list js-collection-list"></ul>
    <div class="l-list__show-more {{#unless showAsPicture}}l-list__show-more_shadow{{/unless}} js-show-more">
        <div class="l-list__show-more-btn js-more-btn">
            <span class="l-list__more-text js-more-btn-text">{{localize 'CORE.FORM.EDITORS.DOCUMENT.SHOWMORE'}}</span>
            <i class="l-list__caret-i {{iconPrefixer 'angle-up'}}"></i>
        </div>
    </div>
</div>
