<div class="time-wrp js-time-region"></div>
<div class="svg-icons-wrp">
    <div class="svg-icons-wrp__empty">
        <svg class="svg-icons svg-icons_time"><use xlink:href="#icon-time" /></svg>
    </div>
</div>
<i class="js-clear-button editor__icons icon-remove fal fa-times"></i>