<div class="field-toggle toggle-wrp js-workspaceitems-editor">
    <span class="link-for-popup js-workspaceitems-text">{{localize 'SUITEGENERAL.FORM.EDITORS.WORKSPACEITEMSPLIT.EDITWORKSPACESECTIONS'}}</span>
</div>
