<span class="js-text reference-field__txt btn-wrp">
    {{#if text}}
        {{text}}
    {{else}}
        {{localize 'CORE.FORM.EDITORS.REFERENCE.NOTSET'}}
    {{/if}}
</span>
<span class="js-clear-button btn-remove btn-remove_absolute"></span>