<div class="js-loading-region l-loader"></div>

<div class="dd-list__filter dd-list__filter_reference js-search-bar-container">
    {{#if text}}
    <div class="dd-list__title btn-wrp-active">
        {{text}}
        <i class="js-clear editor__icons icon-remove fa fa-times"></i>
    </div>
    {{/if}}
    <div class="list-search list-search_dd">
        <input type="text" class="list-search__input js-input" placeholder="{{localize 'CORE.FORM.EDITORS.REFERENCE.SEARCH'}}">
    </div>
</div>
<div class="dd-list__list dd-list__list_reference">
    <div class="js-list-region dd-list__wrp {{#if showAddNewButton}}dd-list__wrp_button{{/if}}"></div>
</div>
{{#if showAddNewButton}}
<div class="dd-list__btn js-add-new-button-region"></div>
{{/if}}
<div class="js-elements-quantity-warning-region"></div>