{{text}}
<div class="svg-icons-wrp">
    <div class="js-clear svg-icons-wrp__remove svg-icons-wrp__remove_dd-title">
        <svg class="svg-icons svg-icons_remove"><use xlink:href="#icon-remove" /> </svg>
    </div>
</div>