{{#if showCheckboxes}}
    <span class="checkbox js-checkbox">
        <svg class="svg-icons svg-icons_checked svg-icons_checked-reference">
            <use xlink:href="#icon-checked"/>
        </svg>
    </span>
{{/if}}
<span class="dd-list__text" title="{{text}}">{{text}}</span>
