{{#if showCheckboxes}}
    <div class="checkbox js-checkbox">
        <span class="svg-icons-wrp svg-icons-wrp_checked">
            <svg class="svg-icons svg-icons_checked">
                <use xlink:href="#icon-checked"/>
            </svg>
        </span>
    </div>
{{/if}}
{{text}}
