.msg-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.msg-popup::before {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.msg-popup__content {
    width: 650px;
    max-width: 80%;
    max-height: 80%;
    min-height: 110px;
    margin: auto;
    padding: 20px 30px;
    overflow: auto;
    display: inline-block;
    vertical-align: middle;
    background: var(--theme-colors__main);
}

.msg-popup__title {
    font-size: 22px;
    line-height: 1.2;
    color: var(--theme-colors__text);
    font-weight: 300;
    text-align: center;
}

.msg-popup__desc {
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
}

.msg-popup__buttons {
    text-align: right;
}

.msg-popup__button {
    margin: 0 0 0 10px;
    padding: 5px 25px;
    display: inline-block;
    font-size: 14px;
    color: var(--theme-colors__primary);
    outline: 0;
    border: 1px solid var(--theme-colors__main_strongest);
    background: var(--theme-colors__main);
    cursor: pointer;
}

.msg-popup__button:hover {
    color: var(--theme-colors__primary_fade);
    border-color: var(--theme-colors__primary_fade);
}

.msg-popup__button_default {
    color: var(--theme-colors__main);
    border-color: var(--theme-colors__primary);
    background: var(--theme-colors__primary);
}

.msg-popup__button_default:hover {
    color: var(--theme-colors__main);
    background-color: var(--theme-colors__primary_fade);
}
