@keyframes fadingAnimation {
    0%   {background-color: transparent;}
    100% {background-color: rgba(2, 63, 103, 0.5);}
}

.fadingPanel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    animation-name: fadingAnimation;
    animation-duration: 0.15s;
}

.fadingPanel_open {
    background-color: rgba(2, 63, 103, 0.5);
    display: block;
}

.popup-fade {
    z-index: 101;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
