<div class="js-code-editor-undo dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.UNDO'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-undo"></div>
</div>
<div class="js-code-editor-redo dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.REDO'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-redo"></div>
</div>
<div class="js-code-editor-format dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.FORMAT'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-format"></div>
</div>
<div class="js-code-editor-hint dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.HINT'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-hint"></div>
</div>
<div class="js-code-editor-find dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.FIND'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-find"></div>
</div>
<div class="js-code-editor-maximize dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.MAXIMIZE'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-maximize"></div>
</div>
<div class="js-code-editor-minimize dev-code-editor-toolbar_button_container" title="{{localize 'SUITEGENERAL.FORM.EDITORS.CODE.MINIMIZE'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-minimize"></div>
</div>