<div class="js-code-editor-compile dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.COMPILE'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-compile"><i class="{{iconPrefixer 'play'}}"></i></div>
</div>
<div class="js-code-editor-undo dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.UNDO'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-undo"><i class="{{iconPrefixer 'arrow-left'}}"></i></div>
</div>
<div class="js-code-editor-redo dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.REDO'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-redo"><i class="{{iconPrefixer 'arrow-right'}}"></i></div>
</div>
<div class="js-code-editor-format dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.FORMAT'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-format"><i class="{{iconPrefixer 'edit'}}"></i></div>
</div>
<div class="js-code-editor-hint dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.HINT'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-hint"><i class="{{iconPrefixer 'file-code'}}"></i></div>
</div>
<div class="js-code-editor-find dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.FIND'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-find"><i class="{{iconPrefixer 'search'}}"></i></div>
</div>
<div class="js-code-editor-maximize dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.MAXIMIZE'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-maximize"><i class="{{iconPrefixer 'expand-arrows-alt'}}"></i></div>
</div>
<div class="js-code-editor-minimize dev-code-editor-toolbar_button_container" title="{{localize 'CORE.FORM.EDITORS.CODE.MINIMIZE'}}">
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-minimize"><i class="{{iconPrefixer 'compress-arrows-alt'}}"></i></div>
</div>
<div class="js-code-editor-save dev-code-editor-toolbar_button_container dev-code-editor-toolbar_button_container-save"  title="{{localize 'CORE.COMMON.SAVE'}}"> 
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-save"><i class="{{iconPrefixer 'check'}}"></i></div>
</div>
<div class="js-code-editor-close dev-code-editor-toolbar_button_container dev-code-editor-toolbar_button_container-close"  title="{{localize 'CORE.COMMON.CLOSE'}}"> 
    <div class="dev-code-editor-toolbar_button dev-code-editor-toolbar_button-close"><i class="{{iconPrefixer 'times'}}"></i></div>
</div>
