.editor_focused:not(.editor_readonly):not(.editor_disabled) .input,
.editor_focused:not(.editor_readonly):not(.editor_disabled) .textarea {
  border-color: var(--input-active-border-color);
}

.checkbox,
.radiobutton {
  background: var(--light-gradient);
}

.editor_checked:not(.editor_readonly):not(.editor_disabled) .checkbox,
.editor_checked.checkbox {
  color: var(--white);
  background: var(--checkbox-checked-color);
  border-color: var(--checkbox-checked-color);
}
.tr-search__input {
  @apply --input-theme;
  height: var(--input-height);
  line-height: var(--input-line-height);
  background-size: 14px;
}
/* dropdown-list */

.dd-list__i.selected,
.selected .dd-list__i {
  font-weight: 600;
  color: var(--blue-300);
}

/* icons */

svg.svg-icons.svg-icons_remove {
  fill: var(--red);
}
svg.svg-grid-icons.svg-icons_flag-yes {
  fill: var(--main-color);
}
svg.svg-grid-icons.svg-icons_flag-none {
  fill: var(--error-color);
}

.grid-header-column-content .collapsible-btn {
  background-image: var(--collapse-icon-header);
  top: -1px;
}

/* Tabs */

.layout__tab-layout_move-button {
  @apply --button-theme;
  @apply --button-outline-theme;
  @apply --tab-move-btn-theme;
}

.layout__tab-layout--move .layout__tab-layout__panel-container {
  border-radius: 4px;
}