.editor_focused:not(.editor_readonly):not(.editor_disabled) .input,
.editor_focused:not(.editor_readonly):not(.editor_disabled) .textarea {
  border-color: var(--input-active-border-color);
}

.checkbox,
.radiobutton {
  background: var(--light-gradient);
}

.editor_checked:not(.editor_readonly):not(.editor_disabled) .checkbox,
.editor_checked.checkbox {
  color: var(--white);
  background: var(--checkbox-checked-color);
  border-color: var(--checkbox-checked-color);
}

/* dropdown-list */

.dd-list__i.selected,
.selected .dd-list__i {
  font-weight: 600;
  color: var(--blue-300);
}

/* icons */

svg.svg-icons.svg-icons_remove {
  fill: var(--red);
}
svg.svg-grid-icons.svg-icons_flag-yes {
  fill: var(--main-color);
}
svg.svg-grid-icons.svg-icons_flag-none {
  fill: var(--error-color);
}