.editor_focused:not(.editor_readonly):not(.editor_disabled) .input,
.editor_focused:not(.editor_readonly):not(.editor_disabled) .textarea {
  border-color: var(--input-active-border-color);
}
.editor_disabled {
  @apply --custom-cotrol-disabled-theme;
}
.editor_disabled.editor_bubble--single .bubbles__list,
.editor_readonly.editor_bubble--single .bubbles__list {
    @apply --custom-cotrol-disabled-theme;
    color: var(--grey-400);
}
.editor_disabled.editor_bubble:not(.editor_bubble--single) .bubbles__caret,
.editor_readonly.editor_bubble:not(.editor_bubble--single) .bubbles__caret {
  opacity: 0.7;
}
.editor_disabled .checkbox-text,
.editor_disabled .radiobutton-text,
.editor_readonly .radiobutton-text{
  color: var(--grey-400);
}

.editor_checked:not(.editor_readonly):not(.editor_disabled) .checkbox,
.editor_checked.checkbox {
  color: var(--checkbox-checked-color);
  background: var(--light-gradient);
  border-color: var(--checkbox-border-color);
}

.tr-search__input {
  @apply --input-theme;
  height: var(--input-height);
  background-size: 14px;
}

.checkbox,
.radiobutton {
  background: var(--light-gradient);
}
.checkbox .svg-icons {
  width: 0.9em;
  height: 0.9em;
}

/* Buttons */

.btn.btn-outline, .sp-cancel {
  @apply --button-outline-theme;
}
.btn.btn-outline:hover, .sp-cancel:hover {
  @apply --button-outline-hover-theme;
}
.btn.btn-outline:active, .sp-cancel:active {
  @apply --button-outline-active-theme;
}

.btn.btn-icon {
  @apply --button-icon-theme;
}
.btn.btn-icon svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  top: 0.125em;
  position: relative;
}

.btn.btn_arrow {
  background-position: 50%;
  background-repeat: no-repeat;
}

.btn.btn-small {
  padding: 2px 15px;
  font-size: 13px;
  font-weight: 600;
}
.btn.btn-large {
  padding: 4px 15px;
  font-size: 20px;
}

/* dropdown-list */

.subtext-list.selected .datalist-container-text,
.subtext-list.selected .datalist-container-subtext,
.subtext-list.selected .datalist-icon,
.dd-list__i.selected,
.selected .dd-list__i,
.dd-list__i:hover,
.time-dropdown__i:hover,
.popout-menu__i:hover .popout-menu__txt {
  color: var(--blue-300);
}

.subtext-list.selected .datalist-container-text,
.subtext-list.selected .datalist-container-subtext,
.dd-list__i.selected,
.selected .dd-list__i {
  font-weight: 600;
}
.bubbles__list .spinner {
  right: 25px;
}
.bubbles__list:empty:before {
  content: '--';
  padding: 3px 0 1px 0;
}
.bubbles__form {
  padding: 2px 0;
}
.dropdown.open.dropdown__wrp_down .bubbles__list {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown.open.dropdown__wrp_up .bubbles__list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown__wrp {
  padding: 1px 0;
  border: var(--border);
  border-radius: var(--border-radius);
}
.dropdown__wrp.dropdown__wrp_down {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.dropdown__wrp.dropdown__wrp_up {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.dropdown__wrp_reference,
.dropdown__wrp_time,
.dropdown__wrp_datepicker {
  margin-top: -1px;
}

.dropdown__wrp_reference.dropdown__wrp_up {
  margin-top: 1px;
}

/* icons */

svg.svg-icons.svg-icons_remove {
  fill: var(--red);
}
svg.svg-grid-icons.svg-icons_flag-yes {
  fill: var(--main-color);
}
svg.svg-grid-icons.svg-icons_flag-none {
  fill: var(--error-color);
}

.grid-header-column .collapsible-btn {
  background-image: var(--collapse-icon-header);
  top: -1px;
}

/* Tabs */

.layout__tab-layout_move-button {
  @apply --button-theme;
  @apply --button-strong;
  @apply --button-outline-theme;
  @apply --tab-move-btn-theme;
}

.layout__tab-layout--move .layout__tab-layout__panel-container {
  border-radius: 4px;
}

.grid-toolbar-region {
  padding-right: 10px;
}

.grid-toolbar__search{
  order: 2;
}

/*------------------ Form Label ------------------*/
.form-label__info-button,
.form-label__error-button {
  transition: color 0.3s;
}
.form-label__info-button {
  color: var(--grey-400);
}
.form-label__error-button {
  color: var(--red);
}

.form-label__info-button:hover {
  color: var(--text-color);
}
.form-label__error-button:hover {
  color: var(--red-dark);
}

.form-label:not(.form-label--empty) + .editor_document,
.form-label:not(.form-label--empty) + .editor_checkbox {
  padding-left: var(--form-input-padding);
}

.error .form-label {
  color: var(--error-color);
}
.required .form-label__txt::after,
.form-label_required .form-label__txt::after,
.cell.required::before {
  content: '*';
  color: var(--error-color);
}
.cell.required::before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.cell.error.required::before {
  display: none;
}

.layout__horizontal-layout > div:not(:last-child),
.layout__horizontal-layout-list-item:not(:last-child) {
  margin-right: 10px;
}

.layout__vertical-layout > div,
.layout__vertical-layout-item {
  margin-bottom: 20px;
}

.group-toggle {
  order: 2;
}

.layout-group .layout-group__content > .layout-group .group-title {
  font-size: 15px;
  padding-left: 0
}
.layout-group .layout-group__content > .layout-group .layout-group__content {
  background-color: #fff;
}

.layout__popup-view-window {
  border-radius: var(--border-radius-big);
}

.layout__popup-view-header-text {
  flex: 1 1 auto;
  padding-right: 10px;
}
.layout__popup-view-header__btn {
  opacity: 0.5;
}
.layout__popup-view-header__btn:hover {
  opacity: 1;
}

.cell .date-view,
.cell .time-view,
.cell > div,
.editable-grid-field {
    height: 100%;
}

.cell > .editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 15px;
}

.cell > .context_select {
  position: static;
  padding: 4px 20px 4px 10px;
}

.cell > .editor.editor_document {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell > .editor.editor_document > .documents {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cell > .editor.editor_document > .documents .task-links__i {
  margin-bottom: 0;
  margin-right: 2em;
}

.cell .documents__text {
  display: none;
}

.cell .documents__drop-zone {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: transparent; 
}

.cell .documents__wrapper {
  padding: 0;
  border: none;
}

.cell .js-tree-first-cell + .editor {
  position: static;
  display: inline-flex;
}
.cell .js-tree-first-cell + .editor,
.cell .js-tree-first-cell + .editor.editor_bubble {
  padding: 0;
}
.cell .dropdown {
  width: 100%;
}
.cell > .editor.editor_bubble {
  padding: 0 9px 0 15px;
}

.layout__popup-view-content>.layout__form-view {
    display: flex;
}

.layout__popup-view-content .systemMessageBody,
.layout__popup-view-content .layout__form-view > .layout__vertical-layout,
.layout__popup-view-content .layout__form-view > .layout__horizontal-layout {
  @apply --popup-form-content-theme;
}

/* Document upload */
.editor_document {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.task-links__i {
  margin-bottom: 10px;
}
.btn.field-documents__more {
  width: 100%;
  text-align: center;
  background-color: var(--grey-200);
}
.btn.field-documents__more:hover {
  background-color: var(--grey-300);
}
.show-more-counter:not(:empty) {
  border-radius: 10px;
  background-color: var(--grey-400);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 2px 6px;
}

/* Date Time */

.editor_date-time.LongDate .editor_date-time_date {
  max-width: 250px;
}
.editor_date-time.ShortDate .editor_date-time_date,
.editor_date-time.DateIso .editor_date-time_date {
  max-width: 95px;
}
.editor_date-time.CondensedDate .editor_date-time_date {
  max-width: 130px;
}
.editor_date-time.YearMonth .editor_date-time_date {
  max-width: 140px;
}

.editor_date-time.ShortTime .editor_date-time_time .input {
  max-width: 60px;
}
.editor_date-time.LongTime .editor_date-time_time .input {
  max-width: 90px;
}

/* /Date Time/ */