<i class="js-search-icon tr-search-icon fal fa-search"></i>
<input class="js-search-input tr-search__input" placeholder="{{{placeholder}}}" autocomplete="off">
<div class="js-search-clear tr-search__clear">
    <i class="icon-remove fal fa-times"></i>
</div>
