<div class="columns-select__panel">
    {{#if showToolbar}}
    <h3 class="columns-select__header">{{itemsToSelectText}}</h3>
    {{/if}} {{#if showToolbar}}
    <div class="js-available-items-toolbar-region "> </div>{{/if}}
    <div class="columns-select-list js-available-items-list-region"></div>
</div>
<div class="columns-select__btn">
    <div class="btn btn-outline btn-icon btn_arrow btn_arrow-right js-move-right-button"></div>
    <div class="btn btn-outline btn-icon btn_arrow btn_arrow-all-right js-move-right-all-button"></div>
    {{#if allowRemove}}
    <div class="btn btn-outline btn-icon btn_arrow btn_arrow-left js-move-left-button"></div>
    <div class="btn btn-outline btn-icon btn_arrow btn_arrow-all-left js-move-left-all-button"></div>
    {{/if}}
</div>
<div class="columns-select__panel">
    {{#if showToolbar}}
    <h3 class="columns-select__header columns-select__header_right">{{selectedItemsText}}</h3>
    {{/if}} {{#if showToolbar}}
    <div class="js-selected-items-toolbar-region"></div>{{/if}}
    <div class="columns-select-list js-selected-items-list-region"></div>
</div>