<div class="editable-grid-header">
    <div class="form-label form-label_editable-grid js-collection-name"></div>
    <div class="collection-right-items-region">
        <div class="js-editable-grid-header-search-region editable-grid-header-search"></div>
        <div class="js-editable-grid-header-toolbar-region"></div>
    </div>
</div>
<div class="fr-collection-grid js-grid-region"></div>