<div class="form-group">
    <div class="form-label dev-form-label">
        <div class="js-field-error form-label__error"></div>
    </div>
    <div class="form-editor js-editor-region dev-form-editor"></div>
</div>