<div class="collection-header__btn js-header-action_create" title="{{localize 'CORE.GRID.TOOLBAR.CREATE'}}">
    <span class="collection-header-btn__icon"><svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve"><g><polygon fill-rule="evenodd" fill="#636262" points="22,11 13,11 13,2 11,2 11,11 2,11 2,13 11,13 11,22 13,22 13,13 22,13   "></polygon></g></svg></span>
    <span class="collection-header-btn__text">{{localize 'CORE.GRID.TOOLBAR.CREATE'}}</span>
</div>
<div class="collection-header__btn js-header-action_delete" title="{{localize 'CORE.GRID.TOOLBAR.DELETE'}}">
    <span class="collection-header-btn__icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"><polygon fill="#ca4e30" points="15,3.7 13.3,2 8.5,6.8 3.7,2 2,3.7 6.8,8.5 2,13.3 3.7,15 8.5,10.2 13.3,15 15,13.3 10.2,8.5 "/></svg></span>
    <span class="collection-header-btn__text">{{localize 'CORE.GRID.TOOLBAR.DELETE'}}</span>
</div>
