<div class="editable-grid-header">
    <div class="form-label form-label_editable-grid js-collection-name" style="display: none"></div>
    <div class="js-editable-grid-header-toolbar-region editable-grid-header-search"></div>
    <div class="js-editable-grid-header-search-region"></div>
</div>
<div class="fr-collection-grid js-grid-region"></div>