<div class="collection-header">
    <div class="form-label form-label_collection js-collection-name"></div>
    <div class="collection-right-items-region">
        <div class="js-collection-header-search-region"></div>
        <div class="js-collection-header-toolbar-region"></div>
    </div>
</div>
<div class="fr-collection-grid js-grid-region"></div>